<section class="max-w-6xl mx-auto py-24 text-center">
  <h2 class="h2 text-primary-800">Visit campus and earn a scholarship</h2>
  <p class="paragraph mb-8 max-w-2xl mx-auto">
    Beginning in the 2023-24 academic year, students entering Messiah University will receive a
    $1,000 scholarship, renewable for up to four years, just for visiting campus.
  </p>
  <a href="https://www.messiah.edu/visitscholarship" class="btn-primary">Scholarship details</a>
</section>
