---
import Youtube from "../../components/youtube.astro";
---

<section class="bg-[url(/patterns/pattern-bg.png)] py-24 scroll-m-24" id="diversity">
  <div class="wrapper">
    <h2 class="text-primary-800 h2 text-center">A diverse community</h2>
    <p class="paragraph text-center max-w-4xl mx-auto">
      Messiah’s goal is to bring together students from racially and ethnically diverse backgrounds
      who reflect the variety and richness within God’s kingdom. We continually learn from each
      other—through both our similarities and differences—which promotes an important intercultural
      educational experience. Multicultural and international students are an integral part of
      Messiah’s community and campus life.
    </p>

    <div class="flex flex-col md:flex-row gap-8 mt-8">
      <div class="md:w-1/2 text-center md:text-left">
        <h3 class="h3 text-primary-800">Diversity programming</h3>
        <p class="paragraph">
          Programming through Messiah’s Agape Center for Local and Global Engagement creates safe,
          transformative learning environments and opportunities for students to engage the world as
          reconcilers and servant leaders. As a Messiah student, you’ll experience multiple views,
          customs and perspectives that will help you to respond with discernment and a deeper
          understanding of the complexities of our contemporary world.
        </p>

        <div class="flex gap-4 flex-wrap justify-center md:justify-start mt-8">
          <a href="https://www.messiah.edu/agape" class="btn-tertiary">Agape Center</a>
          <a href="https://www.messiah.edu/info/20725/diversity_affairs" class="btn-tertiary"
            >Diversity Affairs Office</a
          >
        </div>
      </div>

      <Youtube src="https://www.youtube.com/watch?v=r2bvn2pbkoE" class="md:w-1/2" />
    </div>
  </div>
</section>
