<section
  class="bg-[url(/images/support-bg.jpg)] text-white flex flex-col justify-end text-center bg-no-repeat bg-cover md:h-[60vw] md:max-h-[1000px] md:min-h-[600px] py-12 scroll-m-24"
  id="support"
>
  <div class="wrapper py-24">
    <h2 class="h2">We're here to support you!</h2>
    <p class="paragraph my-8 max-w-4xl mx-auto">
      Messiah offers a safe environment that enhances your overall well-being and encourages a
      holistic learning experience through academics, spiritual formation and a strong emphasis on
      physical and emotional care. Because safety; emotional, physical and spiritual care; and an
      accommodating learning environment are so important to the Messiah University community,
      you’ll find plenty of resources and caring faculty who make our campus a welcoming place to
      live and learn.
    </p>

    <div class="flex flex-wrap gap-4 justify-center">
      <a href="https://www.messiah.edu/safety" class="btn-secondary text-primary-800">Safety</a>
      <a
        href="https://www.messiah.edu/info/20895/counseling_services"
        class="btn-secondary text-primary-800">Counseling</a
      >
      <a
        href="https://www.messiah.edu/info/20896/health_services"
        class="btn-secondary text-primary-800">Health services</a
      >
      <a
        href="https://www.messiah.edu/info/21486/incoming_students"
        class="btn-secondary text-primary-800">First-year experience</a
      >
    </div>
  </div>
</section>
