---
import TabbedDialog from "../../components/tabbed-dialog.astro";

const items = [
  {
    name: "On-campus",
    preview: "https://www.messiah.edu/site/custom_scripts/styles/img/student-life/wtd-5.jpg",
  },
  {
    name: "Off-campus",
    preview: "https://www.messiah.edu/site/custom_scripts/styles/img/student-life/wtd-6.jpg",
  },
  {
    name: "Campus tranditions",
    preview: "https://www.messiah.edu/site/custom_scripts/styles/img/student-life/wtd-4.jpg",
  },
  {
    name: "Fan experience",
    preview: "https://www.messiah.edu/site/custom_scripts/styles/img/student-life/wtd-1.jpg",
  },
  {
    name: "Sport-related activities",
    preview: "https://www.messiah.edu/site/custom_scripts/styles/img/student-life/wtd-2.jpg",
  },
  {
    name: "Clubs and organizations",
    preview: "https://www.messiah.edu/site/custom_scripts/styles/img/student-life/wtd-3.jpg",
  },
];
---

<section class="bg-[url(/images/campus-bg.jpg)] bg-no-repeat bg-cover py-24 relative scroll-m-24">
  <div class="wrapper" x-data="{ selected: null }">
    <h2 class="text-white h2 text-center">What's there to do?</h2>

    <ul class="grid grid-cols-2 md:grid-cols-3 gap-8 my-12">
      {
        items.map((item, index) => (
          <li>
            <button
              @click={`selected = 'index-${index}'`}
              type="button"
              class="text-white group font-title w-full font-bold text-center text-xl sm:text-2xl md:text-3xl flex flex-col items-center"
            >
              <img
                src={item.preview}
                alt=""
                class="mb-2 rounded-full group-hover:opacity-75 border-4 border-white transition-opacity"
              />
              {item.name}
            </button>
          </li>
        ))
      }
    </ul>

    <TabbedDialog
      tabs={items}
      title="What's there to do?"
      class="bg-[url(/images/campus-bg-overlay.webp)] bg-no-repeat bg-cover bg-primary-950"
    >
      <div
        id="tabbed-dialog-tabpanel-0"
        role="tabpanel"
        x-show="selected === 'index-0'"
        aria-labelledby="tabbed-dialog-tab-0"
      >
        <h4
          class="text-center text-3xl my-12 relative before:absolute before:w-1/4 md:before:w-1/4 before:h-1 before:bg-gray-400 before:left-0 before:top-1/2 after:absolute after:w-1/4 md:after:w-1/4 after:h-1 after:bg-gray-400 after:right-0 after:top-1/2 after:hidden before:hidden md:after:block md:before:block"
        >
          On-campus
        </h4>

        <div>
          <img
            src="https://www.messiah.edu/site/custom_scripts/styles/img/student-life/on-campus.jpg"
            alt=""
            class="float-right ml-4 mb-4 w-1/3"
          />

          <p class="mb-4 paragraph">
            When looking for events or activities on campus, students know where to look: the <a
              href="https://www.messiah.edu/info/21557/student_activities_board_sab"
              class="underline link">Student Activities Board (SAB)</a
            >, Multicultural council and other student-led organizations. They plan dances,
            concerts, coffeehouses, films, off-campus excursions and many other activities.
          </p>

          <p class="mb-4 paragraph">
            Like live entertainment? Hang out in the student union and catch a free concert
            featuring up-and-coming bands, play a game of pool or watch your classmates perform
            during the monthly <a
              href="https://www.messiah.edu/info/21622/student_talent/2632/coffeehouse"
              class="link underline">Coffeehouse</a
            >. Want to relax? Grab a latte and head to our on-campus theater to catch a movie.
            Looking to be active? Jog along the Yellow Breeches Creek, or show off your dance moves
            at the Spring Fling. From experiencing amazing new cuisine at the Food Truck Fest to
            trying your hand at pumpkin carving at the annual Fall Festival or Spring Sha-bing, your
            social calendar won’t be lacking.
          </p>
        </div>
      </div>

      <div
        id="tabbed-dialog-tabpanel-1"
        role="tabpanel"
        x-show="selected === 'index-1'"
        aria-labelledby="tabbed-dialog-tab-1"
      >
        <h4
          class="text-center text-3xl my-12 relative before:absolute before:w-1/4 md:before:w-1/4 before:h-1 before:bg-gray-400 before:left-0 before:top-1/2 after:absolute after:w-1/4 md:after:w-1/4 after:h-1 after:bg-gray-400 after:right-0 after:top-1/2 after:hidden before:hidden md:after:block md:before:block"
        >
          Off-campus
        </h4>

        <div>
          <img
            src="https://www.messiah.edu/site/custom_scripts/styles/img/student-life/off-campus-adventures.jpg"
            alt=""
            class="float-right ml-4 mb-4 w-1/3"
          />

          <p class="mb-4 paragraph">
            While there’s plenty to do on campus, we realize you might want to explore the
            surrounding area, too. Luckily, we’re only a short drive from Harrisburg—Pennsylvania’s
            capital city—and many other towns and metropolitan areas. Within just a few minutes of
            campus, you’ll find plenty of restaurants, shopping, entertainment venues, movie
            theaters, galleries, coffee shops and museums.
          </p>

          <div class="flex gap-2 flex-wrap mt-4">
            <a class="btn-quaternary" href="https://www.messiah.edu/area">Things to see and do!</a>
          </div>
        </div>
      </div>

      <div
        id="tabbed-dialog-tabpanel-2"
        role="tabpanel"
        x-show="selected === 'index-2'"
        aria-labelledby="tabbed-dialog-tab-2"
      >
        <h4
          class="text-center text-3xl my-12 relative before:absolute before:w-1/4 md:before:w-1/4 before:h-1 before:bg-gray-400 before:left-0 before:top-1/2 after:absolute after:w-1/4 md:after:w-1/4 after:h-1 after:bg-gray-400 after:right-0 after:top-1/2 after:hidden before:hidden md:after:block md:before:block"
        >
          Campus traditions
        </h4>

        <div class="md:flex gap-8" x-data="{ selected: 'candlelight-services' }">
          <div class="md:w-1/3">
            <p class="mb-4">
              From the moment you step onto campus at Messiah until you cross the stage at
              Commencement, there are a variety of traditions and annual events that bring students
              together as a fun and supportive campus community.
            </p>

            <ul class="mb-8 text-center md:text-left">
              <li>
                <button
                  type="button"
                  class="font-title uppercase font-bold md:text-xl"
                  :class="selected === 'candlelight-services' ? 'text-tertiary-400 underline' : ''"
                  @click="selected = 'candlelight-services'">Candlelight services</button
                >
              </li>
              <li>
                <button
                  type="button"
                  class="font-title uppercase font-bold md:text-xl"
                  :class="selected === 'white-out-match' ? 'text-tertiary-400 underline' : ''"
                  @click="selected = 'white-out-match'">White-out match</button
                >
              </li>
              <li>
                <button
                  type="button"
                  class="font-title uppercase font-bold md:text-xl"
                  :class="selected === 'powderpuff-football' ? 'text-tertiary-400 underline' : ''"
                  @click="selected = 'powderpuff-football'">Powderpuff football</button
                >
              </li>
              <li>
                <button
                  type="button"
                  class="font-title uppercase font-bold md:text-xl"
                  :class="selected === 'service-day' ? 'text-tertiary-400 underline' : ''"
                  @click="selected = 'service-day'">Service day</button
                >
              </li>
              <li>
                <button
                  type="button"
                  class="font-title uppercase font-bold md:text-xl"
                  :class="selected === 'final-week' ? 'text-tertiary-400 underline' : ''"
                  @click="selected = 'final-week'">Final week</button
                >
              </li>
              <li>
                <button
                  type="button"
                  class="font-title uppercase font-bold md:text-xl"
                  :class="selected === 'yellow-breeches' ? 'text-tertiary-400 underline' : ''"
                  @click="selected = 'yellow-breeches'">Yellow Breeches</button
                >
              </li>
            </ul>
          </div>

          <div class="md:w-2/3 relative">
            <div x-show="selected === 'candlelight-services'">
              <img
                src="https://www.messiah.edu/site/custom_scripts/styles/img/student-life/wtd-slide-1.jpg"
                alt=""
              />

              <h5 class="font-title uppercase font-bold mt-4 mb-2 text-xl">Candlelight services</h5>

              <p>
                Messiah students and their families experience two meaningful candlelight worship
                services—one at the end of first-year move-in day and one at Baccalaureate the night
                before Commencement. These powerful ceremonies are a meaningful way to bookend your
                time at Messiah—and to reflect on all that God has done in your life.
              </p>
            </div>

            <div x-show="selected === 'white-out-match'">
              <img
                src="https://www.messiah.edu/site/custom_scripts/styles/img/student-life/wtd-slide-2.jpg"
                alt=""
              />

              <h5 class="font-title uppercase font-bold mt-4 mb-2 text-xl">White-out march</h5>

              <p>
                Before the Homecoming soccer games, students are given white (free!) T-shirts. The
                spirited crowd—dressed in white and led by a bagpiper—marches across the Covered
                Bridge to the soccer field where they inspire Falcon fans to cheer on the big game!
              </p>
            </div>

            <div x-show="selected === 'powderpuff-football'">
              <img
                src="https://www.messiah.edu/site/custom_scripts/styles/img/student-life/wtd-slide-3.jpg"
                alt=""
              />

              <h5 class="font-title uppercase font-bold mt-4 mb-2 text-xl">Powderpuff football</h5>

              <p>
                The women gear up for a fun football game while the men take on the role as
                cheerleaders in this fun Homecoming tradition. The competition pits seniors against
                first-years and sophomores against juniors.
              </p>
            </div>

            <div x-show="selected === 'service-day'">
              <img
                src="https://www.messiah.edu/site/custom_scripts/styles/img/student-life/wtd-slide-4.jpg"
                alt=""
              />

              <h5 class="font-title uppercase font-bold mt-4 mb-2 text-xl">Service day</h5>

              <p>
                Each spring, Messiah hosts Service Day where students and employees have a day off
                from classes and work, and serve together as a campus community. This is done either
                as a volunteer for Special Olympics (hosted on our campus) or with any one of many
                outreach opportunities throughout the local area.
              </p>
            </div>

            <div x-show="selected === 'final-week'">
              <img
                src="https://www.messiah.edu/site/custom_scripts/styles/img/student-life/wtd-slide-6.jpg"
                alt=""
              />

              <h5 class="font-title uppercase font-bold mt-4 mb-2 text-xl">Final week</h5>

              <p>
                Studying for finals likely doesn’t seem like fun, but Messiah works hard to make
                that week more bearable for students. During finals week, Lottie Dining Hall opens
                one night between 10 p.m. and midnight and employee volunteers serve students free
                pancakes and tots. Then, at midnight every night during finals week, students let
                off a little steam with a collective scream out their windows!
              </p>
            </div>

            <div x-show="selected === 'yellow-breeches'">
              <img
                src="https://www.messiah.edu/site/custom_scripts/styles/img/student-life/wtd-slide-7.jpg"
                alt=""
              />

              <h5 class="font-title uppercase font-bold mt-4 mb-2 text-xl">Yellow Breeches</h5>

              <p>
                The beautiful Yellow Breeches Creek runs right through Messiah’s campus, and on any
                given day, you’ll see students enjoying a nap in a hammock, studying with friends,
                tubing or canoeing, and even fishing!
              </p>
            </div>
          </div>
        </div>
      </div>

      <div
        id="tabbed-dialog-tabpanel-3"
        role="tabpanel"
        x-show="selected === 'index-3'"
        aria-labelledby="tabbed-dialog-tab-3"
      >
        <h4
          class="text-center text-3xl my-12 relative before:absolute before:w-1/4 md:before:w-1/4 before:h-1 before:bg-gray-400 before:left-0 before:top-1/2 after:absolute after:w-1/4 md:after:w-1/4 after:h-1 after:bg-gray-400 after:right-0 after:top-1/2 after:hidden before:hidden md:after:block md:before:block"
        >
          Fan experience
        </h4>

        <div>
          <p class="paragraph mb-8">
            As a Messiah student, you'll have many opportunities to be a spectator and become a
            loyal Falcon fan, cheering on our 22 NCAA Division III teams at countless athletic
            events. Whether you’re at the diamond cheering on the softball team or spending a
            Saturday watching soccer or lacrosse, it’s a great way to spend time with friends and
            get in the school spirit!
          </p>

          <ul class="text-center flex items-center mb-4 justify-center">
            <li class="text-lg w-1/2 border-r border-tertiary-400">
              <img
                src="https://www.messiah.edu/site/custom_scripts/styles/img/student-life/champ-cup.png"
                alt=""
                class="mb-4 mx-auto"
                width="100"
              />
              <span class="text-tertiary-400">35</span> NCAA Division III<br /> Championships
            </li>
            <li class="text-lg w-1/2">
              <img
                src="https://www.messiah.edu/site/custom_scripts/styles/img/student-life/sports_icon.svg"
                alt=""
                class="mb-4 mx-auto"
                width="100"
              />
              <span class="text-tertiary-400">22</span> NCAA<br />DIII teams
            </li>
          </ul>

          <div class="text-center">
            <a href="https://gomessiah.com/" class="btn-quaternary">gomessiah.com</a>
          </div>
        </div>
      </div>

      <div
        id="tabbed-dialog-tabpanel-4"
        role="tabpanel"
        x-show="selected === 'index-4'"
        aria-labelledby="tabbed-dialog-tab-4"
      >
        <h4
          class="text-center text-3xl my-12 relative before:absolute before:w-1/4 md:before:w-1/4 before:h-1 before:bg-gray-400 before:left-0 before:top-1/2 after:absolute after:w-1/4 md:after:w-1/4 after:h-1 after:bg-gray-400 after:right-0 after:top-1/2 after:hidden before:hidden md:after:block md:before:block"
        >
          Sport-related activities
        </h4>

        <div>
          <img
            src="https://www.messiah.edu/site/custom_scripts/styles/img/student-life/sport-related-activities.jpg"
            alt=""
            class="float-right ml-4 mb-4 w-1/3"
          />

          <p class="mb-4 paragraph">
            In addition to NCAA athletics, there are many club sports and recreational leagues on
            campus, like Ultimate frisbee, field hockey and more. Club teams compete against other
            colleges and universities, while our recreational teams compete against each other for
            the coveted campus rec sports league title. As a Messiah athlete, no matter what level
            you compete at, you practice something of lifelong importance directing your talents and
            hard work toward a greater purpose.
          </p>

          <div class="flex gap-2 flex-wrap mt-4">
            <a class="btn-quaternary" href="http://www.gomessiah.com/clubsports">Club sports</a>
            <a class="btn-quaternary" href="https://www.messiah.edu/info/20711/rec_sports"
              >Rec sports</a
            >
            <a class="btn-quaternary" href="http://www.gomessiah.com/">NCAA sports</a>
          </div>
        </div>
      </div>

      <div
        id="tabbed-dialog-tabpanel-5"
        role="tabpanel"
        x-show="selected === 'index-5'"
        aria-labelledby="tabbed-dialog-tab-5"
      >
        <h4
          class="text-center text-3xl my-12 relative before:absolute before:w-1/4 md:before:w-1/4 before:h-1 before:bg-gray-400 before:left-0 before:top-1/2 after:absolute after:w-1/4 md:after:w-1/4 after:h-1 after:bg-gray-400 after:right-0 after:top-1/2 after:hidden before:hidden md:after:block md:before:block"
        >
          Clubs and organizations
        </h4>

        <div>
          <img
            src="https://www.messiah.edu/site/custom_scripts/styles/img/student-life/clubs-and-organizations.jpg"
            alt=""
            class="float-right ml-4 mb-4 w-1/3"
          />

          <p class="mb-4 paragraph">
            Messiah's campus is an active, busy place. You can engage your passions in any of the
            60+ clubs and organizations within the Student Government Association (SGA). These
            student-run groups play a crucial role in your education, offering you a place to serve,
            lead, grow and have fun outside the classroom.
          </p>

          <div class="flex gap-2 flex-wrap mt-4">
            <a
              class="btn-quaternary"
              href="https://www.messiah.edu/info/21478/clubs_and_organizations"
              >See our full list of clubs and organizations</a
            >
          </div>
        </div>
      </div>
    </TabbedDialog>
  </div>
</section>
