---
import Announcement from "../../components/announcement.astro";
import Sidebar from "../../components/sidebar.astro";
import WithoutHero from "../../layouts/without-hero.astro";

const sidebarLinks = [
  {
    title: "Web Services",
    children: [
      { href: "/", name: "FAQ's" },
      { href: "/", name: "Project planning" },
      { href: "/", name: "Services provided" },
      { href: "/", name: "Support & training" },
      { href: "/", name: "Website governance" },
    ],
  },
];
---

<WithoutHero
  title="Announcement Example"
  analyticsKey="web-services/announcement-example"
  description="Example of an announcement widget"
  breadcrumbs={[
    { name: "Home", href: "/" },
    { name: "Campus Directory", href: "/" },
    { name: "Offices", href: "/" },
    { name: "Web Services", href: "/" },
    { name: "Announcement Example", href: "/" },
  ]}
>
  <div class="flex flex-col lg:flex-row">
    <Sidebar links={sidebarLinks} />

    <article class="md:px-10 md:py-8 rich-text">
      <p>
        The announcement widget allows users to easily drag and drop an announcement anywhere on
        their homepage. The widget has two fields: a HTML editor announcement field and an image
        field. There are 4 announcement icons already uploaded to Jadu or users can create and
        upload their own.
      </p>

      <Announcement class="mb-2" icon="megaphone">
        <b>Upcoming Jadu Training</b> - New training dates available for the fall! <a
          href="/"
          class="underline link">Register today</a
        >
      </Announcement>

      <Announcement class="mb-2" icon="bell">
        The application deadline for the next semester is September 1st!
      </Announcement>

      <Announcement class="mb-2" icon="calendar">
        Join us on September 1st for Web Services open door day!
      </Announcement>

      <Announcement icon="warning">
        We are no longer accepting applications for fall 2018
      </Announcement>
    </article>
  </div>
</WithoutHero>
