---
import Card from "../../components/card.astro";
import Sidebar from "../../components/sidebar.astro";
import WithoutHero from "../../layouts/without-hero.astro";

const sidebarLinks = [
  {
    title: "Web Services",
    children: [
      { href: "/", name: "FAQ's" },
      { href: "/", name: "Project planning" },
      { href: "/", name: "Services provided" },
      { href: "/", name: "Support & training" },
      { href: "/", name: "Website governance" },
    ],
  },
  {
    title: "Quick Links",
    children: [
      { href: "/", name: "Sign up for training" },
      { href: "/", name: "Request access to edit site" },
    ],
  },
];
---

<WithoutHero
  title="Content Grey Example"
  description="Example of a content element with grey background"
  breadcrumbs={[
    { name: "Home", href: "/" },
    { name: "Campus Directory", href: "/" },
    { name: "Offices", href: "/" },
    { name: "Web Services", href: "/" },
    { name: "Content Grey Example", href: "/" },
  ]}
>
  <div class="flex flex-col md:flex-row">
    <Sidebar links={sidebarLinks} />

    <article
      class="prose prose-headings:font-title prose-headings:uppercase prose-headings:text-primary-800 prose-p:font-serif prose-h2:text-3xl prose-h1:text-4xl max-w-none md:px-10 md:py-8"
    >
      <p>
        The <b>content widget with grey background</b> functions just like the content widget, but has
        a grey background. You may want to use this version to highlight text on a page or break up a
        page visually.
      </p>

      <Card title="Content with Grey Background Example">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </p>
      </Card>
    </article>
  </div>
</WithoutHero>
