---
import Dropdown from "../../components/dropdown.astro";
import WithoutHero from "../../layouts/without-hero.astro";
import MultiPurpose from "../../components/multi-purpose.astro";
---

<WithoutHero
  title="Dropdown Example"
  description="Example of a dropdown widget"
  analyticsKey="web-services/dropdown-example"
  sidebarLinks={[
    {
      title: "Web Services",
      children: [
        { href: "/", name: "FAQ's" },
        { href: "/", name: "Project planning" },
        { href: "/", name: "Services provided" },
        { href: "/", name: "Support & training" },
        { href: "/", name: "Website governance" },
      ],
    },
  ]}
  breadcrumbs={[
    { name: "Home", href: "/" },
    { name: "Campus Directory", href: "/" },
    { name: "Offices", href: "/" },
    { name: "Web Services", href: "/" },
    { name: "Dropdown Example", href: "/" },
  ]}
>
  <div class="rich-text">
    <h2>This element can display as 2/5 width</h2>
  </div>

  <div class="content-grid mb-12 mt-4">
    <div class="content-grid-left">
      <div class="rich-text">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat <a href="#">cupidatat</a> non proident, sunt in culpa qui officia deserunt mollit
          anim id est laborum.
        </p>
        <a href="#" class="btn-tertiary">Button link</a>
      </div>
    </div>
    <div class="content-grid-right">
      <MultiPurpose title="Multi-purpose example heading" subtitle="Example subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.
      </MultiPurpose>
      <Dropdown
        class=""
        title="Dropdown widget example"
        image={{
          src: "/images/dropdown-widget-example.jpg",
          alt: "example image",
        }}
        options={[
          { name: "Example Link 1", href: "/example-1" },
          { name: "Example Link 2", href: "/example-2" },
          { name: "Example Link 3", href: "/example-3" },
        ]}
      >
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </Dropdown>
    </div>
  </div>

  <div class="rich-text">
    <h3>This element can be used in grids of 2 like below:</h3>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 mb-4">
    <Dropdown
      title="Dropdown widget example"
      image={{
        src: "/images/dropdown-widget-example.jpg",
        alt: "example image",
      }}
      options={[
        { name: "Example Link 1", href: "/example-1" },
        { name: "Example Link 2", href: "/example-2" },
        { name: "Example Link 3", href: "/example-3" },
      ]}
    >
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </Dropdown>
    <Dropdown
      title="Dropdown widget example"
      image={{
        src: "/images/dropdown-widget-example.jpg",
        alt: "example image",
      }}
      options={[
        { name: "Example Link 1", href: "/example-1" },
        { name: "Example Link 2", href: "/example-2" },
        { name: "Example Link 3", href: "/example-3" },
      ]}
    >
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </Dropdown>
  </div>

  <h3 class="py-4">All elements except the title and links are optional</h3>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 mb-4">
    <Dropdown
      title="Dropdown widget example"
      options={[
        { name: "Example Link 1", href: "/example-1" },
        { name: "Example Link 2", href: "/example-2" },
        { name: "Example Link 3", href: "/example-3" },
      ]}
    >
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore
      </p>
    </Dropdown>
    <Dropdown
      title="Dropdown widget example that's really long"
      options={[
        { name: "Example Link 1", href: "/example-1" },
        { name: "Example Link 2", href: "/example-2" },
        { name: "Example Link 3", href: "/example-3" },
      ]}
    />
  </div>
</WithoutHero>
