---
import EventListXhr from "../../components/event-list-xhr.astro";
import EventList from "../../components/event-list.astro";
import FeaturedEventList from "../../components/featured-event-list.astro";
import WithoutHero from "../../layouts/without-hero.astro";
---

<WithoutHero
  title="Event Widget Example"
  description="Example of an event widget"
  analyticsKey="web-services/event-example"
  sidebarLinks={[
    {
      title: "Web Services",
      children: [
        { href: "/", name: "FAQ's" },
        { href: "/", name: "Project planning" },
        { href: "/", name: "Services provided" },
        { href: "/", name: "Support & training" },
        { href: "/", name: "Website governance" },
      ],
    },
  ]}
  breadcrumbs={[
    { name: "Home", href: "/" },
    { name: "Campus Directory", href: "/" },
    { name: "Offices", href: "/" },
    { name: "Web Services", href: "/" },
    { name: "Event Widget Example", href: "/" },
  ]}
>
  <div class="rich-text">
    <h2>Event Widgets</h2>

    <p>
      There are several ways to display your events. Full Width, Narrow list, and Featured. Under
      each option is a visual example and an example found on our website.
    </p>

    <h3>Full Width Events List</h3>

    <p>
      Here's an idea of how the Events list - full width widget would look on you page. <a
        href="http://www.messiah.edu/info/21371/open_house">Visit the Admissions Open House page</a
      > for a real world example.
    </p>
  </div>

  <EventList
    title="Upcoming events with Web Services"
    events={[
      { label: "Example of an event", date: new Date("2024-06-01"), url: "/" },
      { label: "Special event at Web Services", date: new Date("2024-11-19"), url: "/" },
      { label: "So many events!", date: new Date("2024-12-23"), url: "/" },
      { label: "Trip to Bavaria", date: new Date("2024-12-12"), url: "/" },
    ]}
  />

  <div class="grid grid-cols-5 gap-4 mt-4">
    <div class="col-span-3">
      <div class="rich-text">
        <h3>Full Width Events List</h3>
        <p>
          This is an example of the events list - narrow. This widget would typically be placed on
          the right side of a homepage, floating next to content as it does on this page.
        </p>

        <p>
          For a "real world" example of how an events list - narrow widget would appear on a page,
          you can <a href="http://www.messiah.edu/info/21343/visit_campus"
            >take a look at our "Visit Messiah" page</a
          > on our Admissions site.
        </p>
      </div>
    </div>

    <EventList
      class="col-span-2"
      title="Upcoming events with Web Services"
      events={[
        { label: "Example of an event", date: new Date("2024-06-01"), url: "/" },
        { label: "Special event at Web Services", date: new Date("2024-11-19"), url: "/" },
        { label: "So many events!", date: new Date("2024-12-23"), url: "/" },
      ]}
    />
  </div>

  <div class="rich-text">
    <h3>Featured Events List</h3>

    <p>To use this widget simply drag the events list - featured widget into your homepage.</p>
  </div>

  <FeaturedEventList
    title="Upcoming Events"
    events={[
      {
        title: "Example of an event",
        description: "This is the summary about the trip to the Grand Caymans.",
        image: "/images/nursing-rotating.jpg",
        date: new Date("2024-06-01"),
        url: "/",
      },
    ]}
  />

  <hr class="my-8" />

  <EventListXhr title="Dynamic events" />
</WithoutHero>
