---
import Image from "../../components/image.astro";
import WithoutHero from "../../layouts/without-hero.astro";
---

<WithoutHero
  title="Image Pop-Up Widget"
  description="Example of an image pop-up widget"
  analyticsKey="web-services/image-pop-up-example"
  sidebarLinks={[
    {
      title: "Web Services",
      children: [
        { href: "/", name: "FAQ's" },
        { href: "/", name: "Project planning" },
        { href: "/", name: "Services provided" },
        { href: "/", name: "Support & training" },
        { href: "/", name: "Website governance" },
      ],
    },
  ]}
  breadcrumbs={[
    { name: "Home", href: "/" },
    { name: "Campus Directory", href: "/" },
    { name: "Offices", href: "/" },
    { name: "Web Services", href: "/" },
    { name: "Image Pop-Up Widget", href: "/" },
  ]}
>
  <div class="rich-text">
    <p>
      The image <b>pop-up/zoom widget</b> allows you to add in an image that may have great detail, like
      an infographic, and won't display well on a page. The pop-up/zoom creates a thumbnail of the image
      at your choice of size and when clicked, will display full size.
    </p>
  </div>

  <h3 class="h4">Example without gallery</h3>

  <div class="grid-3">
    <Image thumbnail="/images/659601203-thumbnail-1.jpg" src="/images/659601213-image-1.jpg" caption="Bacon ipsum dolor amet beef ribs pork belly shankle jowl meatball meatloaf pig ham hock drumstick rump filet mignon brisket." />
    <Image thumbnail="/images/659601200-thumbnail-2.jpg" src="/images/659601219-image-2.jpg" />
    <Image thumbnail="/images/659601203-thumbnail-1.jpg" src="/images/659601213-image-1.jpg"  />
    <Image thumbnail="/images/659601200-thumbnail-2.jpg" src="/images/659601219-image-2.jpg" />
    <Image thumbnail="/images/659601203-thumbnail-1.jpg" src="/images/659601213-image-1.jpg" />
    <Image thumbnail="/images/659601200-thumbnail-2.jpg" src="/images/659601219-image-2.jpg" />
  </div>

  <h3 class="h4">Example with gallery</h3>

  <div class="grid-2">
    <Image
      thumbnail="/images/659601203-thumbnail-1.jpg"
      src="/images/659601213-image-1.jpg"
      galleryId="example"
      caption="Bacon ipsum dolor amet beef ribs pork belly shankle jowl meatball meatloaf pig ham hock drumstick rump filet mignon brisket."
    />
    <Image
      thumbnail="/images/659601200-thumbnail-2.jpg"
      src="/images/659601219-image-2.jpg"
      galleryId="example"
      caption="Bacon ipsum dolor amet beef ribs pork belly shankle jowl meatball meatloaf pig ham hock drumstick rump filet mignon brisket."
    />
    <Image
    thumbnail="/images/659601203-thumbnail-1.jpg"
    src="/images/659601213-image-1.jpg"
    galleryId="example"
  />
  <Image
    thumbnail="/images/659601200-thumbnail-2.jpg"
    src="/images/659601219-image-2.jpg"
    galleryId="example"
  />
  <Image
  thumbnail="/images/659601203-thumbnail-1.jpg"
  src="/images/659601213-image-1.jpg"
  galleryId="example"
/>
<Image
  thumbnail="/images/659601200-thumbnail-2.jpg"
  src="/images/659601219-image-2.jpg"
  galleryId="example"
/>
  </div>
</WithoutHero>
