---
import WithoutHero from "../../layouts/without-hero.astro";
---

<WithoutHero
  title="Make a Gift"
  description="Example of an accordion widget"
  analyticsKey="web-services/accordion-example"
  breadcrumbs={[
    { name: "Home", href: "/" },
    { name: "Active page", href: "/" },
  ]}
>
  <p>
    <div id="slate">SLATE GOES HERE</div>
  </p>
</WithoutHero>
