---
import ProgramDetails from "../../components/program-details.astro";
import Stats from "../../components/stats.astro";
---

<div class="rich-text">
  <h2>Accounting careers and outcomes</h2>

  <p>
    Graduates of the Accounting program work in positions of leadership in their places of
    employment, using the tools and knowledge a Messiah University education prepared them with.
    Each year, eager employers and some of the nation's best graduate schools welcome Messiah
    graduates into their organizations.
  </p>

  <p>
    <a href="https://www.messiah.edu/info/20552/careers_and_outcomes">Learn more</a>
  </p>
</div>

<ProgramDetails
  class="mb-4"
  what={[
    "Arther F. Bell",
    "Deloitte",
    "Ernst & Young",
    "Gannett Fleming",
    "Jr. & Associates",
    "LLP",
    "Martin's Famous Pastry Shoppe",
    "McKonley & Asbusy",
    "Mitchell Emert & Hill",
    "ParenteBeard",
    "Petway Mills & Pearson",
    "Reinsel Kuntz Lesher",
  ]}
  where={[
    "Accounts receivable associate",
    "Audit assistant",
    "Audit staff",
    "Billing support",
    "Certified public accountant",
    "Credit analyst",
    "Fraud examiner",
    "Senior accountant",
    "Staff accountant",
    "Tax preparer",
  ]}
  school={["Liberty University"]}
/>

<Stats value={96} class="mb-4">
  96% of the Class of 2022 respondents were employed or in graduate school within 6-9 months of
  graduation.
</Stats>

<div class="rich-text">
  <h2>Our Alumni</h2>

  <p>
    Regional and national employers seek out Messiah graduates for their academic preparation, work
    ethic and personal character. The transformation you experience at Messiah readies you to
    transform the lives of others through your chosen career path.
  </p>

  <p>
    <a href="https://www.messiah.edu/info/22136/our_alumni"
      >Meet alumni from the Department of Business</a
    >
  </p>
</div>
