---
import Youtube from "../../components/youtube.astro";
---

<div class="rich-text">
  <h2>Community tax return preparation</h2>

  <p>
    For over two decades, Messiah students have consistently participated in an Internal Revenue
    Service-sponsored program known as the Volunteer Income Tax Assistant (VITA) program. Through
    the VITA program, you'll gain hands-on experience by preparing tax returns free-of-charge for
    low income individuals, elderly taxpayers, and families within our community. This is a
    wonderful opportunity to apply academic knowledge and social skills while helping those in need.
  </p>

  <h2>Messiah's unique approach to hands-on learning</h2>

  <p>
    Learning in the classroom is important but actually applying that knowledge in a hands-on way
    can make all the difference. At Messiah University, the Experiential Learning Initiative (ELI)
    allows Messiah to take this hands-on learning to a new level by giving students the opportunity
    to apply what they have learned to various real world contexts--such as an internship/practica,
    service learning, off-campus program, holding a student leadership position, or participating in
    undergraduate research.
  </p>

  <p>
    <a href="https://www.messiah.edu/career-prep">Learn more</a>
  </p>
</div>

<Youtube
  videoId="GjSNNxVuoWA"
  litebox
  preview="https://img.youtube.com/vi/GjSNNxVuoWA/hqdefault.jpg"
/>
