<div class="rich-text">
  <h2>Prepare for a Successful Career in Accounting</h2>

  <p>
    The Accounting B.S. program at Messiah University offers a comprehensive curriculum that
    provides a solid foundation in both accounting theory and practical application. You’ll take
    courses in financial accounting, taxation, auditing, and managerial accounting, all designed to
    prepare you for professional certification exams like the CPA or CMA. Through real-world
    experiences such as internships, case studies, and service opportunities, you’ll develop the
    analytical and problem-solving skills needed to succeed in today’s business environment. With a
    strong emphasis on ethical decision-making and Christian values, Messiah ensures that you
    graduate prepared to lead with integrity in your accounting career.
  </p>

  <ul>
    <li>
      <a
        href="https://messiah.smartcatalogiq.com/en/2024-2025/undergraduate-catalog/school-of-arts-culture-and-society/department-of-business/accounting-b-s"
        >Accounting (B.S.)</a
      >
    </li>
    <li>
      <a
        href="https://messiah.smartcatalogiq.com/en/2024-2025/undergraduate-catalog/school-of-arts-culture-and-society/department-of-business/accounting-minor-for-all-other-majors"
        >Accounting Minor for all other majors</a
      >
    </li>
    <li>
      <a
        href="https://messiah.smartcatalogiq.com/en/2024-2025/undergraduate-catalog/school-of-arts-culture-and-society/department-of-business/accounting-minor-for-finance-majors"
        >Accounting Minor for Finance majors</a
      >
    </li>
  </ul>
</div>
