---
import RequestInformation from "../../components/request-information.astro";
---

<section class="wrapper pt-12 md:pt-24 relative">
  <h2 class="h3 text-primary-800 md:w-2/3">Accounting Major in Pennsylvania</h2>
  <p class="paragraph md:w-1/2 lg:w-2/3">
    Prepare to become a Certified Public Accountant as you earn your bachelor's degree in
    accounting; enter the financial, corporate, personal or tax accounting field; or pursue
    auditing–all within a Christian perspective.
  </p>

  <RequestInformation class="hidden md:block" />
</section>
