---
import Accordion from "../../components/accordion.astro";
import Youtube from "../../components/youtube.astro";
import RelatedPrograms from "../../components/related-programs.astro";
---

<div class="rich-text">
  <h2>Study Accounting at a Christian University</h2>

  <p>
    As a graduate of Messiah's Bachelor of Science (B.S.) in accounting program, you will be in high
    demand by public accounting firms and national corporations, as well as small businesses. In
    fact, like more than 70 percent of our graduates, you may even find yourself accepting a job
    offer early in your senior year.
  </p>

  <p>
    You will develop competencies essential to creating, auditing and inspecting financial records.
    You will also learn soft skills necessary for collaborating with others on complex challenges in
    creating and communicating solutions. Just open your favorite job search board and you'll find a
    long list of job opportunities for accountants. Nationwide, large corporations, public
    accounting firms and governments, as well as small businesses and individuals, reflect this
    demand for trained accountants.
  </p>
</div>

<Accordion id="distinctives" title="Accounting program distinctives" allowProse>
  <div class="rich-text">
    <p>As an accounting major or minor at Messiah University, you’ll be able to:</p>

    <ul>
      <li>
        Learn in a program that regularly ranks in the top PA programs for parts passed on the CPA
        exam.
      </li>
      <li>
        Study in a program that has been named a “Business College of Distinction” by Colleges of
        Distinction for 2023-2024.
      </li>
      <li>
        Be part of a major that was awarded specialized accreditation by the <a
          href="http://www.acbsp.org/">Accreditation Council for Business Schools and Programs</a
        > (ACBSP).
      </li>
      <li>
        Blend the application of technical and soft skills through an Internal Revenue
        Service-sponsored program (VITA) where you'll prepare tax returns for low-income
        individuals, the elderly and families within our community.
      </li>
      <li>
        Develop competencies essential to creating, auditing and inspecting the financial records of
        individuals and businesses.
      </li>
      <li>
        Take advantage of Messiah’s distinctive simulation curriculum for accounting majors in which
        you will learn how to successfully devise and communicate.
      </li>
      <li>
        Have the opportunity to be mentored by an upper class student and then an accounting alum
        during your tenure at Messiah.
      </li>
      <li>
        Join the Accounting Club and hear from guest speakers and participate in service projects.
      </li>
      <li>
        Learn from faculty with a minimum of 10 years in public and private accounting experience.
      </li>
    </ul>
  </div>
</Accordion>

<Accordion id="career-options" title="Career options for accounting graduates" allowProse>
  <div class="rich-text">
    <p>
      The "Big Four" and many well-respected regional firms recruit Messiah accounting graduates,
      and employers consistently report that Messiah University produces highly competent graduates
      with the integrity, technical and communication skills needed in today's demanding business
      environment.
    </p>

    <p>
      As a graduate of the accounting program, you will be equipped to secure positions such as:
    </p>

    <ul>
      <li>Auditor</li>
      <li>Tax accountant</li>
      <li>Consultant</li>
      <li>Financial analyst</li>
      <li>Controller</li>
      <li>Cost accountant</li>
      <li>Positions within merger services</li>
      <li>Positions within criminal justice</li>
    </ul>

    <p>
      For more information on career planning, visit the <a
        href="http://messiah.edu/career"
        target="_blank">Messiah University Career and Professional Development Center</a
      >.
    </p>
  </div>
</Accordion>

<Accordion id="internships" title="Internship opportunities" allowProse>
  <div class="rich-text">
    <p>
      Messiah’s nationally recognized internship program helps place students in a variety of
      accounting internships. A few examples include:
    </p>

    <ul>
      <li>Accounting firms</li>
      <li>Corporate offices</li>
      <li>Tax preparation</li>
      <li>Nonprofit organizations</li>
      <li>Auditing companies</li>
      <li>Government offices</li>
    </ul>
  </div>
</Accordion>

<Youtube
  videoId="JEpsLgJpkWA"
  preview="https://img.youtube.com/vi/JEpsLgJpkWA/hqdefault.jpg"
  class="mb-8"
/>

<div class="rich-text">
  <h2>The CPA exam</h2>

  <p>
    Messiah University gives you an edge as you prepare to take the four parts of the Certified
    Public Accounting (CPA) exam. Our students have historically exceeded the national average pass
    rate for first-time test takers. They also typically complete the exam years earlier than their
    peers from other institutions. Our alumni rave about Messiah’s Accounting program and the
    advantage they received in starting their career as a CPA.
  </p>
</div>

<RelatedPrograms title="Programs related to Accounting" />
