<h3 class="h3">Accounting-specific scholarships</h3>

<p class="mb-4">
  Because of the accounting program's strong alumni support network, we are thrilled to offer over
  10 different scholarship opportunities to incoming and current accounting major students.
</p>

<h4 class="h3">Soft skill integration</h4>

<p class="mb-4">
  The Association of International Certified Professional Accounts (AICPA) says, “Accountants are
  taking an increasingly visible role within their organizations, working on cross-departmental
  projects ranging from strategic planning to information technology initiatives. In addition, they
  are presenting data to a number of diverse audiences. As a result, employers look for accounting
  professionals who not only possess financial expertise but also strong communication skills.”
</p>

<p class="mb-4">
  This major offers a distinctive experiential program that incorporates the teaching of
  communication into the upper-level accounting course sequence. Evaluated for accuracy, clarity and
  succinctness in both written and oral forms of communication, you will learn soft skills necessary
  for working with peers and communicating solutions to executives.
</p>

<a
  href="https://www.picpa.org/future-cpas/cpa-exam-licensing/work-experience-requirements"
  class="btn-primary mb-4">The 150 hour accounting education requirement</a
>

<h4 class="h3">Program accreditation</h4>

<p class="mb-4">
  Messiah's accounting program has specialized accreditation by the Accreditation Council for
  Business Schools and Programs (ACBSP).
</p>

<p class="mb-4">
  ACBSP is the premier accrediting body for colleges and universities that emphasize teaching
  excellence; 900 institutions around the world are accredited by ACBSP. This accreditation
  signifies the department’s commitment to a focus on mission and on continuous quality improvement.
  For students, parents, prospective employers and graduate schools, accreditation demonstrates that
  Messiah has met rigorous standards in curriculum, strategic planning, leadership, stakeholder
  focus and measurement of student learning.
</p>
