---
import Sidebar from "../../../components/sidebar.astro";
import WithoutHero from "../../../layouts/without-hero.astro";

const sidebarLinks = [
  {
    title: "Example Title",
    children: [
      { href: "/", name: "Regular entry" },
      {
        href: "/",
        name: "Two levels deep",
      },
      {
        href: "/",
        name: "Three levels deep",
        active: true,
        children: [
          { href: "/", name: "Second level" },
          {
            href: "/",
            name: "Second level active with children",
            active: true,
            children: [
              { href: "/", name: "Third level" },
              { href: "/", name: "Third level active", active: true },
            ],
          },
        ],
      },
    ],
  },
];
---

<WithoutHero
  title="Sidebar Example"
  analyticsKey="web-services/sidebar/with-blue-button"
  description="Example of the mocked-out sidebar"
  breadcrumbs={[
    { name: "Home", href: "/" },
    { name: "Campus Directory", href: "/" },
    { name: "Offices", href: "/" },
    { name: "Web Services", href: "/" },
    { name: "Sidebar Example", href: "/" },
  ]}
>
  <Sidebar links={sidebarLinks} slot="sidebar">
    <a href="/" class="btn-tertiary w-full">First button test with a longer button</a>
    <a href="/" class="btn-tertiary w-full">Second button</a>
  </Sidebar>

  <div class="rich-text">
    <p>This page shows the sidebar with a blue button example.</p>

    <ul>
      <li><a href="/web-services/sidebar/with-quote">Quote example</a></li>
      <li><a href="/web-services/sidebar/with-navigation">Navigation example</a></li>
      <li><a href="/web-services/sidebar/with-contact">Contact example</a></li>
      <li><a href="/web-services/sidebar/with-more-info">More info example</a></li>
      <li><a href="/web-services/sidebar/with-social-media-button">Social media example</a></li>
      <li>Blue button example</li>
    </ul>
  </div>
</WithoutHero>
