<header class="mb-12">
  <h2 class="h2 text-primary-800">
    Are you a high school student interested in exploring a career in teaching?
  </h2>

  <p class="paragraph">
    Messiah University offers high school juniors and seniors a unique opportunity to explore and
    experience career possibilities in teaching and education through the <strong
      >Educators for Tomorrow</strong
    > program.
  </p>
</header>
