<h3 class="h3 text-primary-800">Educators for Tomorrow student outcomes</h3>

<p class="paragraph mb-12">
  In addition to gaining a deeper understanding and exposure to teaching as a potential career,
  students who complete the <strong>Educators for Tomorrow</strong> program receive a certificate of
  completion from Messiah University and earn six college credits if they successfully complete the program’s
  dual enrollment coursework.
</p>
