<h3 class="h3 text-primary-800">What costs are involved for students?</h3>

<p class="paragraph mb-4">
  While there is no charge to participate in the <strong>Educators for Tomorrow</strong> program itself,
  students do incur the costs associated with:
</p>

<ul class="list-disc pl-6 paragraph mb-12">
  <li>
    Tuition for dual enrollment courses (90 percent discounted price from Messiah’s usual per-credit
    charge)
  </li>
  <li>Travel associated with events or taking classes on Messiah’s campus (if applicable)</li>
</ul>
