.breadcrumbs {
  font-size: var(--fs-xs);
  padding: 1rem;
  border-bottom: 1px solid var(--clr-gray-300);

  ol {
    list-style-type: none;
    padding-left: unset;
    margin: unset;
    display: flex;
  }

  li:not(:last-child)::after {
    content: "/";
    margin-inline: 0.625rem;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:focus-visible {
      outline: 2px solid var(--clr-blue-700);
      outline-offset: 2px;
    }
  }

  a:not([aria-current]) {
    color: var(--clr-blue-700);
  }

  [aria-current] {
    color: var(--clr-gray-400);
  }
}
