.button {
  font-weight: 500;
  transition: background-color 0.1s ease-out, color 0.1s ease-out;
  letter-spacing: 1px;
  font-size: var(--fs-lg);
  text-decoration: none;
  display: block;
  padding: 1rem 0.75rem;
}

.button-primary {
  background-color: var(--clr-blue-700);
  color: var(--clr-white);

  &:where(:hover, :focus-visible) {
    background-color: var(--clr-gray-100);
    color: var(--clr-blue-700);
  }

  &:focus-visible {
    outline: 2px solid var(--clr-blue-700);
    outline-offset: 2px;
  }
}
