<section class="max-w-6xl mx-auto px-4 py-16 md:py-24">
  <h2 class="uppercase font-bold text-primary-800 mb-2">Contact</h2>
  <p class="h3 text-primary-800 mb-4">Office of Financial Aid</p>

  <ul class="mb-8">
    <li>
      <b>Phone:</b>
      <a class="hover:underline" href="tel:800-233-4220">800-233-4220</a> • <a
        class="hover:underline"
        href="tel:800-233-4220">717-691-6000</a
      >
    </li>
    <li>
      <b>Email:</b>
      <a class="hover:underline" href="mailto:admissions@messiah.edu">admissions@messiah.edu</a>
    </li>
    <li><b>Office Location:</b> One University Avenue • Mechanicsburg, PA 17055</li>
  </ul>

  <a href="https://www.messiah.edu/info/21356/meet_your_counselor" class="btn btn-primary"
    >Get in touch with us</a
  >
</section>
