<div
  class="bg-[url(/images/campus-from-above2.png)] bg-no-repeat bg-cover text-gray-100 -mt-48 pt-24 md:pt-48 relative after:absolute after:h-64 after:left-0 after:right-0 after:top-0 after:bg-gradient-to-b after:from-black/60 after:to-transparent"
>
  <header class="max-w-5xl mx-auto px-4 mt-48 mb-24 text-center">
    <h1 class="uppercase font-bold text-4xl md:text-5xl lg:text-6xl mb-4">
      How much does it cost to attend Messiah University?
    </h1>
    <p class="text-tertiary-300 font-bold text-2xl md:text-3xl">Less than you may think!</p>
  </header>

  <section class="max-w-5xl mx-auto px-4 pb-16 md:pb-32">
    <h2
      class="text-center text-xl md:text-2xl border-b-4 md:border-b-4 border-tertiary-300 mb-24 pb-6"
    >
      Tuition and Fees for Undergraduate Programs
    </h2>

    <ol class="grid grid-cols-1 md:grid-cols-4 gap-8 text-center mb-16">
      <li
        class="flex-1 flex flex-col relative after:content-['+'] after:text-tertiary-400 after:text-6xl after:top-[7.25rem] after:-right-8 md:after:absolute after:mt-8 md:after:mt-0"
      >
        <div class="flex items-center justify-center max-h-24 h-full mb-8 shrink-0">
          <img class="max-w-24" src="/icons/bank.svg" alt="" aria-hidden="true" />
        </div>
        <span class="text-tertiary-400 font-bold text-4xl mb-4">$41,300</span>
        <span class="text-xl">Basic Tuition</span>
      </li>
      <li
        class="flex-1 flex flex-col relative after:content-['+'] after:text-tertiary-400 after:text-6xl after:top-[7.25rem] after:-right-8 md:after:absolute after:mt-8 md:after:mt-0"
      >
        <div class="flex items-center justify-center max-h-24 h-full mb-8 shrink-0">
          <img class="max-w-24" src="/icons/couch.svg" alt="" aria-hidden="true" />
        </div>
        <span class="text-tertiary-400 font-bold text-4xl mb-4">$6,590</span>
        <span class="text-xl mb-2">Housing</span>
        <span class="text-sm">(double occupancy)</span>
      </li>
      <li
        class="flex-1 flex flex-col relative after:content-['+'] after:text-tertiary-400 after:text-6xl after:top-[7.25rem] after:-right-8 md:after:absolute after:mt-8 md:after:mt-0"
      >
        <div class="flex items-center justify-center max-h-24 h-full mb-8 shrink-0">
          <img class="max-w-24" src="/icons/sack-dollar.svg" alt="" aria-hidden="true" />
        </div>
        <span class="text-tertiary-400 font-bold text-4xl mb-4">$940</span>
        <span class="text-xl mb-2">Basic Fees</span>
        <span class="text-sm"
          >(minimum amount Student Government Association and student service fees)</span
        >
      </li>
      <li class="flex-1 flex flex-col">
        <div class="flex items-center justify-center max-h-24 h-full mb-8 shrink-0">
          <img class="max-w-24" src="/icons/apple.svg" alt="" aria-hidden="true" />
        </div>
        <span class="text-tertiary-400 font-bold text-4xl mb-4">$5,800</span>
        <span class="text-xl mb-2">Food</span>
        <span class="text-sm">(maximum cost)</span>
      </li>
    </ol>

    <p class="paragraph mb-8">
      *In addition to the above costs that will be charged to you by Messiah University, you should
      plan for the following expenses that will not be charged to you by the institution, but which
      most students will experience to some extent. These are estimated costs. Each student will
      find that they spend different amounts in these categories.
    </p>

    <ul class="flex items-center flex-wrap justify-center text-tertiary-400 mb-8">
      <li class="paragraph after:content-['|'] after:mx-2"><b>$1,290</b> Books and Supplies</li>
      <li class="paragraph after:content-['|'] after:mx-2">
        <b>$1,800</b> Miscellaneous Personal Expenses
      </li>
      <li class="paragraph"><b>$1,050</b> Transportation</li>
    </ul>

    <a
      href="https://www.messiah.edu/info/23909/2024-2025/4433/financial_information_2024-2025/2"
      class="italic hover:underline text-center block text-sm"
      >Please visit our Cost of Attendance 2024-2025 page for a more detailed description of the
      cost of attendance components</a
    >

    <hr class="border-2 border-tertiary-300 my-16" />

    <ol class="grid grid-cols-1 md:grid-cols-3 gap-8 text-center mb-16">
      <li
        class="flex-1 flex flex-col relative after:content-['-'] after:text-tertiary-400 after:text-6xl after:-top-3 after:-right-8 md:after:absolute after:mt-8 md:after:mt-0"
      >
        <span class="text-tertiary-400 font-bold text-4xl mb-4">$54,630</span>
        <span class="text-xl mb-2">Total Tuition, Fees, Housing and Food</span>
        <span class="text-sm"
          >(minimum amount Student Government Association and student service fees)</span
        >
      </li>
      <li
        class="flex-1 flex flex-col relative after:content-['='] after:text-tertiary-400 after:text-6xl after:-top-3 after:-right-8 md:after:absolute after:mt-8 md:after:mt-0"
      >
        <span class="text-tertiary-400 font-bold text-4xl mb-4">$33,405</span>
        <span class="text-xl mb-2">Average First-year Student Aid 2023-24</span>
        <span class="text-sm">(not including PLUS or other alternative student loans)</span>
      </li>
      <li
        class="flex-1 flex flex-col relative after:absolute after:bg-[url(/graphics/final-price.svg)] after:bg-no-repeat after:-top-3 after:left-0 after:right-0 after:h-[69px] after:bg-top"
      >
        <span class="text-tertiary-400 font-bold text-4xl mb-4">$21,225</span>
        <span class="text-xl mb-2">Average Total Cost </span>
        <span class="text-sm">(not including supplies, travel, or personal expenses)</span>
      </li>
    </ol>

    <p class="text-tertiary-400 text-center text-sm">
      The above example is a simplified cost presentation of our 2024-25 tuition and fees rates and
      is for example purposes only. Actual individual costs will vary depending on a number of
      factors, including the type of room, meal plan, cost of books and other miscellaneous fees.
      The Cost of Attendance provided is for full-time enrollment and will be adjusted for
      less-than-full-time enrollment or single-term enrollment.
    </p>
  </section>
</div>
