---
import Icon from "../../components/icon.astro";
---

<section class="max-w-6xl mx-auto px-4 py-16 md:py-24">
  <nav class="bg-primary-800 p-8 md:w-max md:float-right md:ml-12 mb-8">
    <h3 class="h3 text-white uppercase mb-8">Quicklinks</h3>

    <a
      class="btn btn-quaternary flex mb-2 items-center justify-between gap-4"
      href="https://www.messiah.edu/info/21314/financial_aid_for_undergraduate_programs"
      >Financial Aid Office <Icon name="chevron-right" /></a
    >
    <a
      class="btn btn-quaternary flex mb-2 items-center justify-between gap-4"
      href="https://www.messiah.edu/info/21387/net_price_calculator"
      >Net Price Calculator <Icon name="chevron-right" /></a
    >
    <a
      class="btn btn-quaternary flex mb-2 items-center justify-between gap-4"
      href="https://www.messiah.edu/info/21379/types_of_aid"
      >Grants & Scholarships <Icon name="chevron-right" /></a
    >
    <a
      class="btn btn-quaternary flex items-center justify-between gap-4"
      href="https://www.messiah.edu/info/21510/student_financial_services"
      >Student Financial Services <Icon name="chevron-right" /></a
    >
  </nav>
  <h2 class="text-tertiary-300 h3">Tuition and Fees</h2>
  <p class="h2 text-primary-800">An investment in your future</p>
  <p class="paragraph mb-4">
    <strong>Tuition at any college is not what it may seem at first glance.</strong> That’s the sticker
    price—and it can be a bit jarring! But as you look deeper into the cost of a college education, you’ll
    soon discover that the actual price equals the “sticker price” MINUS a package of financial aid—consisting
    of loans, grants, scholarships and work programs—that the University’s financial aid office will
    put together for you. This makes a college education much more affordable than you originally may
    have thought it would be!
  </p>
  <p class="font-bold paragraph">
    We’re serious about this. If Messiah is the right university for you, we will work hard with you
    toward meeting the cost.
  </p>
</section>
