<section
  class="text-center bg-[url(/images/academic-support-bg2.jpg)] bg-cover h-[50vw] max-h-[900px] min-h-[600px] scroll-m-24 flex"
  id="academic-support"
>
  <div class="wrapper py-24 mt-auto text-center text-white">
    <h2 class="h2 mb-8">Academic support</h2>
    <p class="paragraph mb-8 max-w-4xl mx-auto">
      Messiah offers an array of academic support services that make it possible for you to access
      any additional help you might need or want outside of the classroom. Whether you need
      accommodations for a particular learning challenge or simply want someone to proofread a paper
      before you turn it in, there are qualified Messiah students and staff prepared to assist you.
    </p>
    <a href="https://www.messiah.edu/info/20033/academic_support" class="btn-tertiary">Learn more</a
    >
  </div>
</section>
