---
import ByTheNumbers from "../../../components/by-the-numbers.astro";
---

<section id="overview" class="wrapper scroll-m-24 py-24 flex flex-col md:flex-row gap-12 lg:gap-24">
  <div class="md:w-1/2">
    <h2 class="h2 text-primary-800">Integrating faith and learning</h2>

    <p class="paragraph">
      Messiah University is a nationally ranked private Christian university that integrates
      rigorous academics and Christian faith into all of our academic programs. Messiah's faculty
      are outstanding teachers, scholars and researchers who will mentor and advise you as you
      expand your possibilities. We offer bachelor's degrees in <a
        href="https://www.messiah.edu/majors-minors-programs"
        class="link underline">80+ majors</a
      > as well as numerous <a
        href="https://www.messiah.edu/info/20031/accelerated_options"
        class="link underline">accelerated and seamless pathway programs</a
      >. Specialized programs include <a
        href="https://www.messiah.edu/info/20698/off_campus_programs"
        class="link underline">off-campus study</a
      >,
      <a href="https://www.messiah.edu/homepage/3722/undergraduate_research" class="link underline"
        >research</a
      >, <a href="https://www.messiah.edu/agape" class="link underline">service-learning</a>, <a
        href="https://www.messiah.edu/info/23064/internship_program"
        class="link underline">internships</a
      >, and a <a
        href="https://www.messiah.edu/info/20098/college_honors_program"
        class="link underline">flourishing University Honors Program</a
      >.
    </p>
  </div>

  <figure class="w-full md:w-1/2 mt-4 self-start">
    <img
      src="https://www.messiah.edu/site/custom_scripts/styles/img/academics/faculty-students.jpg"
      alt=""
      class="w-full"
    />
  </figure>
</section>

<ByTheNumbers class="wrapper pb-24">
  <li class="text-center sm:text-xl md:text-2xl bg-white py-12 md:py-0 md:px-12">
    <img class="mx-auto mb-8 max-w-24" src="/icons/graduation-cap.svg" alt="" />
    <p>
      <span class="text-tertiary-500">72.8%</span>
      4-year grad rate (vs. 55% national average)
    </p>
  </li>
  <li class="text-center sm:text-xl md:text-2xl bg-white py-12 md:py-0 md:px-12">
    <img class="mx-auto mb-8 max-w-24" src="/icons/classroom.svg" alt="" />
    <p>
      Average class size <span class="text-tertiary-500">20</span>.
    </p>
  </li>
  <li class="text-center sm:text-xl md:text-2xl bg-white py-12 md:py-0 md:px-12">
    <img class="mx-auto mb-8 max-w-24" src="/icons/faculty-to-student-ratio.svg" alt="" />
    <p>
      <span class="text-tertiary-500">12:1</span> student to faculty ratio.
    </p>
  </li>
</ByTheNumbers>

<div class="flex flex-wrap gap-4 justify-center mb-24">
  <a href="https://www.messiah.edu/info/20020/recognitions" class="btn-quaternary"
    >View more distinctives</a
  >
</div>
