<section
  class="bg-[url(/patterns/pattern-bg.png)] py-24 scroll-m-24 text-center"
  id="accelerated-options"
>
  <div class="wrapper">
    <h2 class="text-primary-800 h2">Accelerated and Seamless Pathway Programs</h2>
    <p class="paragraph max-w-4xl mx-auto mb-8">
      There are many ways to streamline your education at Messiah—and save time and money. Taking
      college classes while still in high school, completing a bachelor’s degree in less than four
      years, or earning a graduate degree on faster, seamless pathway, are just a few of the ways
      Messiah partners with you to graduate college on your time.
    </p>

    <div class="flex flex-wrap gap-4 justify-center">
      <a href="https://www.messiah.edu/info/20031/accelerated_options" class="btn-primary"
        >Read more</a
      >
    </div>
  </div>
</section>
