<section
  class="bg-[url(/images/faith-classroom.webp)] bg-no-repeat bg-cover h-[50vw] max-h-[900px] min-h-[600px] scroll-m-24"
  id="faith-in-the-classroom"
>
  <div class="wrapper py-24">
    <h2 class="h2 text-primary-800 text-center">Faith in the classroom</h2>
    <p class="paragraph mt-8 text-center">
      Because your college years are a significant time of learning, exploration and experience, we
      challenge you to apply your Christian values not only during chapel or ministry programs--but
      also in the classroom--in a way that strengthens your own academic and personal endeavors.
      Whether it's a class discussion or a service-learning opportunity that incorporates your
      academic knowledge into practical use serving others, faith is a key component that is
      integrated into all aspects of your Messiah education.
    </p>
  </div>
</section>
