---
import ByTheNumbers from "../../components/by-the-numbers.astro";
import Youtube from "../../components/youtube.astro";
---

<section id="start" class="wrapper py-24 flex flex-col lg:flex-row gap-12 lg:gap-24">
  <div class="lg:w-3/5">
    <h2 class="h2 text-primary-800">Faith and service</h2>

    <p class="paragraph mb-4">
      <strong>Spiritual growth is an essential part of a Messiah University education.</strong> We incorporate
      <a
        href="https://www.messiah.edu/info/20003/faith_and_values/5/statements_of_faith"
        class="underline link">our shared Christian faith</a
      > in the classroom, through residence life, at chapel, on sports teams, through the arts and in
      clubs and organizations. Our motto, " Christ Preeminent," shapes every experience you'll have as
      a student here.
    </p>

    <p class="paragraph mb-4">
      At Messiah, we see ourselves as partners in your spiritual journey and are committed to
      helping you prepare for whatever vocation or service God has called you to. We don't want you
      to feel like you have to have it all figured out when you come to Messiah though. Our hope is
      that through your time here, you'll explore, discover and commit to your own personal faith
      perspective and beliefs—guided through strong Christian convictions—and leave with a
      strengthened heart for service, a commitment to common good, a faithful intelligence, and a
      passion for community and justice.
    </p>

    <a
      href="https://www.messiah.edu/info/20003/faith_and_values/5/statements_of_faith"
      class="btn-quaternary">Statements of faith</a
    >
  </div>

  <Youtube
    class="lg:w-2/5 mt-4 self-start"
    src="https://www.youtube.com/watch?v=RLtPyqnbEGo"
    preview="https://www.messiah.edu/site/custom_scripts/styles/img/faith-and-service/faith-and-service-video-bg.jpg"
  />
</section>

<ByTheNumbers
  class="wrapper pb-24"
  links={[
    { label: "Messiah at a glance", href: "https://www.messiah.edu/info/20002/college_profile" },
    { label: "View recognitions", href: "https://www.messiah.edu/info/20020/recognitions" },
  ]}
>
  <li class="text-center sm:text-xl md:text-2xl bg-white py-12 md:py-0 md:px-12">
    <img class="mx-auto mb-8 max-w-24" src="/icons/globe.svg" alt="" />
    <p>
      Named in the <span class="text-tertiary-500">Top 50 Best Christian Graduate Schools</span> by Christian
      Universities Online
    </p>
  </li>
  <li class="text-center sm:text-xl md:text-2xl bg-white py-12 md:py-0 md:px-12">
    <img class="mx-auto mb-8 max-w-24" src="/icons/leadership-alt.svg" alt="" />
    <p>
      Messiah University offers <span class="text-tertiary-500"
        >20+ graduate degrees and certificate programs.</span
      >
    </p>
  </li>
  <li class="text-center sm:text-xl md:text-2xl bg-white py-12 md:py-0 md:px-12">
    <img class="mx-auto mb-8 max-w-24" src="/icons/on-campus.svg" alt="" />
    <p>
      Messiah University has <span class="text-tertiary-500">781 graduate students</span> representing
      <span class="text-tertiary-500">38 states and 7 countries.</span>
    </p>
  </li>
</ByTheNumbers>
