<section class="bg-[url(/patterns/pattern-bg.png)] scroll-m-24" id="find-your-church">
  <div class="wrapper py-24">
    <h2 class="h2 text-primary-800 text-center">Find your church</h2>

    <div class="md:flex gap-8 mt-8">
      <div class="md:w-1/2">
        <p class="paragraph mb-4">
          The region surrounding Messiah University offers a variety of churches and worship
          communities. Local churches and parishes are eager to welcome Messiah University students
          to worship and serve in their congregations. A number of churches even provide
          transportation to and from campus on Sunday mornings.
        </p>

        <a
          href="https://www.messiah.edu/download/downloads/id/11101/Church_Directory_for_Students__10_.xlsx"
          class="btn-quaternary">View local churches</a
        >
      </div>

      <figure class="md:w-1/2 mt-8 md:mt-0">
        <img
          src="https://www.messiah.edu/site/custom_scripts/styles/img/faith-and-service/local-church.webp"
          alt=""
          class="w-full"
        />
      </figure>
    </div>
  </div>
</section>
