---
import Icon from "../../components/icon.astro";
---

<section class="max-w-6xl mx-auto px-4 py-24 flex flex-col md:flex-row gap-8 md:gap-16">
  <div>
    <h2 class="h2 text-primary-800">
      Attending an Open House is a great way to discover if Messiah is the right fit for you!
    </h2>

    <p class="paragraph">
      Spend the day with us to discover all possibilities Messiah offers. Explore diverse academic
      offerings with faculty, tour campus with a current student, and immerse yourself in our
      tight-knit community.
    </p>
  </div>

  <div class="bg-primary-800 p-8 md:w-max shrink-0">
    <h3 class="h3 text-white uppercase">Sneak Peek</h3>

    <ul class="flex flex-col gap-4 mt-8">
      <li class="flex text-white items-center gap-2">
        <Icon class="size-8" name="shopping-bag" />
        Complimentary lunch
      </li>
      <li class="flex text-white items-center gap-2">
        <Icon class="size-8" name="chevron-right" />
        Great first visit to campus
      </li>
      <li class="flex text-white items-center gap-2">
        <Icon class="size-8" name="info" />
        Attend a variety of sessions
      </li>
      <li class="flex text-white items-center gap-2">
        <Icon class="size-8" name="marker" />
        Take a campus tour
      </li>
    </ul>
  </div>
</section>
