---
import Accordion from "../../components/accordion.astro";
---

<div class="max-w-6xl mx-auto px-4">
  <Accordion title="Sample schedule" id="sample-schedule">
    <p class="mb-4">
      See below for a sample schedule. Please download the Messiah University Guidebook App for the
      detailed scheudle of the day.
    </p>

    <dl>
      <div class="flex gap-8 mb-8">
        <dt class="w-16 font-bold">10 am</dt>
        <dd>
          <ol>
            <li>Athletic Experience at Messiah</li>
            <li>College Search 101</li>
            <li>Internships and Career Preparation</li>
            <li>Multicultural Student Programs</li>
            <li>Pre-Health Professions Advising</li>
            <li>Student Life at Messiah</li>
            <li>The Transfer Experience</li>
          </ol>
        </dd>
      </div>
      <div class="flex gap-8 mb-8">
        <dt class="w-16 font-bold">11 am</dt>
        <dd>
          <ol>
            <li>Financial Aid at Messiah</li>
            <li>Department of Art & Design</li>
            <li>Department of Biological Sciences</li>
            <li>Department of Business</li>
            <li>Department of Computing, Mathematics & Physics</li>
            <li>Department of History, Politics & International Relations</li>
            <li>Department of Music</li>
            <li>Department of Psychology, Biopsychology, Criminal Justice & Sociology</li>
            <li>Explore U: Still Deciding on your major</li>
          </ol>
        </dd>
      </div>
      <div class="flex gap-8 mb-8">
        <dt class="w-16 font-bold">12 pm</dt>
        <dd>
          <ol>
            <li>Financial Aid at Messiah</li>
            <li>Department of Biblical, Religious & Philosophical Studies</li>
            <li>Department of Chemistry & Biochemistry</li>
            <li>Department of Communication</li>
            <li>Department of Engineering</li>
            <li>Department of Health, Nutrition and Exercise Science</li>
            <li>Department of Human Development and Family Science</li>
            <li>Department of Social Work</li>
            <li>Department of Theatre & Dance</li>
          </ol>
        </dd>
      </div>
      <div class="flex gap-8 mb-8">
        <dt class="w-16 font-bold">1 pm</dt>
        <dd>
          <ol>
            <li>Christian Spiritual Formation</li>
            <li>Department of Biblical, Religious & Philosophical Studies</li>
            <li>Department of Education/Teacher Education/Certification</li>
            <li>Department of Language, Literature & Writing</li>
            <li>Department of Nursing</li>
            <li>Early Assurance Programs</li>
            <li>Peace and Conflict Studies</li>
          </ol>
        </dd>
      </div>
    </dl>

    <p>Campus Tours at 1, 2 and 3 pm</p>
  </Accordion>

  <Accordion title="Download the Messiah Guide App" id="messiah-app">
    <p class="mb-4">Before you arrive, download our Messiah Guide app to help you plan your day.</p>

    <ul class="list-disc pl-6">
      <li>
        Visit your app store and search "Messiah University Guides" to download our event app.
      </li>
      <li>
        This app contains the full Open House program details along with the ability to build your
        own schedule.
      </li>
      <li>
        Enable "Push notifications" to make sure that you receive updates and important
        announcements.
      </li>
      <li>
        The guide can be found on <a
          href="https://itunes.apple.com/us/app/id1277885417"
          class="underline link">iTunes</a
        > or <a
          href="https://play.google.com/store/apps/details?id=com.guidebook.apps.messiahcollegeguides.android"
          class="underline link">Google Play</a
        >.
      </li>
    </ul>
  </Accordion>

  <Accordion title="Directions, parking, and lodging" id="directions">
    <p class="mb-4">
      Messiah is located in Mechanicsburg, Pennsylvania, just 12 miles from the state capital,
      Harrisburg, and just a short drive from Philadelphia, Baltimore and Washington, D.C. When
      arriving for the open house, you will be directed by campus personnel to our visitor parking
      lot, conveniently located near where you’ll start your day.
    </p>

    <ul>
      <li>
        <a class="underline link" href="https://www.messiah.edu/info/20014/our_campus/13/directions"
          >Directions</a
        >
      </li>
      <li><a class="underline link" href="https://www.messiah.edu/map/">Campus map</a></li>
      <li>
        <a class="underline link" href="https://campustravel.com/university/messiah-university/"
          >Lodging near campus</a
        >
      </li>
      <li>
        <a class="underline link" href="https://www.messiah.edu/student-life#to-do"
          >Fun things to do in the area</a
        >
      </li>
    </ul>
  </Accordion>
</div>
