<div class="bg-primary-800 py-16">
  <div class="max-w-6xl mx-auto px-4 flex items-center flex-col">
    <p class="h3 text-white">Visit campus and earn a scholarship</p>
    <a href="https://www.messiah.edu/visitscholarship" class="btn btn-quaternary"
      >Scholarship details</a
    >
  </div>
</div>
