---
import Icon from "../../components/icon.astro";
---

<section
  class="max-w-6xl mx-auto px-4 py-24"
  x-data="{
    dates: [],
    
    init() {
      fetch(
        'https://mcadmissions.messiah.edu/manage/query/run?id=0434b8c1-17f7-46f3-b3de-0eadbed101a6&cmd=service&output=json&h=df7ae7ad-1295-43c4-8184-e338f28d06d4'
      )
        .then((response) => response.json())
        .then((data) => {
          this.dates = data.row;
        });
    },

    getTitle(start) {
      return new Intl.DateTimeFormat('en-US', {
        month: 'long',
        day: 'numeric',
        year: 'numeric',
      }).format(new Date(start));
    }
  }"
>
  <h2 class="h2 text-primary-800">Join us for an upcoming Open House</h2>

  <ol class="grid grid-cols-2 md:grid-cols-4 gap-8 mt-8">
    <template x-for="date in dates">
      <li>
        <a
          :href="date.URL"
          class="border-4 border-tertiary-300 flex flex-col p-4 h-32 hover:bg-tertiary-300 group transition-colors focus-visible:bg-tertiary-300"
        >
          <span class="font-title uppercase font-bold text-2xl" x-text="getTitle(date.StartDate)"
          ></span>
          <span
            class="flex items-center gap-2 mt-auto opacity-0 group-hover:opacity-100 transition-all translate-y-6 group-hover:translate-y-0 group-focus-visible:opacity-100 group-focus-visible:translate-y-0"
          >
            Register <Icon name="chevron-right" class="size-4" />
          </span>
        </a>
      </li>
    </template>
  </ol>
</section>
