---
import Icon from "../../components/icon.astro";
---

<section
  class="max-w-6xl mx-auto px-4 py-24"
  x-data="{
    dates: [],
    loading: true,
    error: null,
    
    init() {
      fetch(
        'https://mcadmissions.messiah.edu/manage/query/run?id=0434b8c1-17f7-46f3-b3de-0eadbed101a6&cmd=service&output=json&h=df7ae7ad-1295-43c4-8184-e338f28d06d4'
      )
        .then((response) => response.json())
        .then((data) => {
          this.dates = data.row;
          this.loading = false;
        })
        .catch((error) => {
          this.error = `Could not fetch event list. (${error.message})`;
          this.loading = false;
        });
    },

    getTitle(start) {
      return new Intl.DateTimeFormat('en-US', {
        month: 'long',
        day: 'numeric',
        year: 'numeric',
      }).format(new Date(start));
    },

    getURL(href) {
      const url = new URL(location.href);
      const person = url.searchParams.get('person');

      if (person) {
        const target = new URL(href);

        target.searchParams.set('person', person);
        
        return target.toString();
      }

      return href;
    }
  }"
>
  <h2 class="h2 text-primary-800">Join us for an upcoming Open House</h2>

  <template x-if="loading">
    <div
      role="alert"
      class="bg-tertiary-100 border border-tertiary-200 text-tertiary-800 px-4 py-2"
    >
      <p>Loading upcoming events...</p>
    </div>
  </template>

  <template x-if="error">
    <div role="alert" class="text-red-600 border border-red-200 bg-red-50 py-2 px-4">
      <p class="mb-2">Snap! Something went wrong. Please refresh the page or try again later.</p>
      <code x-text="error" class="text-sm leading-none"></code>
    </div>
  </template>

  <template x-if="dates.length === 0 && !loading && !error">
    <div role="alert" class="bg-gray-100 border border-gray-200 text-gray-800 px-4 py-2">
      <p>No upcoming events at this time, please check back later.</p>
    </div>
  </template>

  <ol class="grid grid-cols-2 md:grid-cols-4 gap-8 mt-8">
    <template x-for="date in dates">
      <li>
        <a
          :href="getURL(date.URL)"
          class="border-4 border-tertiary-300 flex flex-col p-4 h-32 hover:bg-tertiary-300 group transition-colors focus-visible:bg-tertiary-300"
        >
          <span class="font-title uppercase font-bold text-2xl" x-text="getTitle(date.StartDate)"
          ></span>
          <span
            class="flex items-center gap-2 mt-auto opacity-0 group-hover:opacity-100 transition-all translate-y-6 group-hover:translate-y-0 group-focus-visible:opacity-100 group-focus-visible:translate-y-0"
          >
            Register <Icon name="chevron-right" class="size-4" />
          </span>
        </a>
      </li>
    </template>
  </ol>
</section>
