@import "@fancyapps/ui/dist/fancybox/fancybox.css";
@import "@fancyapps/ui/dist/carousel/carousel.css";

@font-face {
  font-family: Aptifer Sans;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/aptifer-sans-regular.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2212, U+2215;
  font-display: swap;
}

@font-face {
  font-family: Aptifer Sans;
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/aptifer-sans-bold.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2212, U+2215;
  font-display: swap;
}

@font-face {
  font-family: Priori Sans;
  font-style: normal;
  font-weight: 700;
  src:
    local("Priori Sans Bold"),
    local("PrioriSanBold"),
    url(/fonts/priori-sans-bold.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2212, U+2215;
  font-display: swap;
}

@font-face {
  font-family: Priori Sans;
  font-style: normal;
  font-weight: 500;
  src:
    local("Priori Sans Medium"),
    local("PrioriSanRegular"),
    url(/fonts/priori-sans-medium.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2212, U+2215;
  font-display: swap;
}

@font-face {
  font-family: ITC Mendoza Roman;
  font-style: normal;
  font-weight: 500;
  src:
    local("ITC Mendoza Roman Medium"),
    local("MendozaRoman-Medium"),
    url(/fonts/itc-mendoza-roman-medium.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2212, U+2215;
  font-display: swap;
}

@font-face {
  font-family: ITC Mendoza Roman;
  font-style: normal;
  font-weight: 400;
  src:
    local("ITC Mendoza Roman Regular"),
    local("MendozaRoman-Regular"),
    url(/fonts/itc-mendoza-roman-regular.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2212, U+2215;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h1 {
    @apply font-title text-3xl font-bold uppercase text-white md:text-4xl lg:text-6xl xl:text-8xl;
  }

  .h2 {
    @apply mb-4 font-title text-4xl font-bold md:text-5xl lg:text-6xl;
  }

  .h3 {
    @apply mb-4 font-title text-2xl font-bold md:text-3xl lg:text-4xl;
  }

  .h4 {
    @apply font-title text-lg font-bold uppercase md:text-xl;
  }

  .paragraph {
    @apply leading-relaxed md:text-lg;
  }
}

@layer components {
  .btn {
    @apply inline-flex h-12 items-center justify-center gap-x-2 px-4 text-center font-title text-base/5 font-bold uppercase tracking-wider transition-all md:text-base/5;
  }

  .btn-primary {
    @apply btn bg-primary-800 text-white hover:bg-gray-200 hover:text-primary-800 focus-visible:bg-gray-200 focus-visible:text-primary-800;
  }

  .btn-secondary {
    @apply btn bg-gray-100 hover:bg-gray-200 focus-visible:bg-gray-200;
  }

  .btn-tertiary {
    @apply btn bg-gradient-to-r from-primary-600 to-primary-400 text-white hover:opacity-80;
  }

  .btn-quaternary {
    @apply btn bg-gradient-to-r from-tertiary-500 to-secondary-500 text-white hover:opacity-80;
  }

  .link {
    @apply transition-colors hover:text-tertiary-400 focus-visible:text-tertiary-400;
  }

  .page-title {
    @apply text-shadow mb-1 inline-block bg-primary-800/85 px-6 py-4 font-serif text-base uppercase tracking-widest text-white sm:text-lg md:text-2xl;
  }

  .rich-text {
    @apply prose max-w-none prose-headings:mb-2 prose-headings:mt-8 prose-headings:font-title prose-headings:uppercase prose-headings:text-primary-800 prose-headings:first-of-type:mt-0 prose-h1:text-4xl prose-h2:text-3xl prose-h3:text-tertiary-500 prose-p:font-serif prose-a:transition-colors hover:prose-a:text-tertiary-400 focus-visible:prose-a:text-tertiary-400 prose-ol:font-serif prose-ul:font-serif prose-hr:my-8;
  }

  .menu-toggle:is(.is-open) {
    @apply text-primary-800;
  }

  .wrapper {
    @apply mx-auto max-w-6xl px-4;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  }
}
