@tailwind base;
@tailwind components;
@tailwind utilities;

@property --progress {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: 0%;
}

@layer base {
  [x-cloak] {
    display: none !important;
  }

  .counter {
    counter-reset: num var(--num);
  }

  .counter.start-animation {
    animation: counter-animation 2s ease-out 0s 1 forwards;

    .circular-progress {
      animation: progress-animation 2s ease-out 0s 1 forwards;
    }
  }

  .circular-progress {
    --size: 200px;
    --half-size: calc(var(--size) / 2);
    --stroke-width: 10px;
    --radius: calc((var(--size) - var(--stroke-width)) / 2);
    --circumference: calc(var(--radius) * pi * 2);
    --dash: calc((var(--progress) * var(--circumference)) / 100);
  }

  .circular-progress circle {
    cx: var(--half-size);
    cy: var(--half-size);
    r: var(--radius);
    fill: none;
    stroke-linecap: round;
  }

  .circular-progress circle.bg {
    stroke-width: calc(var(--stroke-width) - 1px);
  }

  .circular-progress circle.fg {
    transform-origin: var(--half-size) var(--half-size);
    stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
    transition: stroke-dasharray 0.3s ease-out 0s;
    stroke-width: var(--stroke-width);
  }
}

@layer utilities {
  .h1 {
    @apply font-title text-3xl font-bold uppercase text-white md:text-4xl lg:text-6xl xl:text-8xl;
  }

  .h1-md {
    @apply font-title text-2xl font-bold uppercase text-white md:text-3xl lg:text-5xl xl:text-7xl;
  }

  .h1-sm {
    @apply font-title text-xl font-bold uppercase text-white md:text-3xl lg:text-5xl xl:text-6xl;
  }

  .h2 {
    @apply mb-4 font-title text-4xl font-bold md:text-5xl lg:text-6xl;
  }

  .h3 {
    @apply mb-4 font-title text-3xl lg:text-4xl;
  }

  .h4 {
    @apply font-title text-lg font-bold uppercase md:text-xl;
  }

  .paragraph {
    @apply leading-relaxed md:text-lg;
  }

  .text-shadow {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  }

  .content-grid-wide {
    @apply grid grid-cols-1 items-start gap-4 md:grid-cols-2 lg:grid-cols-6;
  }

  .content-grid-wide .content-grid-left {
    @apply lg:col-span-4 pr-4;
  }

  .content-grid-wide .content-grid-right {
    @apply flex flex-col gap-4 lg:col-span-2;
  }

  .content-grid {
    @apply grid grid-cols-1 items-start gap-4 md:grid-cols-2 lg:grid-cols-5;
  }

  .content-grid .content-grid-left {
    @apply lg:col-span-3 pr-4;
  }

  .content-grid .content-grid-right {
    @apply flex flex-col gap-4 lg:col-span-2;
  }

  .grid-4 {
    @apply grid grid-cols-1 gap-4 md:grid-cols-3 lg:grid-cols-4;
  }

  .grid-3 {
    @apply grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3;
  }

  .grid-2 {
    @apply grid grid-cols-1 gap-4 md:grid-cols-2;
  }

  .img-float-right {
    @apply float-right mx-4 mt-0 w-full md:w-1/2 lg:w-1/3;
  }

  .img-float-left {
    @apply float-left mx-4 mt-0 w-full md:w-1/2 lg:w-1/3;
  }

  .select {
    @apply appearance-none pr-12 bg-no-repeat;

    background-position: calc(100% - 1rem) 50%;
    background-size: 18px;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22none%22%20viewBox%3D%220%200%2024%2024%22%20stroke-width%3D%222%22%20stroke%3D%22currentColor%22%20class%3D%22size-6%22%3E%0A%20%20%3Cpath%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22m19.5%208.25-7.5%207.5-7.5-7.5%22%20%2F%3E%0A%3C%2Fsvg%3E%0A");
  }
}

@layer components {
  .btn {
    @apply inline-flex min-h-12 items-center justify-center gap-x-2 px-4 py-3 text-center font-title text-base/5 font-bold uppercase tracking-wider transition-all md:text-base/5;
  }

  .btn-primary {
    @apply btn bg-gradient-to-r from-button-from to-button-to text-white hover:opacity-80;
  }

  .btn-secondary {
    @apply btn bg-gradient-to-r from-tertiary-500 to-secondary-500 text-white hover:opacity-80;
  }

  .btn-tertiary {
    @apply btn bg-primary-800 text-white hover:bg-gray-200 hover:text-primary-800 focus-visible:bg-gray-200 focus-visible:text-primary-800;
  }

  .btn-quaternary {
    @apply btn bg-gray-100 text-primary-800 hover:bg-gray-200 focus-visible:bg-gray-200;
  }

  .link {
    @apply transition-colors hover:text-tertiary-400 focus-visible:text-tertiary-400;
  }

  .rich-text {
    @apply prose max-w-none prose-headings:mb-2 prose-headings:mt-8 prose-headings:font-title prose-headings:text-primary-800 prose-headings:first-of-type:mt-0 prose-h1:text-4xl prose-h2:text-3xl prose-h3:text-2xl prose-h3:text-tertiary-500 prose-h4:text-xl prose-p:first-of-type:mt-0 prose-a:transition-colors hover:prose-a:text-tertiary-400 focus-visible:prose-a:text-tertiary-400 prose-li:marker:text-gray-500 prose-hr:my-8;
  }

  .wrapper-sm {
    @apply mx-auto max-w-4xl px-4;
  }
  
  .wrapper-md {
    @apply mx-auto max-w-5xl px-4;
  }
  .wrapper {
    @apply mx-auto max-w-6xl px-4;
  }

  .wrapper-xl {
    @apply mx-auto max-w-7xl px-4;
  }

  .wrapper-2xl {
    @apply mx-auto max-w-8xl px-4;
  }

  .bg-gradient {
    @apply bg-gradient-to-tr from-tertiary-500 to-tertiary-600;
  }
}
