---
import Youtube from "../../components/youtube.astro";
---

<section class="bg-[url(/patterns/pattern-bg.png)] py-24 scroll-m-24" id="sports-ministry">
  <div class="wrapper">
    <h2 class="text-primary-800 h2 text-center">Sports ministry</h2>
    <p class="paragraph text-center">
      Messiah wants to be a place where where you can align your purpose in sport with your purpose
      in life—to glorify God. AROMA, which stands for A Revolution of Missional Athletes, is
      designed for just that. We believe that by providing student-athletes with opportunities to
      participate in the Kingdom of God through sport, there is a paradigm shift in the true purpose
      of sports. That shift causes students to “see anew” and realize, perhaps for the first time,
      that they can use their gifting in athletics to build God’s kingdom.
    </p>

    <div class="flex justify-center gap-4 my-8">
      <a href="http://gomessiah.com/index.aspx?path=aroma&tab=aromamissions" class="btn-tertiary"
        >Learn more</a
      >
    </div>

    <Youtube
      src="https://www.youtube.com/watch?v=7Kh9SLxCR6E"
      class="max-w-4xl mx-auto"
      preview="https://www.messiah.edu/images/aroma.jpg"
    />

    <figure class="mt-12 mb-8 flex justify-center">
      <img
        src="https://www.messiah.edu/site/custom_scripts/styles/img/athletics/aroma-logo-2014.png"
        alt=""
      />
    </figure>

    <blockquote class="text-center max-w-4xl mx-auto">
      <p class="font-serif md:text-xl">
        But thanks be to God, who in Christ always leads us in triumphal procession, and through us
        spreads in every place the fragrance that comes from knowing him. For we are the AROMA of
        Christ to God among those who are being saved and among those who are perishing.
      </p>

      <cite class="mt-4 not-italic text-lg block">- 2 Corinthians 2:14-15</cite>
    </blockquote>
  </div>
</section>
