<section class="wrapper py-24 scroll-m-24" id="sports-camps">
  <h2 class="text-primary-800 text-center h2">Sports Camps</h2>

  <div class="flex flex-col md:flex-row gap-8 mt-8">
    <div class="md:w-1/2">
      <p class="paragraph mb-8">
        Messiah University Athletics hold a number of sports camps throughout the year, especially
        during the summer months. The Falcons’ sports camps provide a fun, safe and competitive
        atmosphere for boys and girls of all ages to improve in their skills and grow their love of
        sports and activity. It’s also a great opportunity for prospective student athletes to get
        to know Messiah’s campus and coaches. Many of Messiah’s student-athletes serve as
        instructors at the camps, creating mentorship opportunities and leadership development.
      </p>

      <a href="http://www.messiah.edu/camps" class="btn-quaternary">View upcoming camps</a>
    </div>

    <figure class="md:w-1/2">
      <img src="https://www.messiah.edu/images/sports_camps.jpg" alt="" class="w-full" />
    </figure>
  </div>
</section>
