---
import Youtube from "../../components/youtube.astro";
---

<section
  id="start"
  class="pt-24 relative before:absolute before:left-0 before:right-0 before:h-px before:bg-primary-200 before:bottom-16 before:-z-10"
>
  <div
    class="flex flex-col lg:flex-row gap-12 lg:gap-24 pb-56 wrapper bg-[url(/patterns/college-building.png)] bg-no-repeat bg-left-bottom"
  >
    <div class="lg:w-3/5">
      <h1 class="text-primary-800 h3">
        Experience Messiah, a nationally ranked private Christian university in Pennsylvania
      </h1>

      <p class="paragraph">
        <b
          >Messiah University is a <a
            class="underline"
            href="http://www.messiah.edu/info/20020/recognitions">top-ranked</a
          > private university of the liberal and applied arts and sciences in the northeastern U.S.</b
        >
        With a reputation for successfully integrating rigorous academics and <a
          class="underline"
          href="http://www.messiah.edu/info/20003/faith_and_values">Christian faith</a
        > into all of our academic programs, we offer 150+ <a
          href="https://www.messiah.edu/majors-minors-programs"
          class="underline">undergraduate</a
        > and pre-professional degree options and 20+ <a
          href="
          http:
          www.messiah.edu
          info
          20436
          degrees"
          class="underline">graduate degree</a
        > and certificate programs.
      </p>
    </div>

    <Youtube
      class="lg:w-2/5 mt-4"
      src="https://www.youtube.com/watch?v=5_svwEuH9fY"
      caption="Watch the video to see how Messiah University is transforming the lives of our 3,370 undergraduate and graduate students"
    />
  </div>
</section>
