<section class="relative bg-primary-800">
  <iframe
    loading="lazy"
    title="Explore our beautiful campus background video"
    src="https://player.vimeo.com/video/465819862?background=1"
    class="hidden md:block w-full h-auto aspect-video -z-10 outline-none"
    allowfullscreen=""></iframe>

  <div
    class="md:absolute bottom-0 left-0 right-0 bg-gradient-to-t from-black/90 to-transparent pb-16 pt-32"
  >
    <div class="wrapper text-center">
      <h2 class="text-white h2">Explore our beautiful campus</h2>
      <p class="text-white paragraph max-w-4xl mx-auto">
        Messiah University is an amazing place. But don't just take our word for it. Come visit us
        and discover why nearly 2,750 undergraduate students choose Messiah every year. When you
        step onto our beautiful, 375-acre campus in central Pennsylvania, you'll be welcomed into a
        caring, compassionate, thriving Christian community that feels just like home.
      </p>

      <div class="flex gap-2 mt-8 flex-wrap justify-center">
        <a href="https://www.messiah.edu/info/21343/visit_campus" class="btn-quaternary"
          >Visit campus</a
        >
        <a href="https://www.messiah.edu/virtual-visit" class="btn-quaternary">Virtual visit</a>
        <a
          href="https://tour.messiah.edu/?_gl=1*plqisj*_gcl_au*MTEyMjI1NDU1Ny4xNzE0NDAyNTgx*_ga*MTE2NTA5Nzk3LjE3MTQ0MDI1ODE.*_ga_11QNM61CQ5*MTcxOTczNTEzMC43NC4xLjE3MTk3MzU3NzguMjIuMC4w"
          class="btn-quaternary">Virtual tour</a
        >
        <a
          href="Messiah University is an amazing place. But don't just take our word for it. Come visit us and discover why nearly 2,750 undergraduate students choose Messiah every year. When you step onto our beautiful, 375-acre campus in central Pennsylvania, you'll be welcomed into a caring, compassionate, thriving Christian community that feels just like home."
          class="btn-quaternary">Campus map</a
        >
      </div>
    </div>
  </div>
</section>
