---
import Icon from "../../components/icon.astro";
---

<section
  class="bg-[url(/patterns/img-05.png)] bg-no-repeat bg-cover"
  x-data="{
    open: false,
    query: '',
    subjects: [],

    async init() {
      try {
        let response = await fetch('/subjects.json');

        if (!response.ok) {
          throw new Error(await response.text());
        }

        this.subjects = await response.json();
      } catch (ex) {
        console.log('Could not fetch data', ex);
      }
    },

    getFilteredSubjects() {
      if (this.query.length === 0) {
        return this.subjects.slice(0, 10);
      }

      return this.subjects.filter(({ entry_title, keywords }) => {
        return entry_title.toLowerCase().includes(this.query) || keywords.toLowerCase().includes(this.query);
      }).slice(0, 10);
    },
  }"
>
  <div class="wrapper py-24">
    <header class="mb-8">
      <h2 class="text-tertiary-400 h2">What do you want to study?</h2>
      <p class="text-white paragraph">
        Search by keywords or interests to explore which of Messiah's 80+ academic programs would be
        a good fit for you.
      </p>
    </header>

    <search>
      <form @submit.prevent="open = true" class="relative">
        <input
          type="search"
          name="s"
          class="bg-white w-full px-4 h-16 text-lg"
          placeholder="Search for programs"
          required
          x-model="query"
          aria-label="enter a program name that you'd like to search for"
        />
        <button type="submit" class="absolute btn-tertiary top-2 right-2">Go</button>
      </form>
    </search>

    <div class="flex gap-2 flex-wrap mt-8">
      <a class="btn-quaternary" href="https://www.messiah.edu/majors-minors-programs"
        >View all Undergraduate Programs</a
      >
      <a class="btn-quaternary" href="http://www.messiah.edu/info/20436/degrees"
        >View all Graduate Programs</a
      >
    </div>
  </div>

  <dialog
    x-show="open"
    open="open"
    style="display: none"
    @keydown.escape.prevent.stop="open = false"
    x-id="['modal-title']"
    :aria-labelledby="$id('modal-title')"
    class="overflow-y-auto grid place-items-center fixed inset-0 z-30 w-full bg-transparent"
  >
    <div class="fixed inset-0 bg-primary-800/80 backdrop-blur-sm" role="presentation"></div>

    <div class="w-full max-w-5xl text-white relative" x-on:click.stop x-trap.noscroll.inert="open">
      <header class="flex items-center justify-center relative mb-8">
        <h3 class="text-center h3 text-white !mb-0" :id="$id('modal-title')">
          Search by program names or interests
        </h3>
        <button
          type="button"
          class="absolute right-0 hover:text-tertiary-400 transition-colors"
          aria-label="close dialog"
          @click="open = false"
        >
          <Icon name="close" class="size-10" />
        </button>
      </header>

      <search>
        <form>
          <div class="relative mb-8">
            <input
              type="search"
              name="s"
              id="s"
              autofocus
              class="bg-transparent placeholder:text-primary-200 w-full border-b-2 border-white text-xl py-2 pl-10"
              x-model="query"
              placeholder="Search for programs"
              aria-label="search input"
            />
            <Icon
              name="search"
              class="size-6 pointer-events-none absolute left-0 top-1/2 -translate-y-1/2"
            />
          </div>

          <template x-if="query.length > 0">
            <output for="s">
              <p class="mb-4">Suggested search terms:</p>

              <ul>
                <template x-for="subject in getFilteredSubjects()">
                  <li class="text-lg pl-4">
                    <a href="/" class="link" x-text="subject.entry_title"></a>
                  </li>
                </template>
              </ul>
            </output>
          </template>
        </form>
      </search>
    </div>
  </dialog>
</section>
