<section class="bg-[url(/patterns/img-05.png)] bg-no-repeat bg-cover">
  <div class="wrapper py-24">
    <header class="mb-8">
      <h2 class="text-tertiary-400 h2">What do you want to study?</h2>
      <p class="text-white paragraph">
        Search by keywords or interests to explore which of Messiah's 80+ academic programs would be
        a good fit for you.
      </p>
    </header>

    <search>
      <form action="/" method="GET" class="relative">
        <input
          type="search"
          name="s"
          class="bg-white w-full px-4 h-16 text-lg"
          placeholder="Search for programs"
          required
          aria-label="enter a program name that you'd like to search for"
        />
        <button type="submit" class="absolute btn-primary top-2 right-2">Go</button>
      </form>
    </search>

    <div class="flex gap-2 flex-wrap mt-8">
      <a class="btn-secondary" href="https://www.messiah.edu/majors-minors-programs"
        >View all Undergraduate Programs</a
      >
      <a class="btn-secondary" href="http://www.messiah.edu/info/20436/degrees"
        >View all Graduate Programs</a
      >
    </div>
  </div>
</section>
