<section class="wrapper py-24 text-center">
  <h2 class="h2 text-primary-800">Bind Your Heart to a Foreign Land</h2>

  <p class="paragraph">
    What may look like a quiet, suburban campus in central Pennsylvania is really six continents and
    24 time zones. At Messiah, your college experience expands beyond our Mechanicsburg campus and
    reaches around the globe. You can choose to study or serve in one of 40 programs, strengthening
    the groundwork you’ve been laying at Messiah all along: how to hear differing perspectives and
    to weave new insights into a vision that is your own.
  </p>
</section>
