<section class="bg-[url(/patterns/pattern-bg.png)] pb-24 text-center">
  <div class="wrapper">
    <h2 class="h2 text-primary-800 text-center">Ready to go?</h2>
    <p class="paragraph mb-4">
      Are you intrigued and ready to learn more? Do you already know exactly where you want to go?
      Messiah's Agape Center for Local and Global Engagment is ready to help you choose the perfect
      program so you can see the world in a whole new light. Bon Voyage!
    </p>
    <a href="https://www.messiah.edu/info/24154/semester_long_programs" class="btn btn-primary"
      >Learn more about our programs</a
    >
  </div>
</section>
