.page-title {
  text-transform: uppercase;
  background-color: color-mix(in srgb, var(--clr-blue-700), transparent 15%);
  color: var(--clr-white);
  letter-spacing: 0.125em;
  font: normal var(--fs-xl) var(--ff-serif);
  text-shadow: 1px 1px color-mix(in srgb, var(--clr-black), transparent 50%);
  padding: 1rem 1.375rem;
  width: max-content;
}

.flex {
  display: flex;
}

.font-serif {
  font-family: var(--ff-serif);
}

.prose {
  p {
    font-family: var(--ff-serif);
  }

  * + * {
    margin-top: 1rem;
  }
}
