---
import Accordion from "../components/accordion.astro";
import EmployeeRecord from "../components/employee-record.astro";
import SingleColumn from "../layouts/single-column.astro";
---

<SingleColumn
  title="Educators for Tomorrow "
  description="Explore Educators for Tomorrow at Messiah University"
  image="/images/Educators_for_tomorrow_banner_1.jpg"
  analyticsKey="eft"
>
  <section class="wrapper py-24">
    <header class="mb-12">
      <h2 class="h2 text-primary-800">
        Are you a high school student interested in exploring a career in teaching?
      </h2>

      <p class="paragraph">
        Messiah University offers high school juniors and seniors a unique opportunity to explore
        and experience career possibilities in teaching and education through the <strong
          >Educators for Tomorrow</strong
        > program.
      </p>
    </header>

    <h3 class="h3 text-primary-800">What is the Educators for Tomorrow program?</h3>

    <p class="paragraph mb-4">
      <strong>Educators for Tomorrow</strong> students participate in a one-year cohort program, with
      a fall start date, which includes these three different program components:
    </p>

    <Accordion
      title="Dual enrollment in education-specific courses"
      id="dual-enrollment"
      image={{ size: 24, src: "https://www.messiah.edu/images/exchange.png" }}
    >
      <p class="mb-4">
        High school students can earn college credit by taking two education courses via dual
        enrollment from Messiah University:
      </p>

      <ul class="mb-4 list-disc pl-6">
        <li>Fall semester—EDUC 209 (3 credits) Principles and Structures of Mathematics</li>
        <li>Spring semester—EDUC 203 (3 credits) Educational Psychology</li>
      </ul>

      <p>
        Courses will be offered for the entire semester (15 weeks), and students have the option of
        taking classes online or in-person. To learn more about dual enrollment at Messiah
        University visit <a href="http://www.messiah.edu/dual" class="underline link"
          >www.messiah.edu/dual</a
        >
      </p>
    </Accordion>

    <Accordion
      title="Events focused on education and teaching hosted at Messiah University’s campus"
      id="events-focused"
      image={{ size: 24, src: "https://www.messiah.edu/images/calendar.png" }}
    >
      <p class="mb-4">
        Students receive invitations to events on Messiah University's campus such as:
      </p>

      <ul class="list-disc pl-6">
        <li>Experiencing Education Overnight</li>
        <li>Events sponsored by the Education Association of Messiah University</li>
        <li>The Teacher Education Commissioning Program</li>
        <li>Other guest speakers and/or education-focused honors projects</li>
      </ul>
    </Accordion>

    <Accordion
      title="Experiential learning led by the school district where the student is enrolled"
      id="experiential-learning"
      image={{ size: 24, src: "https://www.messiah.edu/images/customer__2_.png" }}
      class="mb-12"
    >
      <ul class="list-disc pl-6">
        <li>
          Educator for Tomorrow students assist in district classrooms (minimum of 15 hours)
          <ul class="list-disc pl-6">
            <li>
              In most cases, students will serve as a teacher’s assistant with activities including
              observing and assisting teachers and then reflecting upon their experience.
            </li>
          </ul>
        </li>
        <li>
          Messiah University provides <a
            href="https://docs.google.com/document/d/1CwomfsMeUhGFfNxEnPN_dnD92PPWfkRaIUb-SrlVfv8/edit"
            class="link underline">the experiential learning template</a
          > to the student’s school district
        </li>
        <li>
          The student’s school district designs, administers and oversees the experiential
          component.
          <ul class="list-disc pl-6">
            <li>
              In many cases school districts have an existing program that can be utilized to meet
              this requirement.&nbsp; The Messiah Education Department Faculty will follow-up with
              students and/or school district personnel to answer questions. Students will submit
              documentation to the Messiah Education Department verifying that they have met the
              requirement.&nbsp; Students will not be earning Messiah University credit for this
              experience; however, their school district may award credit per the district
              guidelines.
            </li>
          </ul>
        </li>
      </ul>
    </Accordion>

    <h3 class="h3 text-primary-800">Educators for Tomorrow student outcomes</h3>

    <p class="paragraph mb-12">
      In addition to gaining a deeper understanding and exposure to teaching as a potential career,
      students who complete the <strong>Educators for Tomorrow</strong> program receive a certificate
      of completion from Messiah University and earn six college credits if they successfully complete
      the program’s dual enrollment coursework.
    </p>

    <h3 class="h3 text-primary-800">What costs are involved for students?</h3>

    <p class="paragraph mb-4">
      While there is no charge to participate in the <strong>Educators for Tomorrow</strong> program
      itself, students do incur the costs associated with:
    </p>

    <ul class="list-disc pl-6 paragraph mb-12">
      <li>
        Tuition for dual enrollment courses (90 percent discounted price from Messiah’s usual
        per-credit charge)
      </li>
      <li>Travel associated with events or taking classes on Messiah’s campus (if applicable)</li>
    </ul>

    <h3 class="h3 text-primary-800">Why partner with Messiah University?</h3>

    <Accordion
      title="Institutional reputation"
      id="institutional-reputation"
      image={{ size: 24, src: "https://www.messiah.edu/images/icon_book_outline.png" }}
    >
      <p>
        Messiah is known for the quality of its teacher education program and preparing students to
        be successful, effective teachers regionally, nationally and internationally.
      </p>
    </Accordion>

    <Accordion
      title="Schedule flexibility"
      id="schedule-flexibility"
      image={{ size: 24, src: "https://www.messiah.edu/images/shape_2x_2.png" }}
    >
      <p>Messiah offers both in-person and online dual enrollment courses</p>
    </Accordion>

    <Accordion
      title="Earn college credit "
      id="earn-college-credit "
      image={{ size: 24, src: "https://www.messiah.edu/images/backpack_outline.png" }}
      class="mb-12"
    >
      <p>
        Messiah provides the capacity to get a head start on earning college credit with
        college-level education-focused courses offered at a deeply discounted cost.
      </p>
    </Accordion>

    <h3 class="h3 text-primary-800">Next steps</h3>

    <p class="paragraph mb-12">
      Students who are interested in participating in the <strong>Educators for Tomorrow</strong> program
      in their school district should complete Messiah's dual enrollment application found on the "Next
      Steps" ribbon under "Admissions Process" on <a
        href="http://www.messiah.edu/dual"
        class="underline link">Messiah's dual enrollment website</a
      >. When filling out the application, there is a specific field to indicate interest in the
      Educators for Tomorrow program.
    </p>

    <EmployeeRecord
      name="Matt Reitnour"
      job="Director of Enrollment Partnerships"
      email="mreitnour@messiah.edu"
      phone="717-796-4991"
      image="https://www.messiah.edu/images/m_reitnour_headshot_300.jpg"
      class="md:w-2/3 lg:w-1/2 md:mx-auto"
      >I can help with any question you have regarding the Educators for Tomorrow program.</EmployeeRecord
    >
  </section>
</SingleColumn>
