---
import SingleColumn from "../layouts/single-column.astro";
import NextSteps from "../views/eft/next-steps.astro";
import WhyMessiah from "../views/eft/why-messiah.astro";
import Header from "../views/eft/header.astro";
import WhatIsEft from "../views/eft/what-is-eft.astro";
import StudentOutcomes from "../views/eft/student-outcomes.astro";
import StudentCosts from "../views/eft/student-costs.astro";
---

<SingleColumn
  title="Educators for Tomorrow "
  description="Explore Educators for Tomorrow at Messiah University"
  image="/images/Educators_for_tomorrow_banner_1.jpg"
  analyticsKey="eft"
>
  <div class="wrapper py-24">
    <Header />

    <WhatIsEft />

    <StudentOutcomes />

    <StudentCosts />

    <WhyMessiah />

    <NextSteps />
  </div>
</SingleColumn>
