---
import NextSteps from "../components/next-steps.astro";
import Base from "../layouts/base.astro";
import ExperienceMessiah from "../views/index/experience-messiah.astro";
import WhatToStudy from "../views/index/what-to-study.astro";
import MessiahNumbers from "../views/index/messiah-numbers.astro";
import OurCampus from "../views/index/our-campus.astro";
import News from "../views/index/news.astro";
import HeroSlider from "../views/index/hero-slider.astro";

export const prerender = false;
---

<Base title="Graduate Studies" description="Graduate-level academics at Messiah">
  <main id="content" data-analytics="index">
    <NextSteps class="hidden lg:block absolute right-0 top-[300px] z-20" />

    <HeroSlider randomStart />

    <ExperienceMessiah />

    <WhatToStudy />

    <MessiahNumbers />

    <OurCampus />

    <News />
  </main>
</Base>
