---
import Icon from "../components/icon.astro";
import WithoutHero from "../layouts/without-hero.astro";
---

<WithoutHero
  title="Campus Directory"
  description="Campus Directory"
  sidebarLinks={[
    {
      title: "Academics",
      children: [
        { href: "/", name: "FAQ's" },
        { href: "/", name: "Project planning" },
        { href: "/", name: "Services provided" },
        { href: "/", name: "Support & training" },
        { href: "/", name: "Website governance" },
      ],
    },
  ]}
  breadcrumbs={[
    { name: "Home", href: "/" },
    { name: "Campus Directory", href: "/" },
  ]}
>
  <h2 class="h3">Offices and Departments at Messiah University</h2>

  <div
    x-data="{
        entries: [],
        letters: 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'.split(''),
        loading: true,
        error: null,
        search: '',

        init() {
          fetch('https://cascade-prod.messiah.edu/offices/_data/campus-office-directory.json')
            .then((response) => response.json())
            .then((data) => {
              this.entries = data.items;
              this.loading = false;
            })
            .catch((error) => {
              this.error = `Could not fetch the offices and departments list: (${error.message})`;
              this.loading = false;
            });
        },

        isLetterAvailable(letter) {
          return this.filtered.some((entry) => entry.office_name.at(0) === letter);
        },

        scrollToEntry(letter) {
          const row = document.querySelector(`tr[data-letter='${letter}']`);

          if (row) {
            row.scrollIntoView({ behavior: 'smooth' });
            row.classList.add('bg-tertiary-200');

            setTimeout(() => row.classList.remove('bg-tertiary-200'), 1000);
          }
        },

        scrollToTable() {
          const row = document.querySelector('tbody tr');

          if (row) {
            row.scrollIntoView({ behavior: 'smooth' });
          }
        },

        get filtered() {
          const query = this.search.trim().toLowerCase();

          return this.entries.filter((entry) => entry.office_name.toLowerCase().includes(query));
        },
      }"
  >
    <div class="bg-gray-100 p-4 mb-8">
      <p class="mb-4">
        Use this search tool to locate contact information for a particular office or department on
        campus. If you can't find what you're looking for, call our friendly receptionist at
        <a href="tel:717-766-2511" class="link underline">717-766-2511</a>.
      </p>

      <div class="relative">
        <Icon name="search" class="absolute top-1/2 left-4 size-5 -translate-y-1/2 text-gray-400" />
        <input
          type="search"
          x-model="search"
          autocomplete="off"
          placeholder="Search for offices and departments..."
          aria-label="Search for offices and departments..."
          class="bg-white w-full min-h-12 px-4 pl-12"
          @keydown.enter="scrollToTable"
        />
        <button
          type="button"
          title="Clear input"
          x-show="search.length > 0"
          @click="search = ''"
          class="absolute top-1/2 right-4 -translate-y-1/2 text-gray-400 cursor-pointer"
        >
          <Icon name="close" class="size-5" />
        </button>
      </div>
    </div>

    <ol class="flex gap-2 mb-8">
      <template x-for="letter in letters">
        <li>
          <button
            class="font-semibold text-3xl font-title text-gray-600"
            :class="isLetterAvailable(letter) ? '' : 'opacity-50 pointer-events-none cursor-not-allowed'"
            x-text="letter.toUpperCase()"
            @click="scrollToEntry(letter)"></button>
        </li>
      </template>
    </ol>

    <template x-if="loading">
      <div
        role="alert"
        class="bg-tertiary-100 border border-tertiary-200 text-tertiary-800 px-4 py-2"
      >
        <p>Loading offices and departments list...</p>
      </div>
    </template>

    <template x-if="error">
      <div role="alert" class="text-red-600 border border-red-200 bg-red-50 py-2 px-4">
        <p class="mb-2">Snap! Something went wrong. Please refresh the page or try again later.</p>
        <code x-text="error" class="text-sm leading-none"></code>
      </div>
    </template>

    <template x-if="!filtered.length && !loading && !error">
      <div
        role="alert"
        class="bg-tertiary-100 border border-tertiary-200 text-tertiary-800 px-4 py-2"
      >
        <p class="mb-4">
          No offices or departments match your search "<span x-text="search"></span>".
        </p>

        <button type="button" @click="search = ''" class="btn btn-quaternary">Reset</button>
      </div>
    </template>

    <table class="text-sm w-full" x-show="filtered.length && !error && !loading">
      <thead>
        <tr class="border-b border-b-gray-300 bg-gray-100">
          <td class="p-2">Office</td>
          <td class="p-2">Phone number</td>
          <td class="p-2">Email</td>
        </tr>
      </thead>
      <tbody>
        <template x-for="entry in filtered">
          <tr
            class="border-b border-b-gray-200 hover:bg-gray-100 transition-colors scroll-m-28"
            :data-letter="entry.office_name.at(0)"
          >
            <td class="p-2">
              <a
                x-text="entry.office_name"
                class="text-primary-800 hover:underline"
                :href="entry.website_URL"></a>
            </td>

            <td class="p-2" x-text="entry.phone"></td>

            <td class="p-2">
              <a
                class="text-primary-800 hover:underline flex items-center gap-2"
                :href="`mailto:${entry.email}`"
              >
                <Icon name="envelope" />
                Message
              </a>
            </td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>
</WithoutHero>
