---
import SingleColumn from "../layouts/single-column.astro";
import Header from "../views/ot/header.astro";
import Tabs from "../views/ot/tabs.astro";
import VideoFooter from "../views/ot/video-footer.astro";
---

<SingleColumn
  title="Occupational Therapy"
  description="Explore Occupational Therapy at Messiah University"
  subtitle="Explore Occupational Therapy at Messiah University"
  image="/images/child_adult.jpg"
  analyticsKey="ot"
>
  <div class="wrapper py-24">
    <Header />

    <Tabs />

    <VideoFooter />
  </div>
</SingleColumn>
