---
import Accordion from "../components/accordion.astro";
import SingleColumn from "../layouts/single-column.astro";
---

<SingleColumn
  title="Physical Therapy"
  subtitle="Explore Physical Therapy at Messiah University"
  description="Explore Physical Therapy at Messiah University"
  image="/images/physical-therapy.jpg"
>
  <section class="wrapper py-24">
    <header class="text-center mb-12">
      <h2 class="h2 text-primary-800">
        Pursue your degree and advance your career in physical therapy
      </h2>

      <p class="paragraph">
        Choose from our student types below to find the program that is right for you.
      </p>
    </header>

    <Accordion
      title="I am a <strong>high school student or an entry-level degree seeker</strong> and would like to be a <strong>licensed physical therapist</strong>"
      id="entry-level"
      image="https://www.messiah.edu/site/custom_scripts/styles/img/ico/read.png"
    >
      <article class="flex flex-col md:flex-row gap-4 md:gap-8">
        <figure class="shrink-0">
          <img
            src="https://www.messiah.edu/site/custom_scripts/styles/img/pre-pt-thumbnail.jpg"
            alt=""
            class="md:max-w-64 w-full sm:w-auto"
          />
        </figure>

        <div>
          <h4 class="h3">Early Assurance Program (EAP)</h4>

          <p class="mb-4">
            Students accepted into this program will receive their bachelor’s degree from Messiah
            University and transition to Messiah’s School of Graduate Studies to earn their Doctor
            of Physical Therapy degree.
          </p>

          <div class="flex flex-wrap gap-2">
            <a
              class="btn-quaternary"
              href="https://www.messiah.edu/undergraduate/physical-therapy-early-assurance-program"
              >Learn more about the Early Assurance Program (EAP)</a
            >
          </div>
        </div>
      </article>

      <article class="flex flex-col md:flex-row gap-4 md:gap-8">
        <figure class="shrink-0">
          <img
            src="https://www.messiah.edu/site/custom_scripts/styles/img/pt-thumbnail.jpg"
            alt=""
            class="md:max-w-64 w-full sm:w-auto"
          />
        </figure>

        <div>
          <h4 class="h3">Master of Occupational Therapy Pre-physical therapy options</h4>

          <p class="mb-4">
            There are two pre-physical therapy options at Messiah University: 1) Messiah offers a
            <strong
              >pre-physical therapy concentration, offered as part of its applied health science
              major</strong
            >, to prepare students to apply to a doctor of physical therapy program OR 2) Students
            may <strong
              >work with a specialized pre-physical therapy advisor—within a major of their choosing</strong
            > — to ensure successful completion of both the requirements for their major as well as the
            requirements for applying to a doctor of physical therapy program.
          </p>

          <div class="flex flex-wrap gap-2">
            <a
              class="btn-quaternary"
              href="https://www.messiah.edu/undergraduate/pre-physical-therapy-concentration"
              >Pre-physical therapy concentration</a
            >
            <a
              class="btn-quaternary"
              href="https://www.messiah.edu/undergraduate/pre-physical-therapy-advising"
              >Pre-physical therapy advising</a
            >
          </div>
        </div>
      </article>
    </Accordion>

    <Accordion
      title="I have a <strong>bachelor's degree in a related field</strong> and would like to be a <strong>licensed physical therapist</strong>"
      id="bachelors-degree"
      image="https://www.messiah.edu/site/custom_scripts/styles/img/ico/graduated.png"
    >
      <article class="flex flex-col md:flex-row gap-4 md:gap-8 p-4">
        <figure class="shrink-0">
          <img
            src="https://www.messiah.edu/site/custom_scripts/styles/img/dpt-thumbnail.jpg"
            alt=""
            class="md:max-w-64 w-full sm:w-auto"
          />
        </figure>

        <div>
          <h4 class="h3">Doctor of Physical Therapy</h4>

          <p class="mb-4">
            Messiah University’s Doctor of Physical Therapy (DPT) is designed to prepare competent
            therapists for meaningful careers as practitioners, educators, administrators and
            consultants in a variety of professional settings including hospitals, clinics,
            rehabilitation centers, homecare programs, schools and private practices. Our program is
            a full-time, residential, 110-credit program located in Mechanicsburg, Pennsylvania, 12
            miles from the state capital of Harrisburg.
          </p>

          <div class="flex flex-wrap gap-2">
            <a
              class="btn-quaternary"
              href="https://www.messiah.edu/graduate/doctor-physical-therapy"
              >Learn more about the Doctor of Physical Therapy</a
            >
          </div>
        </div>
      </article>
    </Accordion>

    <Accordion
      title="I am a <strong>licensed physical therapist</strong> and would like to <strong>pursue a career in academic teaching/research</strong>"
      image="https://www.messiah.edu/site/custom_scripts/styles/img/ico/teach2.png"
    >
      <article class="flex flex-col md:flex-row gap-4 md:gap-8 p-4">
        <figure class="shrink-0">
          <img
            src="https://www.messiah.edu/images/dospt.jpg"
            alt=""
            class="md:max-w-64 w-full sm:w-auto"
          />
        </figure>

        <div>
          <h4 class="h3">Doctor of Science in Physical Therapy</h4>

          <p class="mb-4">
            Messiah University offers a Doctor of Science in physical therapy (DSc in PT) for
            licensed physical therapists who wish to pursue academic and research opportunities in
            higher education. The degree is designed for busy adults and can be completed in four to
            five years while you practice. Students may choose from a degree concentration in
            academic leadership or orthopaedic manual therapy. Coursework for the program is
            predominately online.
          </p>

          <div class="flex flex-wrap gap-2">
            <a class="btn-quaternary" href="https://www.messiah.edu/graduate/DSc_PT"
              >Learn more about the Doctor of of Science in Physical Therapy</a
            >
          </div>
        </div>
      </article>
    </Accordion>

    <Accordion
      title="I am a <strong>licensed physical therapist</strong> seeking <strong>continuing education courses</strong>"
      image="https://www.messiah.edu/images/open_book_2.png"
      id="continuing-education"
    >
      <article class="flex flex-col md:flex-row gap-4 md:gap-8 p-4">
        <figure class="shrink-0">
          <img
            src="https://www.messiah.edu/images/arm_exercise.jpg"
            alt=""
            class="md:max-w-64 w-full sm:w-auto"
          />
        </figure>

        <div>
          <h4 class="h3">
            I am a licensed physical therapist seeking continuing education courses
          </h4>

          <p class="mb-4">
            Physical therapy professionals and students can enrich their practice and fulfill
            continuing education and direct access requirements with life-long learning
            opportunities at Messiah University. Messiah has partnered with NAIOMT to provide
            post-professional educational programming that will drive profession growth, cultivate
            clinical partnerships and enhance clinical practice.
          </p>

          <div class="flex flex-wrap gap-2">
            <a class="btn-quaternary" href="https://www.messiah.edu/naiomt"
              >NAIOMT COMT courses/certification/residency
            </a>
          </div>
        </div>
      </article>
    </Accordion>
  </section>
</SingleColumn>
