---
import SingleColumn from "../layouts/single-column.astro";
---

<SingleColumn
  title="Physical Therapy"
  subtitle="Explore Physical Therapy at Messiah University"
  description="Explore Physical Therapy at Messiah University"
  image="/images/physical-therapy.jpg"
>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta expedita minus voluptatem neque
    porro incidunt dolorem. Itaque tenetur qui ex eos, sed aspernatur ea nam sunt at eaque impedit
    quo.
  </p>
</SingleColumn>
