---
import SingleColumn from "../layouts/single-column.astro";
import Header from "../views/pt/header.astro";
import Accordions from "../views/pt/accordions.astro";
---

<SingleColumn
  title="Physical Therapy"
  subtitle="Explore Physical Therapy at Messiah University"
  description="Explore Physical Therapy at Messiah University"
  image="/images/physical-therapy.jpg"
  analyticsKey="pt"
>
  <div class="wrapper py-24">
    <Header />

    <Accordions />
  </div>
</SingleColumn>
