---
import Base from "../layouts/base.astro";
import Hero from "../views/see-anew/hero.astro";
import Metaphor from "../views/see-anew/metaphor.astro";
import Promise from "../views/see-anew/promise.astro";
import WhatHappensWhen from "../views/see-anew/what-happens-when.astro";
import TransformedLives from "../views/see-anew/transformed-lives.astro";
import Tabs from "../views/see-anew/tabs.astro";
---

<Base
  title="See Anew 2025"
  description="At Messiah University, your life, your faith, your world and your possibilities open up."
>
  <main id="content" data-analytics="see-anew">
    <Hero />
    <Tabs />
    <Metaphor />
    <Promise />
    <WhatHappensWhen />
    <TransformedLives />
  </main>
</Base>
