---
import BaseLayout from "../layouts/base.astro";
import Header from "../views/tuition/header.astro";
import TuitionAndFees from "../views/tuition/tuition-and-fees.astro";
import Contact from "../views/tuition/contact.astro";
import StudientStories from "../views/tuition/studient-stories.astro";
import Examples from "../views/tuition/examples.astro";
---

<BaseLayout title="Cost and Tuition" description="">
  <main data-analytics="tuition">
    <Header />
    <TuitionAndFees />
    <Examples />
    <StudientStories />
    <Contact />
  </main>
</BaseLayout>
