---
import Icon from "../../components/icon.astro";
---

<template x-teleport="body">
  <div
    x-show="Boolean(open)"
    style="display: none"
    x-on:keydown.escape.prevent.stop="open = null"
    role="dialog"
    aria-modal="true"
    x-id="['modal-title']"
    :aria-labelledby="$id('modal-title')"
    class="dialog"
  >
    <div
      x-show="Boolean(open)"
      @click="open = null"
      x-transition.opacity.duration.300
      class="fixed inset-0 bg-primary-800/80 z-50"
    >
    </div>

    <div
      x-show="Boolean(open)"
      x-transition.opacity.duration.300
      x-trap.noscroll.inert="open"
      class="fixed top-0 right-0 bottom-0 md:w-[660px] bg-white z-50 overflow-y-auto"
    >
      <div class="flex justify-end p-4">
        <button type="button" @click="open = null" aria-label="Close dialog">
          <Icon name="close" class="size-10" />
        </button>
      </div>

      <div class="p-4">
        <h2 :id="$id('modal-title')" class="text-primary h3 mb-4">Our Survey</h2>

        <h3 class="h4 mb-2">Purpose</h3>
        <p class="mb-4">
          The purpose of the annual first destination survey is to capture information on the
          employment and graduate school status of Messiah University alumni within six to nine
          months of graduation. For the purpose of this survey, the class of 2022 is defined as
          anyone who graduated in December 2021, May 2022 or August 2022.
        </p>

        <h3 class="h4 mb-2">Data Collection Method</h3>
        <p class="mb-4">
          Statistics provided are based on information received through a variety of methods,
          including an electronic survey that was distributed via email; a survey completed
          on-campus prior to graduation; contact with department faculty; follow-up surveys; and
          updated professional profiles provided on social media sites like LinkedIn.
        </p>
        <p class="mb-4">
          The collection process and reporting summary of results adheres to the professional
          guidelines set forth by NACE (the National Association for Colleges and Employers).
        </p>

        <h3 class="h4 mb-2">Response Rate</h3>
        <p class="mb-4">
          Through this extensive process, we obtained a 71% knowledge rate of the Class of 2022
          knowledge rate is defined by NACE as the percent of graduates for which an institution has
          reasonable and verifiable information concerning the graduates post-graduation career
          activities.
        </p>
      </div>
    </div>
  </div>
</template>
