---
import Icon from "../icon.astro";

interface Props {
  transparent: boolean;
}

const { transparent } = Astro.props;
---

<li>
  <button
    type="button"
    aria-label="show search form"
    aria-expanded="false"
    aria-haspopup="true"
    id="search-form-toggle"
    aria-controls="search-form"
    class:list={[
      "hover:text-tertiary-400 ml-4 mt-1 transition-colors",
      transparent
        ? "md:text-white group-data-[scrolling='true']:text-primary-800 group-data-[scrolling='true']:hover:text-tertiary-400"
        : "text-primary-800",
    ]}
  >
    <Icon name="search" class="size-5 pointer-events-none" />
  </button>

  <form
    id="search-form"
    class="opacity-0 hidden absolute left-0 top-0 right-0 bg-primary-800 text-white transition-opacity duration-300 p-8 z-10"
    role="region"
    aria-labelledby="search-form-toggle"
    aria-hidden="true"
  >
    <div class="max-w-6xl mx-auto px-4 flex relative">
      <input
        type="search"
        name="s"
        class="bg-transparent placeholder:text-primary-200 w-full border-b-2 border-white text-lg py-1"
        placeholder="What are you searching for?"
        aria-label="search input"
      />
      <button
        type="submit"
        class="absolute right-4 top-2 text-white hover:text-tertiary-400 transition-colors focus-visible:text-tertiary-400"
      >
        <Icon name="search" class="size-5 pointer-events-none" />
      </button>
    </div>
  </form>
</li>
