@font-face {
  font-family: Aptifer Sans;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/aptifer-sans-regular.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
  font-display: swap;
}

@font-face {
  font-family: Aptifer Sans;
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/aptifer-sans-bold.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
  font-display: swap;
}

@font-face {
  font-family: Priori Sans;
  font-style: normal;
  font-weight: 700;
  src: local("Priori Sans Bold"), local("PrioriSanBold"),
    url(/fonts/priori-sans-bold.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
  font-display: swap;
}

@font-face {
  font-family: Priori Sans;
  font-style: normal;
  font-weight: 500;
  src: local("Priori Sans Medium"), local("PrioriSanRegular"),
    url(/fonts/priori-sans-medium.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
  font-display: swap;
}

@font-face {
  font-family: ITC Mendoza Roman;
  font-style: normal;
  font-weight: 500;
  src: local("ITC Mendoza Roman Medium"), local("MendozaRoman-Medium"),
    url(/fonts/itc-mendoza-roman-medium.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
  font-display: swap;
}

@font-face {
  font-family: ITC Mendoza Roman;
  font-style: normal;
  font-weight: 400;
  src: local("ITC Mendoza Roman Regular"), local("MendozaRoman-Regular"),
    url(/fonts/itc-mendoza-roman-regular.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
  font-display: swap;
}
