---
import type { HTMLAttributes } from "astro/types";
import { cn } from "../lib/utils";

interface Props extends HTMLAttributes<"div"> {
  title: string;
}

const { title, class: className, ...props } = Astro.props;
---

<div {...props} class={cn("not-prose border border-gray-300 bg-gray-100 px-6 py-4", className)}>
  <h3 class="mb-2 h4 text-primary-800">{title}</h3>

  <div class="text-sm">
    <slot />
  </div>
</div>
