---
import type { HTMLAttributes } from "astro/types";
import { cn } from "../lib/utils";

interface Props extends HTMLAttributes<"nav"> {
  title?: string;
  links: {
    label: string;
    href: string;
  }[];
}

const { title, links, class: className, ...props } = Astro.props;
---

<nav data-analytics="continue-exploring" {...props} class={cn("py-12", className)}>
  {
    title ? (
      <h3 class="mb-8 text-center font-title text-4xl font-bold text-primary-800">{title}</h3>
    ) : null
  }

  <ul class="flex gap-2 flex-wrap justify-center">
    {
      links.map((link) => (
        <li>
          <a class="btn-primary" href={link.href}>
            {link.label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
