---
import type { HTMLAttributes } from "astro/types";
import { cn } from "../lib/utils";

interface Props extends HTMLAttributes<"figure"> {
  src: string;
  thumbnail?: string;
  caption?: string;
  galleryId?: string;
}

const { src, thumbnail = src, caption, galleryId, class: className, ...props } = Astro.props;
---

<figure data-analytics="image" {...props} class={cn("not-prose aspect-[4/3]", className)}>
  <a data-caption={caption} href={src} data-fancybox={galleryId || ""}>
    <img src={thumbnail} class="w-full h-full object-cover" alt="" />
  </a>
</figure>
