---
import type { ComponentProps, HTMLAttributes } from "astro/types";
import { cn } from "../lib/utils";
import ImageHoverLink from "./image-hover-link.astro";

interface Props extends HTMLAttributes<"div"> {
  items: ComponentProps<typeof ImageHoverLink>[];
}

const { items, class: className, ...props } = Astro.props;
---

<div class={cn("f-carousel", className)} {...props} data-image-tile-slider>
  {
    items.map((item) => (
      <div class="f-carousel__slide px-4 w-1/4">
        <ImageHoverLink class="" {...item} />
      </div>
    ))
  }
</div>

<script>
  import { Carousel } from "@fancyapps/ui";

  const container = document.querySelector<HTMLDivElement>("[data-image-tile-slider]");

  new Carousel(container, {
    infinite: true,
    Dots: false,
  });
</script>

<style is:global>
  .f-carousel:is([data-image-tile-slider]) {
    --f-button-svg-width: 100px;
    --f-button-svg-height: 100px;
    --f-button-next-pos: -20px;
    --f-button-prev-pos: -20px;
  }
</style>
