---
import type { HTMLAttributes } from "astro/types";
import { cn } from "../lib/utils";

interface Props extends HTMLAttributes<"div"> {
  where: string[];
  what: string[];
  school: string[];
}

const { where, what, school, class: className, ...props } = Astro.props;
---

<div data-analytics="program-details" class="@container">
  <div
    class={cn(
      "grid grid-cols-1 @md:grid-cols-3 gap-8 bg-white border border-gray-200 p-4",
      className
    )}
    {...props}
  >
    <div>
      <h4 class="h4 text-primary-800">Where they work</h4>

      <ol class="mt-4 text-sm">
        {where.map((item) => <li>{item}</li>)}
      </ol>
    </div>

    <div>
      <h4 class="h4 text-primary-800">What they do</h4>

      <ol class="mt-4 text-sm">
        {what.map((item) => <li>{item}</li>)}
      </ol>
    </div>

    <div>
      <h4 class="h4 text-primary-800">Graduate school</h4>

      <ol class="mt-4 text-sm">
        {school.map((item) => <li>{item}</li>)}
      </ol>
    </div>
  </div>
</div>
