---
import type { ComponentProps, HTMLAttributes } from "astro/types";
import { cn } from "../lib/utils";
import Icon from "./icon.astro";

export type Program = "M" | "m" | "T" | "U" | "C" | "O";

interface Props extends HTMLAttributes<"article"> {
  programs: Program[];
  showText?: boolean;
}

const { programs, showText = false, class: className, ...props } = Astro.props;

const colorMap = {
  M: "#273d5e",
  m: "#4d87a9",
  T: "#e37b65",
  U: "#e37b65",
  C: "#6697B8",
  O: "transparent",
};

const textMap = {
  M: "Major",
  m: "Minor",
  T: "Teaching",
  U: "Undergraduate",
  C: "Concentration",
  O: "Online",
};

const iconMap: { [K in Program]: ComponentProps<typeof Icon>["name"] | null } = {
  M: null,
  m: null,
  T: null,
  U: null,
  C: null,
  O: "computer",
};
---

<ul
  data-analytics="program-list"
  class={cn(
    "flex md:mb-4",
    {
      "gap-2": !showText,
      "gap-8": showText,
    },
    className
  )}
  {...props}
>
  {
    programs.map((program) => (
      <li class="flex items-center gap-2 text-white" style={{ "--background": colorMap[program] }}>
        <span class="flex items-center justify-center shrink-0 rounded-full size-6 text-sm bg-[var(--background)]">
          {iconMap[program] ? <Icon name={iconMap[program]!} /> : program}
        </span>
        {showText ? <span>{textMap[program]}</span> : null}
      </li>
    ))
  }
</ul>
