---
import type { HTMLAttributes } from "astro/types";
import { cn } from "../lib/utils";

interface Props extends HTMLAttributes<"article"> {
  quote: string;
  author: string;
  image?: string;
}

const { quote, author, image, class: className, ...props } = Astro.props;
---

<blockquote data-analytics="quote" {...props} class={cn("@container not-prose", className)}>
  <div class="flex flex-col-reverse gap-8 @md:flex-row-reverse">
    <div class="text-center @md:text-left">
      <p>{quote}</p>
      <cite class="mt-4 not-italic block font-bold">- {author}</cite>
    </div>

    {
      image ? (
        <footer class="@md:flex-shrink-0">
          <figure class="relative mx-auto w-max">
            <span
              class="bg-primary-800 text-white size-10 rounded-full flex items-center justify-center absolute top-0 right-0"
              role="presentation"
            >
              <svg viewBox="0 0 32 32" class="size-4">
                <path
                  fill="currentColor"
                  d="M25 20c-3.866 0-7-3.134-7-7s3.134-7 7-7 7 3.134 7 7l0.031 1c0 7.732-6.268 14-14 14v-4c2.671 0 5.182-1.040 7.071-2.929 0.364-0.364 0.695-0.75 0.995-1.157-0.357 0.056-0.724 0.086-1.097 0.086zM7 20c-3.866 0-7-3.134-7-7s3.134-7 7-7 7 3.134 7 7l0.031 1c0 7.732-6.268 14-14 14v-4c2.671 0 5.182-1.040 7.071-2.929 0.364-0.364 0.695-0.75 0.995-1.157-0.357 0.056-0.724 0.086-1.097 0.086z"
                />
              </svg>
            </span>

            <img src={image} alt={author} class="size-32 object-cover rounded-full" />
          </figure>
        </footer>
      ) : (
        <span
          class="bg-primary-800 text-white size-10 rounded-full flex items-center justify-center flex-shrink-0"
          role="presentation"
        >
          <svg viewBox="0 0 32 32" class="size-4">
            <path
              fill="currentColor"
              d="M25 20c-3.866 0-7-3.134-7-7s3.134-7 7-7 7 3.134 7 7l0.031 1c0 7.732-6.268 14-14 14v-4c2.671 0 5.182-1.040 7.071-2.929 0.364-0.364 0.695-0.75 0.995-1.157-0.357 0.056-0.724 0.086-1.097 0.086zM7 20c-3.866 0-7-3.134-7-7s3.134-7 7-7 7 3.134 7 7l0.031 1c0 7.732-6.268 14-14 14v-4c2.671 0 5.182-1.040 7.071-2.929 0.364-0.364 0.695-0.75 0.995-1.157-0.357 0.056-0.724 0.086-1.097 0.086z"
            />
          </svg>
        </span>
      )
    }
  </div>
</blockquote>
