<div class="bg-tertiary-300 p-4">
  <h4 class="h3">Request Information</h4>
  <p><a href="tel:717-796-5061" class="link -mt-2 mb-4 block">717-796-5061</a></p>

  <!-- TEMP -->
  <input
    type="text"
    class="w-full border border-tertiary-400 px-2 h-10 mb-4"
    placeholder="Last Name"
  />
  <input type="text" class="w-full border border-tertiary-400 px-2 h-10 mb-4" placeholder="Email" />
  <input
    type="text"
    class="w-full border border-tertiary-400 px-2 h-10 mb-4"
    placeholder="Mobile Number"
  />

  <label>Birthdate</label>
  <div class="gap-2 grid grid-cols-6 mb-4">
    <input
      type="text"
      class="col-span-3 border border-tertiary-400 px-2 h-10"
      placeholder="Month"
    />
    <input type="text" class="border border-tertiary-400 px-2 h-10" placeholder="Day" />
    <input type="text" class="col-span-2 border border-tertiary-400 px-2 h-10" placeholder="Year" />
  </div>

  <label>Intended Start Term</label>
  <input
    type="text"
    class="w-full border border-tertiary-400 px-2 h-10 mb-4"
    placeholder="First Name"
  />

  <label>Degree</label>
  <input
    type="text"
    class="w-full border border-tertiary-400 px-2 h-10 mb-4"
    placeholder="First Name"
  />

  <button class="btn-tertiary w-full">Submit</button>
  <!-- end TEMP -->

  <!-- <request-information-form></request-information-form> -->
</div>
