---
import type { HTMLAttributes } from "astro/types";
import { cn } from "../lib/utils";

interface Props extends HTMLAttributes<"form"> {}

const { class: className, ...props } = Astro.props;
---

<form
  data-analytics="request-information"
  method="GET"
  action="https://www.messiah.edu/undergraduate-admissions/request-more-information/request-information"
  class={cn(
    "bg-primary-800/80 backdrop-blur-sm md:max-w-xs p-8 md:absolute md:right-0 md:bottom-0 mt-8 md:mt-0",
    className
  )}
  {...props}
>
  <h3 class="h4 text-white mb-4">Request information</h3>

  <input
    type="text"
    aria-label="first name"
    class="bg-white w-full h-12 px-4 mb-4"
    placeholder="First name"
    required
    name="firstname"
  />
  <input
    type="text"
    aria-label="last name"
    class="bg-white w-full h-12 px-4 mb-4"
    placeholder="Last name"
    required
    name="lastname"
  />
  <input
    type="email"
    aria-label="email"
    class="bg-white w-full h-12 px-4 mb-4"
    placeholder="Email"
    required
    name="email"
  />

  <button type="submit" class="btn-quaternary w-full">Next</button>
</form>
