<div class="bg-tertiary-300 p-4">
  <h4 class="h3">Request Information</h4>
  <p><a href="tel:717-796-5061" class="link -mt-2 mb-4 block">717-796-5061</a></p>

  <!-- TEMP -->
  <input
    type="text"
    class="w-full border border-tertiary-400 px-2 h-10 mb-4"
    placeholder="Last Name"
  />
  <input type="text" class="w-full border border-tertiary-400 px-2 h-10 mb-4" placeholder="Email" />
  <input
    type="text"
    class="w-full border border-tertiary-400 px-2 h-10 mb-4"
    placeholder="Mobile Number"
  />

  <label>Birthdate</label>
  <div class="gap-2 grid grid-cols-6 mb-4">
    <input
      type="text"
      class="col-span-3 border border-tertiary-400 px-2 h-10"
      placeholder="Month"
    />
    <input type="text" class="border border-tertiary-400 px-2 h-10" placeholder="Day" />
    <input type="text" class="col-span-2 border border-tertiary-400 px-2 h-10" placeholder="Year" />
  </div>

  <label>Intended Start Term</label>
  <input
    type="text"
    class="w-full border border-tertiary-400 px-2 h-10 mb-4"
    placeholder="First Name"
  />

  <label>Degree</label>
  <input
    type="text"
    class="w-full border border-tertiary-400 px-2 h-10 mb-4"
    placeholder="First Name"
  />

  <button class="btn-tertiary w-full">Submit</button>
  <!-- end TEMP -->

  <!-- <request-information-form></request-information-form> -->
</div>

<script>
  class RequestInformationForm extends HTMLElement {
    formId: string = "267f853e-db82-405c-9e27-8ab5c95c4caa";

    connectedCallback() {
      const div = document.createElement("div");
      const script = document.createElement("script");
      const style = document.createElement("style");

      style.textContent = `
        .form_container select,
        .form_container input {
          background-color: white;
          width: 100%;
          height: 40px;
          padding-inline: 12px;
          border: 1px solid #4389b4;
        }

        .form_birthdate .form_responses {
          display: grid;
          gap: 4px;
          grid-template-columns: 3fr 1fr 2fr;
        }
        
        .form_birthdate select {
          margin-left: unset !important;
        }

        .form_button_submit {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          height: 40px;
          padding-inline: 12px;
          text-align: center;
          font-family: priori-sans, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 0.05em;
          background-color: #273d5e;
          width: 100%;
          color: white;
        }

        .form_button_submit:hover {
          opacity: 0.75;
        }
      `;

      div.textContent = "Loading...";
      div.id = `form_${this.formId}`;

      script.async = true;
      script.src = `https://mcadmissions.messiah.edu/register/?id=${this.formId}&output=embed&div=form_${this.formId}`;

      this.append(div, script, style);
    }
  }

  customElements.define("request-information-form", RequestInformationForm);
</script>
