---
import type { HTMLAttributes } from "astro/types";
import { cn } from "../lib/utils";

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props;
---

<div
  class={cn("f-carousel", className)}
  x-id="['slider']"
  :id="$id('slider')"
  x-init="$nextTick(() => {
    new Carousel(document.getElementById($id('slider')), { infinite: true, Dots: false, transition: 'slide', center: false, slidesPerPage: 4 })
  })"
  {...props}
>
  <slot />
</div>
