---
import type { HTMLAttributes } from "astro/types";
import { cn } from "../lib/utils";

interface Props extends HTMLAttributes<"nav"> {
  value: number;
}

const { value, class: className, ...props } = Astro.props;
---

<div
  x-data="{
    init() {
      this.$nextTick(() => {
        const { progress } =  this.$refs;

        progress.style.setProperty('--progress', `${progress.getAttribute('data-value')}%`);
      });
    }
}"
  class="@container"
  data-analytics="stats"
>
  <div
    class={cn(
      "bg-[url(/images/grad_stats_background.jpg)] bg-cover flex gap-8 p-8 items-center flex-wrap @md:flex-nowrap",
      className,
    )}
    {...props}
  >
    <p class="text-white font-bold text-2xl">
      <slot />
    </p>

    <div
      x-ref="progress"
      data-value={value}
      style={{ "--progress": "0%" }}
      class="size-48 text-4xl flex items-center justify-center aspect-square rounded-full after:rounded-full after:bg-primary-800 after:size-44 after:content-[attr(data-value)_'%'] after:flex after:items-center after:justify-center text-white bg-progress-gradient transition-progress duration-500"
      role="presentation"
    >
    </div>
  </div>
</div>
