<div class="rich-text">
  <h2>Courses Content</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus porro nostrum reprehenderit
    illum quisquam inventore expedita? Iure quam cumque dolorem, animi doloribus id nisi excepturi
    ipsum, ipsam distinctio iste non.
  </p>
</div>
