---
import ProgramHeader from "../../components/program-header.astro";
---

<ProgramHeader
  class="relative"
  title="MBA - Digital Marketing concentration"
  description="In today's fast-paced, digitally connected society, businesses must adopt new and interactive marketing approaches to connect people to their products and services. The digital marketing MBA concentration equips leaders to employ the latest digital marketing strategies, techniques and tools to online advertising, social media, mobile marketing and big data analytics to effectively and ethically reach target customers and grow their businesses. "
>
  <aside
    class="md:bg-primary-800/80 md:backdrop-blur-sm md:text-white md:max-w-xs md:absolute md:right-0 md:bottom-0 mt-8 md:mt-0"
  >
    <h3 class="font-title text-xl font-bold text-tertiary-300 uppercase md:text-2xl py-4 md:ml-16">
      Program Details
    </h3>

    <ul class="space-y-1">
      <li class="flex items-center gap-4 md:px-4 md:py-2">
        <img
          aria-hidden="true"
          src="https://www.messiah.edu/site/custom_scripts/styles/grad-program/grad-program/images/program_page_images/save-money.svg"
          alt=""
          class="size-8"
        />
        $780 per credit
      </li>
      <li class="flex items-center gap-4 md:px-4 md:py-2">
        <img
          aria-hidden="true"
          src="https://www.messiah.edu/site/custom_scripts/styles/grad-program/grad-program/images/program_page_images/pencil.svg"
          alt=""
          class="size-8"
        />
        36 credits
      </li>
      <li class="flex items-center gap-4 md:px-4 md:py-2">
        <img
          aria-hidden="true"
          src="https://www.messiah.edu/site/custom_scripts/styles/grad-program/grad-program/images/program_page_images/calendar.svg"
          alt=""
          class="size-8"
        />
        1-year completion, plus capstone
      </li>
      <li class="flex items-center gap-4 md:px-4 md:py-2">
        <img
          aria-hidden="true"
          src="https://www.messiah.edu/site/custom_scripts/styles/grad-program/grad-program/images/program_page_images/laptop.svg"
          alt=""
          class="size-8"
        />
        Courses start every 8 weeks
      </li>
      <li class="flex items-center gap-4 md:px-4 md:py-2">
        <img
          aria-hidden="true"
          src="https://www.messiah.edu/site/custom_scripts/styles/grad-program/grad-program/images/program_page_images/credit-card.svg"
          alt=""
          class="size-8"
        />
        No-fee tuition
      </li>
      <li>
        <a
          href="tel:717-796-5061"
          class="flex items-center gap-4 md:bg-primary-800 md:p-4 md:hover:bg-tertiary-400 transition-colors"
        >
          <img
            aria-hidden="true"
            src="https://www.messiah.edu/site/custom_scripts/styles/grad-program/grad-program/images/program_page_images/mobile-phone.svg"
            alt=""
            class="size-8"
          />717-796-5061</a
        >
      </li>
    </ul>
  </aside>
</ProgramHeader>
