---
import Accordion from "../../components/accordion.astro";
import Slider from "../../components/slider.astro";
import Youtube from "../../components/youtube.astro";
import RelatedPrograms from "../../components/related-programs.astro";
import Icon from "../../components/icon.astro";
---

<div class="rich-text">
  <h2>Digital Marketing overview</h2>

  <p>
    Messiah University’s nationally ranked MBA is designed for recent graduates and working
    professionals who seek to exponentially grow their careers and opportunities, expand their level
    of influence and deliver transformative impact to the businesses, organizations and communities
    they serve. <a href="https://www.messiah.edu/graduate/mba-certificate">MBA certificates</a> are also
    available.
  </p>
</div>

<Accordion id="program-details" title="Program details" allowProse>
  <div class="rich-text">
    <ul>
      <li>36 credits</li>
      <li>Fully online</li>
      <li>No-fee tuition</li>
      <li>Eight- and six-week courses</li>
      <li>One-year completion, plus capstone</li>
      <li>Culminating capstone project with faculty member and organization of your choice</li>
      <li>
        Biblical integration that will equip you to serve God more effectively as a faithful
        professional
      </li>
      <li>Practical courses that provide immediate value to your workplace</li>
      <li>Faculty who serve as mentors</li>
      <li>Extensive networking and career development opportunities</li>
      <li>
        <a href="https://www.messiah.edu/undergraduate/accelerated-business-administration-program"
          >5-year seamless bachelor’s degree to MBA available for undergraduate students</a
        >
      </li>
    </ul>
  </div>
</Accordion>

<Accordion id="career-options" title="Career options" allowProse>
  <div class="rich-text">
    <ul>
      <li>Executive, director or manager leading teams and organizations</li>
      <li>CEO, COO, CFO, CAO</li>
      <li>Financial manager / controller</li>
      <li>Human resources executive, director or manager</li>
      <li>Project / operations manager</li>
      <li>Sales / account executive</li>
      <li>Supply chain leader</li>
      <li>Consultant</li>
    </ul>

    <p>
      For more information on career planning, visit the <a
        href="http://messiah.edu/career"
        target="_blank">Messiah University Career and Professional Development Center</a
      >.
    </p>
  </div>
</Accordion>

<Accordion id="accreditation" title="Accreditation" allowProse>
  <div class="rich-text">
    <p>
      Messiah University is accredited by the Middle States Association of Colleges and Schools,
      Commission on Higher Education. It is the highest accrediting authority recognized by the U.S.
      Department of Education for degree-granting colleges and universities located in Pennsylvania,
      Delaware, the District of Columbia, Maryland, New Jersey, New York, Puerto Rico, the U.S.
      Virgin Islands and several other locations internationally.
    </p>

    <p>
      Additionally, Messiah University’s undergraduate and graduate programs in business are
      accredited by the Accreditation Council for Business Schools and Programs (ACBSP).
    </p>
  </div>
</Accordion>

<Youtube videoId="WvhBFxo40U4" litebox class="mb-8" />

<Slider class="my-16 [&_.f-button]:text-primary-800 [&_.f-button_svg]:size-16">
  <div class="f-carousel__slide px-16 md:px-4 w-full text-center">
    <a href="https://www.intelligent.com/best-masters-in-digital-marketing-degree-programs/">
      <figure class="flex items-center flex-col text-center">
        <img
          class="mb-8"
          src="https://www.messiah.edu/images/Best_Masters_in_Digital_Marketing_Programs_copy.jpg"
          alt=""
          width="200"
        />
        <figcaption class="max-w-lg">
          Intelligent.com has ranked Messiah #1 in the Best Master's in Digital Marketing Degree
          Programs category.
        </figcaption>
      </figure>
    </a>
  </div>
  <div class="f-carousel__slide px-16 md:px-4 w-full text-center">
    <a href="https://universityhq.org/best-colleges/pennsylvania/mba-degrees/">
      <figure class="flex items-center flex-col text-center">
        <img
          class="mb-8"
          src="https://www.messiah.edu/images/2023_best_mba_colleges_in_pennsylvania_badge_copy.jpg"
          alt=""
          width="200"
        />
        <figcaption class="max-w-lg">
          University HQ ranked Messiah as a Best MBA College in Pennsylvania.
        </figcaption>
      </figure>
    </a>
  </div>
  <div class="f-carousel__slide px-16 md:px-4 w-full text-center">
    <figure class="flex items-center flex-col text-center">
      <img
        class="mb-8"
        src="https://www.messiah.edu/images/Grad_School_Hub_Most_Affordable_Online_Programs_01.jpg"
        alt=""
        width="200"
      />
      <figcaption class="max-w-lg">
        Grad School Hub ranked Messiah’s MBA in digital marketing as one of the 10 Most Affordable
        Online Programs in the Internet Marketing Online category.
      </figcaption>
    </figure>
  </div>
</Slider>

<RelatedPrograms title="Programs related to Digital Marketing" />

<section
  data-analytics="event-list"
  class="@container not-prose border border-gray-300 bg-gray-100 mt-16"
  x-data="{
    events: [],
    loading: true,
    error: null,

    init() {
      fetch('https://mcadmissions.messiah.edu/manage/query/run?id=6b44ff97-1440-4d85-9af4-763f1ba61bea&cmd=service&output=json&h=791e014c-8628-41da-a015-66975377a29e')
        .then((response) => response.json())
        .then((data) => {
          this.events = data.row;
          this.loading = false;
        })
        .catch((error) => {
          this.error = `Could not fetch event list. (${error.message})`;
          this.loading = false;
        });
    },

    getMonth(date) {
      return Intl.DateTimeFormat('en-US', { month: 'short' }).format(new Date(date));
    },

    getDay(date) {
      return Intl.DateTimeFormat('en-US', { day: '2-digit' }).format(new Date(date));
    },
  }"
>
  <template x-if="loading">
    <div
      role="alert"
      class="bg-tertiary-100 border border-tertiary-200 text-tertiary-800 px-4 py-2"
    >
      <p>Loading event list...</p>
    </div>
  </template>

  <template x-if="error">
    <div role="alert" class="text-red-600 border border-red-200 bg-red-50 py-2 px-4">
      <p class="mb-2">Snap! Something went wrong. Please refresh the page or try again later.</p>
      <code x-text="error" class="text-sm leading-none"></code>
    </div>
  </template>

  <template x-if="!loading && !error">
    <div class="p-4 @md:p-8">
      <h3 class="mb-4 h4 text-primary-800">Upcoming open house events</h3>

      <ul class="space-y-2 @md:space-y-4">
        <template x-for="event in events">
          <li class="p-4 bg-white shadow-md w-full flex items-center gap-4 relative group">
            <time
              :datetime="event.StartDate"
              class="bg-gray-800 uppercase font-title font-bold text-white w-12 text-center aspect-square leading-none flex flex-col items-center justify-center group-hover:bg-primary-700 transition-colors flex-shrink-0"
            >
              <span x-text="getMonth(event.StartDate)"></span>
              <span x-text="getDay(event.StartDate)"></span>
            </time>
            <a
              :href="event.URL"
              class="after:absolute after:inset-0 @md:text-lg leading-tight group-hover:text-tertiary-400 transition-colors"
              x-text="event.Title"
            >
            </a>
            <Icon name="chevron-right" class="ml-auto size-5 hidden @md:block" />
          </li>
        </template>
      </ul>
    </div>
  </template>
</section>
