<section
  class="text-center bg-[url(/images/graduate-studies-bg.jpg)] bg-cover h-[50vw] max-h-[900px] min-h-[600px] scroll-m-24"
  id="graduate-school"
>
  <div class="wrapper py-24">
    <h2 class="h2 text-primary-800 text-center mb-8">
      School of Graduate and Professional Studies
    </h2>
    <p class="paragraph mb-8 max-w-4xl mx-auto">
      Messiah University’s School of Graduate and Professional Studies educates students for a
      lifetime of intellectual exploration, ethical leadership and exceptional professional practice
      within a complex world.
    </p>
    <a href="https://www.messiah.edu/gradprograms" class="btn-tertiary">Learn more</a>
  </div>
</section>
