<h3 class="h3">Digital Marketing tuition cost</h3>

<h4 class="h4">No-fee tuition</h4>

<p class="mb-4">
  Know what you are paying for with Messiah’s no-fee tuition. With our graduate programs, the cost
  per credit is what you pay – there are no hidden fees for labs, courses, services or technology.
  We put the true cost of your program upfront so that you can accurately compare and plan for your
  graduate education.
</p>

<h4 class="h4">Deferred billing</h4>

<p class="mb-4">
  Deferred billing is available for students with employer reimbursement. For more information
  contact Student Financial Services at <a
    href="mailto:gradfinancialserv@messiah.edu"
    class="link underline">gradfinancialserv@messiah.edu</a
  >.
</p>

<h3 class="h3">2024-2025</h3>

<p class="mb-4">
  No-fee tuition per graduate credit hour: $780<br />
  Tuition cost for the entire 36-credit program at the 2024-2025 rate: $28,080<br /><br />

  Graduate students are eligible to apply for federal financial aid.
</p>

<a
  href="https://www.messiah.edu/info/21313/financial_aid_for_graduate_programs"
  class="btn btn-primary">Financial aid</a
>
