<div class="rich-text">
  <h2>Faithful perspective</h2>

  <p>
    At Messiah University we believe that faith transforms how we view and practice business and
    leadership. It inspires us to serve God through the organizations we lead, and to create
    mutually beneficial opportunities with our customers, employees and communities.
  </p>

  <h2>Educational distinction</h2>

  <p>
    We are a nationally ranked and recognized teaching institution. You’ll be mentored and taught by
    faculty that have served God faithfully in their careers, possess advanced academic credentials,
    and have real-world experience to help you put theory into practice and to make an immediate
    impact in your organization.
  </p>

  <h2>Practical relevance</h2>

  <p>
    Our degree and certificate programs leverage the latest research, best practices and proven
    models for business and leadership success. Our unique concentrations and course offerings give
    you options in emergent and prominent disciplines. You’ll immediately be able to apply what
    you’re learning in your own work environment as you lead faithfully.
  </p>

  <h2>Flexible convenience</h2>

  <p>
    Our business and leadership programs are completely online with six entry points in the calendar
    year.
  </p>

  <h2>Meaningful community</h2>

  <p>
    When you enroll at Messiah University you become part of a vibrant community of professionals
    from various industries, backgrounds and experiences who are seeking to be faithful and
    influential leaders in the marketplace. We intentionally keep our class sizes small so that you
    can develop meaningful relationships with your community of peers and professors. When you
    graduate, you become part of Messiah University's extensive alumni network of notable
    professionals that are transforming their world.
  </p>
</div>
