<div class="border border-gray-300 p-4 text-center">
  <p class="mb-4">
    Transfer and international students have a slightly different application process. Click the
    appropriate link to find out more.
  </p>

  <a
    class="btn btn-quaternary w-full mb-1"
    href="http://www.messiah.edu/info/21340/transfer_students">Transfer students</a
  >
  <a
    class="btn btn-quaternary w-full"
    href="http://www.messiah.edu/info/21341/international_students">International students</a
  >
</div>
