<div class="bg-primary-800 p-4 text-center">
  <h4 class="text-tertiary-400 font-title text-3xl font-bold mb-4 uppercase">
    Learn More <span class="text-white block text-xl">About Messiah</span>
  </h4>
  <p class="text-white mb-4">
    We would love to learn more about you and customize future communications. Get started by
    filling out our inquiry form.
  </p>
  <a class="btn btn-quaternary w-full" href="https://www.messiah.edu/request-info"
    >Complete the form</a
  >
</div>
