<h3 class="text-2xl font-bold font-title text-primary-800 flex items-center gap-2 mb-4">
  <span
    class="bg-primary-800 text-white text-base flex items-center justify-center size-6 rounded-full"
    >1</span
  >Discover
</h3>

<p class="mb-4">
  First things first: Can you accomplish your career goals at Messiah University? Secondly, how can
  Messiah University make this quality education financially comfortable for you and your family?
  Let's find out.
</p>

<ul class="list-disc pl-8 mb-8">
  <li>
    <a class="link underline" href="https://www.messiah.edu/majors-minors-programs"
      >Find your major</a
    >
  </li>
  <li>
    <a class="link underline" href="http://www.messiah.edu/info/21344/tuition_and_aid"
      >Check out tuition aid options</a
    >
  </li>
</ul>

<h3 class="text-2xl font-bold font-title text-primary-800 flex items-center gap-2 mb-4">
  <span
    class="bg-primary-800 text-white text-base flex items-center justify-center size-6 rounded-full"
    >2</span
  >Experience Campus
</h3>

<p class="mb-4">
  We invite you to visit Messiah's campus. Whether you attend an Open House, schedule a personal
  tour or opt to stay overnight, you'll find that spending time on our beautiful campus is an
  excellent way to gauge whether you could call Messiah home.
</p>

<a href="http://www.messiah.edu/info/21343/visit_campus" class="btn btn-quaternary mb-8"
  >Visit Campus</a
>

<h3 class="text-2xl font-bold font-title text-primary-800 flex items-center gap-2 mb-4">
  <span
    class="bg-primary-800 text-white text-base flex items-center justify-center size-6 rounded-full"
    >3</span
  >Connect
</h3>

<p class="mb-4">
  Messiah's admissions team is ready to walk you through the application process and answer your
  questions.<br />
  Identify your personal counselor based on their geographical territory or their area of specialty:
</p>

<ul class="list-disc pl-8 mb-8">
  <li>
    <a class="link underline" href="http://www.messiah.edu/info/21356/meet_your_couneslor"
      >Future student</a
    >
  </li>
  <li>
    <a class="link underline" href="http://www.messiah.edu/info/21363/meet_your_counselor"
      >Transfer student</a
    >
  </li>
  <li>
    <a class="link underline" href="http://www.messiah.edu/info/21367/meet_your_counselors"
      >International student</a
    >
  </li>
</ul>

<h3 class="text-2xl font-bold font-title text-primary-800 flex items-center gap-2 mb-4">
  <span
    class="bg-primary-800 text-white text-base flex items-center justify-center size-6 rounded-full"
    >4</span
  >Request Info
</h3>

<p class="mb-4">
  Take a minute or two and fill out the inquiry form. That allows us to stay in touch and provide
  you with more information about the programs and people of interest to you at Messiah.
</p>

<a href="https://www.messiah.edu/request-info" class="btn btn-quaternary">Request info</a>
