---
import Icon from "../../components/icon.astro";
---

<h3 class="text-2xl font-bold font-title text-primary-800 flex items-center gap-2 mb-4">
  <span
    class="bg-primary-800 text-white text-base flex items-center justify-center size-6 rounded-full"
    >1</span
  >Fill out the application
</h3>

<p class="mb-4">
  Start your application today! Typically the application only takes about 20-30 minutes to
  complete.
</p>

<a href="https://www.messiah.edu/applytoday" class="btn btn-quaternary mb-4">Apply Now</a>

<p class="mb-8 flex gap-2">
  <Icon name="info" />
  You can also find us on the Common App (First-year applicants only)
</p>

<h3 class="text-2xl font-bold font-title text-primary-800 flex items-center gap-2 mb-4">
  <span
    class="bg-primary-800 text-white text-base flex items-center justify-center size-6 rounded-full"
    >2</span
  >Complete application file
</h3>

<p class="mb-4">
  Once your application file is complete, you can expect a decision from us within 2-3 weeks.
</p>

<ul class="list-disc pl-8 mb-8">
  <li>
    <a
      class="link underline"
      href="http://www.messiah.edu/info/21083/undergraduate_admissions/2264/complete_application_file"
      >Write a personal statement (included in application)</a
    >
  </li>
  <li>
    <a
      class="link underline"
      href="http://www.messiah.edu/info/21083/undergraduate_admissions/2264/complete_application_file/2"
      >Pay a $50 application fee (unless waived prior to Nov. 15)</a
    >
  </li>
  <li>
    <a
      class="link underline"
      href="http://www.messiah.edu/info/21083/undergraduate_admissions/2264/complete_application_file/3"
      >Provide a high school transcript</a
    >
  </li>
  <li>
    <a
      class="link underline"
      href="http://www.messiah.edu/info/21083/undergraduate_admissions/2264/complete_application_file/4"
      >Send SAT/ACT/CLT scores (optional)</a
    >
  </li>
</ul>
