<h3 class="text-2xl font-bold font-title text-primary-800 flex items-center gap-2 mb-4">
  <span
    class="bg-primary-800 text-white text-base flex items-center justify-center size-6 rounded-full"
    >1</span
  >Congratulations on your acceptance
</h3>

<p class="mb-8">
  The awaited acceptance letter has arrived. You're at a critical decision-making point in your
  college search. Will you take the next steps, signaling your commitment to make Messiah University
  home for your college experience? We hope you will.
</p>

<h3 class="text-2xl font-bold font-title text-primary-800 flex items-center gap-2 mb-4">
  <span
    class="bg-primary-800 text-white text-base flex items-center justify-center size-6 rounded-full"
    >2</span
  >Your next steps
</h3>

<p class="mb-4">Below are some recommended steps to take after your acceptance.</p>

<ul class="list-disc pl-8 mb-8">
  <li>
    <a
      class="link underline"
      href="https://www.messiah.edu/homepage/4187/virtual_visits_for_accepted_students"
      >Check out visit options for accepted students</a
    >
  </li>
  <li>
    <a class="link underline" href="https://www.messiah.edu/deposit"
      >Pay your $200 deposit to secure your spot</a
    >
  </li>
  <li>
    <a class="link underline" href="https://www.messiah.edu/fin-aid"
      >Continue exploring financial aid options</a
    >
  </li>
  <li>
    <a class="link underline" href="https://www.messiah.edu/homepage/3749/accepted_students"
      >Explore accepted student resources
    </a>
  </li>
  <li>
    <a class="link underline" href="https://www.messiah.edu/homepage/3749/accepted_students"
      >Contact your counselor with any remaining questions
    </a>
  </li>
</ul>

<h3 class="text-2xl font-bold font-title text-primary-800 flex items-center gap-2 mb-4">
  <span
    class="bg-primary-800 text-white text-base flex items-center justify-center size-6 rounded-full"
    >3</span
  >Don't forget!
</h3>

<p>
  Start checking your Messiah email account regularly to watch for important updates and timelines.
</p>
