<h3 class="text-2xl font-bold font-title text-primary-800 flex items-center gap-2 mb-4">
  <span
    class="bg-primary-800 text-white text-base flex items-center justify-center size-6 rounded-full"
    >1</span
  >Reserve your place at Messiah University
</h3>

<p class="mb-4">
  It's official! You're going to be a Messiah University Falcon! If you haven't already, please pay
  your deposit ($200) to hold your spot.
</p>

<a
  href="http://www.messiah.edu/info/21342/accepted_students/2127/pay_your_deposit"
  class="btn btn-quaternary mb-8">Pay your deposit</a
>

<h3 class="text-2xl font-bold font-title text-primary-800 flex items-center gap-2 mb-4">
  <span
    class="bg-primary-800 text-white text-base flex items-center justify-center size-6 rounded-full"
    >2</span
  >Your next steps
</h3>

<ul class="list-disc pl-8 mb-8">
  <li>Review and accept your financial aid package.</li>
  <li>
    Continue checking Messiah University email account for important updates, such as deadlines for
    course registration (June) and housing signups (begins early March).
  </li>
  <li class="font-bold">Count down the days!</li>
</ul>
