---
const items = [
  {
    title: "Mission and Identity",
    url: "https://www.messiah.edu/info/20003/faith_and_values/3844/mission_and_identity",
    image: "https://www.messiah.edu/site/custom_scripts/styles/img/about/mission-a-identity.png",
  },
  {
    title: "Statements of Faith",
    url: "https://www.messiah.edu/info/20003/faith_and_values/5/statements_of_faith",
    image: "https://www.messiah.edu/site/custom_scripts/styles/img/about/statements-of-faith.png",
  },
  {
    title: "Community Covenant",
    url: "https://www.messiah.edu/info/20722/expectations/6/community_covenant",
    image: "https://www.messiah.edu/site/custom_scripts/styles/img/about/community-covenant.png",
  },
];
---

<section class="wrapper py-24 scroll-m-24" id="faith-community">
  <h2 class="text-primary-800 h2 text-center">An authentic faith community</h2>
  <p class="text-center max-w-4xl mx-auto paragraph">
    Messiah University is an educational community profoundly committed to worshipping, loving and
    serving God. The University’s motto, “Christ Preeminent,” points to our community’s full, rich
    shared understanding of Jesus Christ and how the Christian faith is relevant to every dimension
    of life. At Messiah we’re committed to personal faith in Christ for the forgiveness of sin and
    to pursuing the exemplary nature of Christ's life as a model for our own lives. This common
    Christian conviction shapes every aspect of students’ experiences in the Messiah community.
  </p>

  <ul class="grid grid-cols-3 gap-8 mt-8">
    {
      items.map((item) => (
        <li>
          <a
            class="group font-title text-primary-800 font-bold text-center text-3xl flex flex-col items-center"
            href={item.url}
          >
            <img
              src={item.image}
              alt=""
              class="mb-2 rounded-full group-hover:opacity-75 transition-opacity"
            />
            {item.title}
          </a>
        </li>
      ))
    }
  </ul>
</section>
