---
import Icon from "../../components/icon.astro";
---

<section
  id="our-history"
  class="relative scroll-m-24 bg-[url(/images/founded-bg.jpg)] bg-no-repeat bg-cover max-h-screen lg:h-[50vw] flex items-center"
>
  <div class="lg:wrapper w-full">
    <div
      class="bg-primary-800/80 w-full lg:max-w-3xl p-8"
      x-data="{
        selected: 0,

        entries: [
          {
            title: 'Founded in 1909',
            description:
              'Messiah University is founded by the Brethren in Christ Church under the presidency of S.R. Smith, a church leader and Harrisburg businessman. Its original name was Messiah Bible School and Missionary Training Home. It began as a school offering high school curriculum and a few Bible programs.',
              label: '1909',
          },
          {
            title: 'Messiah relocates to Grantham',
            description:
              'Messiah Bible School and Missionary Training Home relocates to Grantham, Pennsylvania where students and educators have more classroom space as well as a campus library, dining hall and chapel',
              label: '1912',
          },
          {
            title: 'Name change to Messiah Bible College',
            description:
              'Developments in academic programs suggest a name change is necessary. The Messiah Bible School and Missionary Training Home changes its name to Messiah Bible College, which more adequately represents the nature of the school.',
              label: '1924',
          },
          {
            title: 'Curriculum expanded',
            description:
              'Messiah College expands its academic curriculum to begin offering college-level courses.',
              label: '1929',
          },
          {
            title: 'Another name change',
            description: 'Messiah Bible College officially changes its name to Messiah College',
            label: '1951',
          },
          {
            title: 'Athletics joins the MAC Conference',
            description:
              'Messiah Athletics joins the MAC (Middle Atlantic Conference), which at the time was an athletic organization of 26 small, private liberal arts colleges in Pennsylvania, New Jersey, Delaware and Maryland',
              label: '1983',
          },
          {
            title: 'Service learning established through the Agape Center',
            description: 'The Agape Center for Service and Learning is founded',
            label: '1997',
          },
          {
            title: 'The Oakes Museum opens',
            description:
              'With the completion of the Jordan Science Center, Messiah College opened the Oakes Museum, a 40,000-square foot museum with Smithsonian-quality collections of North American and African wildlife, seashells, bird eggs, insects, minerals and fossils',
              label: '1999',
          },
          {
            title: 'Eighth and current president named',
            description:
              'Kim S. Phipps, is named the eighth president (and the first female president) of Messiah College.',
              label: '2004',
          },
          {
            title: 'Candidates, computers and championships',
            description:
              'Messiah hosts The Compassion Forum, a nationally televised, unprecedented conversation with then-presidential candidates Barack Obama and Hillary Clinton on the integration of faith and public policy. Messiah begins offering undergraduate online courses during the summer session',
              label: '2008',
          },
          {
            title: 'Graduate programs launched; Centennial celebration',
            description:
              'Messiah launches its first on many graduate programs to come, an online master’s degree in counseling. Messiah celebrates a century of God’s faithfulness during its centennial year, with the Centennial celebration “Shared Faith. Bold Vision. Enduring Promise” during the 2009-2010 academic year',
              label: '2009',
          },
          {
            title: 'DNP approved',
            description:
              'The Pennsylvania State Board of Nursing fully approves a new Doctor of Nursing Practice-Family Nursing Practitioner (DNP-FNP) program',
              label: '2015',
          },
          {
            title: 'Messiah College becomes Messiah University',
            description:
              'Messiah College officially becomes Messiah University. The new name more accurately reflects Messiah’s structure that offers an extensive mix of undergraduate and graduate programs in both the liberal and applied arts and sciences—including expansion to master’s and doctorate programs',
              label: '2020',
          },
          {
            title: 'Dedication of new Kim S. Phipps Admissions and Welcome Center',
            description:
              'Messiah officially dedicates the Admissions and Welcome Center, a centralized space for prospective students that houses Undergraduate Admissions, as well as other offices that recruit and retain students, including Financial Aid and Financial Services, the Registrar’s Office, and the Office of Alumni and Parent Relations.',
              label: '2021',
          },
        ],
      }"
    >
      <template x-for="entry, index in entries">
        <div class="text-white sm:h-60 mb-8" x-show="selected === index">
          <h3 class="font-title font-bold text-4xl mb-2" x-text="entry.title"></h3>
          <p x-text="entry.description"></p>
        </div>
      </template>

      <div class="flex items-center gap-4 flex-wrap">
        <button
          type="button"
          aria-label="previous slide"
          class="text-white link disabled:text-gray-400"
          :disabled="selected === 0"
          @click="selected = selected - 1"
        >
          <Icon name="chevron-right" class="size-8 rotate-180 pointer-events-none" />
        </button>
        <button
          type="button"
          aria-label="next slide"
          class="text-white link disabled:text-gray-400"
          :disabled="selected === entries.length - 1"
          @click="selected = selected + 1"
        >
          <Icon name="chevron-right" class="size-8 pointer-events-none" />
        </button>

        <a href="https://www.messiah.edu/info/20013/our_history" class="btn-quaternary"
          >Read more about our history</a
        >
      </div>

      <nav class="flex mt-8 flex-wrap">
        <template x-for="entry, index in entries">
          <button
            @click="selected = index"
            type="button"
            class="flex flex-col flex-1 items-center group relative after:absolute after:h-px after:bg-gray-400 after:w-1/2 after:left-8 after:bottom-2 before:absolute before:h-px before:bg-gray-400 before:w-1/2 before:right-8 before:bottom-2 last-of-type:after:hidden first-of-type:before:hidden before:hidden sm:before:block after:hidden sm:after:block"
          >
            <span
              x-text="entry.label"
              class="text-white text-sm pointer-events-none transition-opacity"
              :class="selected !== index ? 'opacity-0' : ''"
            >
            </span>
            <span
              class="block mt-1 w-4 h-4 rounded-full pointer-events-none transition-colors border-2 border-gray-400"
              :class="selected === index ? 'bg-white border-white' : ''"></span>
          </button>
        </template>
      </nav>
    </div>
  </div>
</section>
