---
import ByTheNumbers from "../../components/by-the-numbers.astro";
import Youtube from "../../components/youtube.astro";
---

<section id="start" class="wrapper py-24 flex flex-col lg:flex-row gap-12 lg:gap-24">
  <div class="lg:w-3/5">
    <h2 class="h2 text-primary-800">Who we are</h2>

    <p class="paragraph">
      Messiah University is a nationally ranked, private Christian university with a student body of
      3,320 undergraduate and graduate students. Our scenic 375-acre suburban campus is located in
      central Pennsylvania, just 12 miles from the state capital of Harrisburg. The University was
      founded in 1909 by the Brethren in Christ Church. Today, the University’s faith base is
      broadly evangelical and includes students and employees from a variety of denominations and
      Christian faith traditions.
    </p>
  </div>

  <Youtube
    class="lg:w-2/5 mt-4 self-start"
    src="https://www.youtube.com/watch?v=5_svwEuH9fY"
    preview="https://www.messiah.edu/site/custom_scripts/styles/img/about-video2.jpg"
  />
</section>

<ByTheNumbers
  class="wrapper pb-24"
  links={[
    { label: "Messiah at a glance", href: "https://www.messiah.edu/info/20002/college_profile" },
    { label: "View recognitions", href: "https://www.messiah.edu/info/20020/recognitions" },
  ]}
>
  <li class="text-center sm:text-xl md:text-2xl bg-white py-12 md:py-0 md:px-12">
    <img class="mx-auto mb-8 max-w-24" src="/icons/globe.png" alt="" />
    <p>
      Named in the <span class="text-tertiary-500">Top 50 Best Christian Graduate Schools</span> by Christian
      Universities Online
    </p>
  </li>
  <li class="text-center sm:text-xl md:text-2xl bg-white py-12 md:py-0 md:px-12">
    <img class="mx-auto mb-8" src="/icons/leadership-alt.svg" alt="" />
    <p>
      Messiah University offers <span class="text-tertiary-500"
        >20+ graduate degrees and certificate programs.</span
      >
    </p>
  </li>
  <li class="text-center sm:text-xl md:text-2xl bg-white py-12 md:py-0 md:px-12">
    <img class="mx-auto mb-8 max-w-24" src="/icons/on-campus.png" alt="" />
    <p>
      Messiah University has <span class="text-tertiary-500">781 graduate students</span> representing
      <span class="text-tertiary-500">38 states and 7 countries.</span>
    </p>
  </li>
</ByTheNumbers>
