---
import Youtube from "../../components/youtube.astro";
---

<section id="start" class="wrapper py-24 flex flex-col lg:flex-row gap-12 lg:gap-24">
  <div class="lg:w-3/5">
    <h2 class="h2 text-primary-800">Who we are</h2>

    <p class="paragraph">
      Messiah University is a nationally ranked, private Christian university with a student body of
      3,320 undergraduate and graduate students. Our scenic 375-acre suburban campus is located in
      central Pennsylvania, just 12 miles from the state capital of Harrisburg. The University was
      founded in 1909 by the Brethren in Christ Church. Today, the University’s faith base is
      broadly evangelical and includes students and employees from a variety of denominations and
      Christian faith traditions.
    </p>
  </div>

  <Youtube class="lg:w-2/5 mt-4" src="https://www.youtube.com/watch?v=5_svwEuH9fY" />
</section>

<section class="wrapper pb-24">
  <h2
    class="font-title text-primary-500 text-4xl text-center mb-8 relative before:absolute before:h-px before:bg-tertiary-300 before:left-0 before:right-0 before:top-1/2 after:absolute after:h-full after:bg-white after:w-1/3 after:left-1/2 after:-translate-x-1/2 after:-z-10 before:-z-20"
  >
    Messiah by the numbers
  </h2>

  <ul class="grid grid-cols-3 bg-tertiary-300 gap-px">
    <li class="text-center text-2xl bg-white px-12">
      <img class="mx-auto mb-8 max-w-24" src="/icons/globe.png" alt="" />
      <p>
        Named in the <span class="text-primary-500">Top 50 Best Christian Graduate Schools</span> by
        Christian Universities Online
      </p>
    </li>
    <li class="text-center text-2xl bg-white px-12">
      <img class="mx-auto mb-8" src="/icons/students-hug.png" alt="" />
      <p>
        Messiah University offers <span class="text-primary-500"
          >20+ graduate degrees and certificate programs.</span
        >
      </p>
    </li>
    <li class="text-center text-2xl bg-white px-12">
      <img class="mx-auto mb-8 max-w-24" src="/icons/on-campus.png" alt="" />
      <p>
        Messiah University has <span class="text-primary-500">781 graduate students</span> representing
        <span class="text-primary-500">38 states and 7 countries.</span>
      </p>
    </li>
  </ul>

  <div class="flex gap-2 justify-center mt-8">
    <a href="https://www.messiah.edu/info/20002/college_profile" class="btn-tertiary"
      >Messiah at a glance</a
    >
    <a href="https://www.messiah.edu/info/20020/recognitions" class="btn-tertiary"
      >View recognitions</a
    >
  </div>
</section>
