---
import Sidebar from "../../../components/sidebar.astro";
import WithoutHero from "../../../layouts/without-hero.astro";

const sidebarLinks = [
  {
    title: "Example Title",
    children: [
      { href: "/", name: "Page 1 regular" },
      {
        href: "/",
        name: "Page 2 with a long name",
      },
      {
        href: "/",
        name: "Page 3 with a really long name that breaks to two lines",
        active: true,
        children: [
          { href: "/", name: "Second level" },
          {
            href: "/",
            name: "Second level active with children",
          },
        ],
      },
    ],
  },
];
---

<WithoutHero
  title="Sidebar Example"
  description="Example of the mocked-out sidebar"
  analyticsKey="web-services/nav-example/2-levels-sub"
  breadcrumbs={[
    { name: "Home", href: "/" },
    { name: "Campus Directory", href: "/" },
    { name: "Offices", href: "/" },
    { name: "Web Services", href: "/" },
    { name: "Sidebar Example", href: "/" },
  ]}
>
  <Sidebar links={sidebarLinks} slot="sidebar">
    <a href="/" class="btn-tertiary w-full">First button</a>
    <a href="/" class="btn-tertiary w-full">Second button</a>
  </Sidebar>

  <div class="rich-text">
    <p>
      This page shows the sidebar when a level 1 page is being viewed. In this example the level 1
      page does have sub-pages.
    </p>
  </div>
</WithoutHero>
