---
import Sidebar from "../../../components/sidebar.astro";
import WithoutHero from "../../../layouts/without-hero.astro";

const sidebarLinks = [
  {
    title: "Example Title",
    children: [
      { href: "/", name: "Regular entry" },
      {
        href: "/",
        name: "Two levels deep",
      },
      {
        href: "/",
        name: "Three levels deep",
        active: true,
        children: [
          { href: "/", name: "Second level" },
          {
            href: "/",
            name: "Second level active with children",
            active: true,
            children: [
              { href: "/", name: "Third level active", active: true },
              { href: "/", name: "Third level" },
            ],
          },
        ],
      },
    ],
  },
];
---

<WithoutHero
  title="Sidebar Example"
  description="Example of the mocked-out sidebar"
  analyticsKey="web-services/nav-example/3-levels-sub"
  breadcrumbs={[
    { name: "Home", href: "/" },
    { name: "Campus Directory", href: "/" },
    { name: "Offices", href: "/" },
    { name: "Web Services", href: "/" },
    { name: "Sidebar Example", href: "/" },
  ]}
>
  <div class="flex flex-col md:flex-row">
    <Sidebar links={sidebarLinks}>
      <a href="/" class="btn-tertiary w-full">First button</a>
      <a href="/" class="btn-tertiary w-full">Second button</a>
    </Sidebar>

    <article class="md:px-10 md:py-8 rich-text">
      <p>This page shows the left nav when a user has clicked a page 3 levels deep.</p>
    </article>
  </div>
</WithoutHero>
