<section class="max-w-[1600px] mx-auto px-4 py-16 md:py-24">
  <h2 class="h2 text-primary-800 text-center">Financial Aid Resources</h2>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 mt-16">
    <article class="flex flex-col items-start bg-tertiary-600 text-white p-8 pt-16">
      <h3 class="font-bold uppercase h4 mb-2">Applying for aid</h3>
      <p class="mb-4 text-sm">
        Find all the information you need to successfully complete the financial aid process with
        this resource.
      </p>
      <a
        href="https://www.messiah.edu/info/21380/financial_aid_process"
        class="btn btn-quaternary mt-auto">Explore</a
      >
    </article>

    <article class="flex flex-col items-start bg-primary-800 text-white p-8 pt-16">
      <h3 class="font-bold uppercase h4 mb-2">Guide for Scholarships and Aid</h3>
      <p class="mb-4 text-sm">View Messiah University's financial aid brochure</p>
      <a
        href="https://issuu.com/messiahcollegeadmissions/docs/21_1180_adm_booklet_financial_aid-issuu"
        class="btn btn-quaternary mt-auto">Explore</a
      >
    </article>

    <article class="flex flex-col items-start bg-gray-800 text-white p-8 pt-16">
      <h3 class="font-bold uppercase h4 mb-2">
        Outside Scholarships & Free Scholarship Search Services
      </h3>
      <p class="mb-4 text-sm">Check-out some information on outside scholarships.</p>
      <a
        href="https://www.messiah.edu/info/24068/outside_scholarship_information"
        class="btn btn-quaternary mt-auto">Explore</a
      >
    </article>

    <article class="flex flex-col items-start bg-primary-800 text-white p-8 pt-16">
      <h3 class="font-bold uppercase h4 mb-2">Net Price Calculator</h3>
      <p class="mb-4 text-sm">
        This financial aid calculator will allow you to identify the financial aid that you may
        qualify to receive.
      </p>
      <a
        href="https://apex.messiah.edu/apex/f?p=1324:1&_gl=1*1546by1*_ga*MTQxMzgzNTMzNi4xNjc1MTc5NjMx*_ga_11QNM61CQ5*MTY3NjAzMzg2NC4zNDkuMS4xNjc2MDM0NjQ0LjU5LjAuMA.."
        class="btn btn-quaternary mt-auto">Explore</a
      >
    </article>
  </div>
</section>
