---
import Icon from "../../components/icon.astro";

const options = [
  {
    href: "http://www.messiah.edu/homepage/1636/financial_aid_information_for_accepted_students",
    label: "Accepted students",
  },
  {
    href: "http://www.messiah.edu/homepage/1637/financial_aid_information_for_transfer_students",
    label: "Transfer students",
  },
  {
    href: "http://www.messiah.edu/info/21341/international_students/2295/cost_and_aid",
    label: "International students",
  },
  {
    href: "http://www.messiah.edu/homepage/1639/financial_aid_information_for_current_students",
    label: "Current students",
  },
  {
    href: "http://www.messiah.edu/info/21313/financial_aid_for_graduate_programs",
    label: "Graduate students",
  },
  {
    href: "http://www.messiah.edu/info/21314/financial_aid_for_undergraduate_programs/2397/financial_aid_information_for_veterans",
    label: "Veterans",
  },
  {
    href: "http://www.messiah.edu/info/21314/financial_aid_for_undergraduate_programs/2398/financial_aid_information_for_parents",
    label: "Parents",
  },
];
---

<header class="wrapper py-24">
  <h2 class="h2 text-primary-800 text-center">
    We are committed to making Messiah accessible and affordable for all students and their
    families.
  </h2>
  <p class="paragraph text-center">
    We’re serious about this. If Messiah is the right university for you, we will work hard with you
    toward meeting the cost. Connect with us if you have questions about the Financial Aid
    opportunities listed below.
  </p>

  <div class="flex gap-2 justify-center mt-12">
    <a href="https://www.messiah.edu/info/21344/tuition_and_aid" class="btn btn-primary"
      >View tuition and fees</a
    >

    <div
      class="relative"
      x-data="{
        open: false,

        toggle() {
          if (this.open) {
            return this.close()
          }

          this.$refs.button.focus()

          this.open = true
        },
        close(focusAfter) {
          if (! this.open) return

          this.open = false

          focusAfter && focusAfter.focus()
        }
      }"
      @keydown.escape.prevent.stop="close($refs.button)"
      @focusin.window="! $refs.panel.contains($event.target) && close()"
      x-id="['dropdown-button']"
    >
      <button
        x-ref="button"
        type="button"
        class="btn-quaternary"
        aria-haspopup="listbox"
        :aria-expanded="open"
        :aria-controls="$id('dropdown-button')"
        @click="toggle()"
      >
        Information for
        <Icon name="bars" />
      </button>

      <ul
        x-ref="panel"
        x-show="open"
        x-cloak
        x-transition.origin.top.left
        @click.outside="close($refs.button)"
        :id="$id('dropdown-button')"
        role="listbox"
        class="absolute top-full bg-gray-100 text-primary-800 font-title font-bold w-full text-lg"
      >
        {
          options.map((option) => (
            <li role="option">
              <a class="py-2 px-4 block transition-colors hover:bg-gray-200" href={option.href}>
                {option.label}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</header>
