<header class="text-center mb-12">
  <h2 class="h2 text-primary-800">Pursue Your Degree in Occupational Therapy</h2>

  <p class="paragraph">Choose between the two student types below to get started.</p>
</header>
