---
import Youtube from "../../components/youtube.astro";
---

<p class="h3 text-center mt-24">
  Messiah University’s Master of Occupational Therapy is accredited by the Accreditation Council for
  Occupational Therapy Education (ACOTE)
</p>

<Youtube videoId="F1aidcZOMI4" litebox class="md:w-2/3 md:mx-auto" />
