<section
  class="h-[50vw] min-h-[500px] max-h-[1000px] relative flex justify-center items-end lg:items-center -mt-32"
  data-analytics="hero"
>
  <div
    class={`absolute inset-0 bg-[image:var(--bg-banner)] bg-cover bg-no-repeat after:absolute after:inset-0 after:bg-primary-900/75 -mt-32`}
    style={{ "--bg-banner": "url(/images/21_1204_image1_aerial_1620x720.jpg)" }}
    aria-hidden="true"
  >
  </div>

  <div class="text-center text-white z-10 mt-32 mb-4 px-4">
    <p
      class="mx-auto mb-4 max-w-2xl font-title text-2xl lg:text-3xl xl:text-4xl font-bold leading-none"
    >
      At Messiah University, your life, your faith, your world and your possibilities open up.
    </p>
    <h1 class="h1 mb-8">You see anew.</h1>
    <p class="mx-auto max-w-3xl text-sm md:text-base border border-white p-4">
      “So if anyone is in Christ, there is a new creation: everything old has passed away; see,
      everything has become new!” –2 Corinthians 5:17 (NRSV)
    </p>
  </div>
</section>
