<section
  id="metaphor"
  class="py-24 bg-primary-800 text-white lg:bg-[image:url(/images/stained-glass-noback-1620x720.svg)] bg-no-repeat bg-cover"
>
  <div class="max-w-6xl mx-auto px-4">
    <div class="lg:w-1/2 lg:translate-x-full">
      <h2 class="h2">The Messiah metaphor</h2>

      <p class="paragraph mb-8">
        At Messiah, each student brings a valuable perspective that is celebrated, appreciated and
        allowed to remain distinct. In the grace of our shared love of Christ - and in our worship,
        study and service - we combine our individual contributions into a community that is more
        beautiful together - like a strong and vibrant stained glass window.
      </p>

      <p class="paragraph mb-8">
        <i>And the insight that is born in everyone is the light that shines through.</i> Together we
        see anew.
      </p>

      <a href="https://youtu.be/h_2IHasue1Q" class="btn btn-quaternary text-left" data-fancybox
        >Watch the animation to learn more about Messiah University’s stained glass metaphor</a
      >
    </div>
  </div>
</section>
