<section
  id="promise"
  class="py-24 text-center text-white bg-[image:url(/images/21_1204_image3_coveredbridgeblue_1620x720.jpg)] bg-no-repeat bg-cover"
>
  <div class="max-w-6xl mx-auto px-4">
    <h2 class="h2">Our promise</h2>

    <p class="paragraph mb-8">
      In today's culture, you hear lots of organizations talk about their brand. And colleges and
      universities are no exception.
    </p>

    <p class="paragraph mb-8">
      At Messiah, we define our brand as a promise, a commitment we make to you about what makes us
      different from other colleges and universities. In other words, what does a Messiah education
      uniquely accomplish in the lives of our students? How do we achieve it? And for what higher
      purpose?
    </p>

    <p class="paragraph">
      Our brand is our promise to you. <a
        href="https://www.messiah.edu/info/20252/our_promise"
        class="link underline">Read Messiah's brand promise</a
      >.
    </p>
  </div>
</section>
