<section id="transformed" class="py-24 text-center bg-gray-100">
  <div class="max-w-6xl mx-auto px-4">
    <h2 class="h2 text-primary-800">Transformed lives: how our students see anew</h2>

    <p class="paragraph mb-8">
      The heart of “see anew” is the concept of transformation and reconciliation. Our students and
      alumni consistently tell us that their experience at Messiah was transforming—that it helped
      them see themselves, their faith, their life, their possibilities, and the world in exciting
      new ways.
    </p>

    <p class="paragraph mb-16">
      Watch the below videos to hear students share how they see anew at Messiah University.
    </p>

    <ul class="grid grid-cols-2 md:grid-cols-4 gap-16">
      <li class="text-center">
        <a
          class="font-title font-semibold text-primary-800 text-2xl group"
          href="https://www.messiah.edu/homepage/4915/see_your_faith_anew"
        >
          <img
            src="https://www.messiah.edu/images/see_your_faith_anew_play.jpg"
            alt=""
            class="mb-2 mx-auto rounded-full group-hover:opacity-75 transition-opacity border-4 border-tertiary-400"
          />
          Your faith
        </a>
      </li>

      <li class="text-center">
        <a
          class="font-title font-semibold text-primary-800 text-2xl group"
          href="https://www.messiah.edu/homepage/4914/your_life"
        >
          <img
            src="https://www.messiah.edu/images/see_your_life_anew_play.jpg"
            alt=""
            class="mb-2 mx-auto rounded-full group-hover:opacity-75 transition-opacity border-4 border-tertiary-400"
          />
          Your live
        </a>
      </li>

      <li class="text-center">
        <a
          class="font-title font-semibold text-primary-800 text-2xl group"
          href="https://www.messiah.edu/homepage/4919/see_your_possibilities_anew"
        >
          <img
            src="https://www.messiah.edu/images/see_your_possibilities_anew_play.jpg"
            alt=""
            class="mb-2 mx-auto rounded-full group-hover:opacity-75 transition-opacity border-4 border-tertiary-400"
          />
          Your possibilities
        </a>
      </li>

      <li class="text-center">
        <a
          class="font-title font-semibold text-primary-800 text-2xl group"
          href="https://www.messiah.edu/homepage/4916/see_your_world_anew"
        >
          <img
            src="https://www.messiah.edu/images/see_your_world_anew_play.jpg"
            alt=""
            class="mb-2 mx-auto rounded-full group-hover:opacity-75 transition-opacity border-4 border-tertiary-400"
          />
          Your world
        </a>
      </li>
    </ul>
  </div>
</section>
