<section
  id="what-happens"
  class="py-24 lg:bg-[image:url(/images/21_1204_WEBSITE_seeanew_ligatures_1.jpg)] bg-no-repeat bg-contain bg-right"
>
  <div class="max-w-6xl mx-auto px-4">
    <div class="lg:w-1/2">
      <h2 class="h2 text-primary-800 bg-white lg:w-max">What happens when?</h2>

      <p class="paragraph mb-8 bg-white lg:w-max">
        …a questioning intellect coexists with a believing heart?<br />
        …people who are different achieve harmonies of community?<br />
        …preparation empowers imagination and wisdom enhances expertise?<br />
      </p>

      <p class="paragraph mb-8 bg-white">
        <b
          >A Messiah education equips you to navigate life's tensions and bring together seemingly
          incompatible people and ideas.</b
        > We believe that this is exactly what the college years should be like for students, especially
        a Christ-centered college experience that’s rooted in the transformation we undergo as we follow
        Jesus together.
      </p>

      <a href="https://www.messiah.edu/homepage/4731/ligatures" class="btn btn-primary"
        >Learn more about our ligatures</a
      >
    </div>
  </div>
</section>
