---
import ByTheNumbers from "../../../components/by-the-numbers.astro";
---

<section id="overview" class="wrapper scroll-m-24 py-24 flex flex-col md:flex-row gap-12 lg:gap-24">
  <div class="md:w-1/2">
    <h2 class="h2 text-primary-800">Graduate studies academic overview</h2>

    <p class="paragraph">
      Are you ready to advance your education and career with a graduate degree or certificate?
      Messiah University is a <a
        class="link underline"
        href="https://www.messiah.edu/info/20020/recognitions">nationally ranked</a
      >, accredited university that successfully integrates top-tier academics and Christian faith.
      All of our graduate programs provide academic rigor and excellence through a convenient and
      flexible mix of learning options. Our <a
        class="link underline"
        href="https://www.messiah.edu/info/20020/recognitions">ten programs</a
      > include twelve master’s degrees, two doctoral degrees, and numerous graduate certificates and
      post-master’s certificates.
    </p>
  </div>

  <figure class="w-full md:w-1/2 mt-4 self-start">
    <img
      src="https://www.messiah.edu/site/custom_scripts/styles/img/academics/student-studying.jpg"
      alt=""
      class="w-full"
    />
  </figure>
</section>

<ByTheNumbers class="wrapper pb-24">
  <li class="text-center sm:text-xl md:text-2xl bg-white py-12 md:py-0 md:px-12">
    <img class="mx-auto mb-8 max-w-24" src="/icons/graduation-cap.svg" alt="" />
    <p>
      Named in the <span class="text-tertiary-500">Top 50 Best Christian Graduate Schools</span>
      by Christian Universities Online
    </p>
  </li>
  <li class="text-center sm:text-xl md:text-2xl bg-white py-12 md:py-0 md:px-12">
    <img class="mx-auto mb-8 max-w-24" src="/icons/degree-credential.svg" alt="" />
    <p>
      Messiah University offers <span class="text-tertiary-500"
        >20+ graduate degrees and certificate programs</span
      >.
    </p>
  </li>
  <li class="text-center sm:text-xl md:text-2xl bg-white py-12 md:py-0 md:px-12">
    <img class="mx-auto mb-8 max-w-24" src="/icons/leadership-alt.svg" alt="" />
    <p>
      Messiah University has <span class="text-tertiary-500">781 graduate students</span> representing
      <span class="text-tertiary-500">38 states and 7 countries</span>.
    </p>
  </li>
</ByTheNumbers>

<div class="flex flex-wrap gap-4 justify-center mb-24">
  <a href="https://www.messiah.edu/info/20020/recognitions" class="btn-tertiary"
    >View more distinctives</a
  >
</div>
