---
import Accordion from "../../components/accordion.astro";
import Stats from "../../components/stats.astro";
import Youtube from "../../components/youtube.astro";
import ProgramDetails from "../../components/program-details.astro";
import SingleProgram from "../../layouts/single-program.astro";
import Header from "../../views/undergraduate/header.astro";
import RelatedPrograms from "../../views/undergraduate/related-programs.astro";
import TabNavigation from "../../views/undergraduate/tab-navigation.astro";
---

<SingleProgram
  title="Accounting"
  image="/images/american_politics_concentration.jpg"
  description="Learn about Messiah's Accounting major program"
  badge="B.S."
  programs={["M", "m"]}
  analyticsKey="undergraduate/accounting-major"
>
  <Header />

  <TabNavigation>
    <Fragment slot="overview">
      <h3 class="h3">Study Accounting at a Christian University</h3>

      <p class="mb-4">
        As a graduate of Messiah's Bachelor of Science (B.S.) in accounting program, you will be in
        high demand by public accounting firms and national corporations, as well as small
        businesses. In fact, like more than 70 percent of our graduates, you may even find yourself
        accepting a job offer early in your senior year.
      </p>

      <p class="mb-4">
        You will develop competencies essential to creating, auditing and inspecting financial
        records. You will also learn soft skills necessary for collaborating with others on complex
        challenges in creating and communicating solutions. Just open your favorite job search board
        and you'll find a long list of job opportunities for accountants. Nationwide, large
        corporations, public accounting firms and governments, as well as small businesses and
        individuals, reflect this demand for trained accountants.
      </p>

      <Accordion id="distinctives" title="Accounting program distinctives">
        <p class="mb-4">
          As an accounting major or minor at Messiah University, you’ll be able to:
        </p>

        <ul class="list-disc pl-6">
          <li>
            Learn in a program that regularly ranks in the top PA programs for parts passed on the
            CPA exam.
          </li>
          <li>
            Study in a program that has been named a “Business College of Distinction” by Colleges
            of Distinction for 2023-2024.
          </li>
          <li>
            Be part of a major that was awarded specialized accreditation by the <a
              href="http://www.acbsp.org/"
              class="link underline">Accreditation Council for Business Schools and Programs</a
            > (ACBSP).
          </li>
          <li>
            Blend the application of technical and soft skills through an Internal Revenue
            Service-sponsored program (VITA) where you'll prepare tax returns for low-income
            individuals, the elderly and families within our community.
          </li>
          <li>
            Develop competencies essential to creating, auditing and inspecting the financial
            records of individuals and businesses.
          </li>
          <li>
            Take advantage of Messiah’s distinctive simulation curriculum for accounting majors in
            which you will learn how to successfully devise and communicate.
          </li>
          <li>
            Have the opportunity to be mentored by an upper class student and then an accounting
            alum during your tenure at Messiah.
          </li>
          <li>
            Join the Accounting Club and hear from guest speakers and participate in service
            projects.
          </li>
          <li>
            Learn from faculty with a minimum of 10 years in public and private accounting
            experience.
          </li>
        </ul>
      </Accordion>

      <Accordion id="career-options" title="Career options for accounting graduates">
        <p class="mb-4">
          The "Big Four" and many well-respected regional firms recruit Messiah accounting
          graduates, and employers consistently report that Messiah University produces highly
          competent graduates with the integrity, technical and communication skills needed in
          today's demanding business environment.
        </p>

        <p class="mb-4">
          As a graduate of the accounting program, you will be equipped to secure positions such as:
        </p>

        <ul class="list-disc pl-6 mb-4">
          <li>Auditor</li>
          <li>Tax accountant</li>
          <li>Consultant</li>
          <li>Financial analyst</li>
          <li>Controller</li>
          <li>Cost accountant</li>
          <li>Positions within merger services</li>
          <li>Positions within criminal justice</li>
        </ul>

        <p>
          For more information on career planning, visit the <a
            href="http://messiah.edu/career"
            target="_blank"
            class="underline link">Messiah University Career and Professional Development Center</a
          >.
        </p>
      </Accordion>

      <Accordion id="internships" title="Internship opportunities">
        <p class="mb-4">
          Messiah’s nationally recognized internship program helps place students in a variety of
          accounting internships. A few examples include:
        </p>

        <ul class="list-disc pl-6 mb-4">
          <li>Accounting firms</li>
          <li>Corporate offices</li>
          <li>Tax preparation</li>
          <li>Nonprofit organizations</li>
          <li>Auditing companies</li>
          <li>Government offices</li>
        </ul>
      </Accordion>

      <Youtube
        videoId="JEpsLgJpkWA"
        litebox
        preview="https://img.youtube.com/vi/JEpsLgJpkWA/hqdefault.jpg"
        class="mb-8"
      />

      <h3 class="h3">The CPA exam</h3>

      <p class="mb-8">
        Messiah University gives you an edge as you prepare to take the four parts of the Certified
        Public Accounting (CPA) exam. Our students have historically exceeded the national average
        pass rate for first-time test takers. They also typically complete the exam years earlier
        than their peers from other institutions. Our alumni rave about Messiah’s Accounting program
        and the advantage they received in starting their career as a CPA.
      </p>

      <RelatedPrograms />
    </Fragment>

    <Fragment slot="courses">
      <p>Courses</p>
    </Fragment>

    <Fragment slot="outcomes">
      <h3 class="h3">Accounting careers and outcomes</h3>

      <p class="mb-4">
        Graduates of the Accounting program work in positions of leadership in their places of
        employment, using the tools and knowledge a Messiah University education prepared them with.
        Each year, eager employers and some of the nation's best graduate schools welcome Messiah
        graduates into their organizations.
      </p>

      <a href="https://www.messiah.edu/info/20552/careers_and_outcomes" class="btn-primary mb-4"
        >Learn more</a
      >

      <ProgramDetails
        class="mb-4"
        what={[
          "Arther F. Bell",
          "Deloitte",
          "Ernst & Young",
          "Gannett Fleming",
          "Jr. & Associates",
          "LLP",
          "Martin's Famous Pastry Shoppe",
          "McKonley & Asbusy",
          "Mitchell Emert & Hill",
          "ParenteBeard",
          "Petway Mills & Pearson",
          "Reinsel Kuntz Lesher",
        ]}
        where={[
          "Accounts receivable associate",
          "Audit assistant",
          "Audit staff",
          "Billing support",
          "Certified public accountant",
          "Credit analyst",
          "Fraud examiner",
          "Senior accountant",
          "Staff accountant",
          "Tax preparer",
        ]}
        school={["Liberty University"]}
      />

      <Stats value={96} class="mb-4">
        96% of the Class of 2022 respondents were employed or in graduate school within 6-9 months
        of graduation.
      </Stats>

      <h4 class="h3">Our Alumni</h4>

      <p class="mb-4">
        Regional and national employers seek out Messiah graduates for their academic preparation,
        work ethic and personal character. The transformation you experience at Messiah readies you
        to transform the lives of others through your chosen career path.
      </p>

      <a href="https://www.messiah.edu/info/22136/our_alumni" class="btn-primary"
        >Meet alumni from the Department of Business</a
      >
    </Fragment>

    <Fragment slot="careers">
      <h3 class="h3">Community tax return preparation</h3>

      <p class="mb-4">
        For over two decades, Messiah students have consistently participated in an Internal Revenue
        Service-sponsored program known as the Volunteer Income Tax Assistant (VITA) program.
        Through the VITA program, you'll gain hands-on experience by preparing tax returns
        free-of-charge for low income individuals, elderly taxpayers, and families within our
        community. This is a wonderful opportunity to apply academic knowledge and social skills
        while helping those in need.
      </p>

      <h4 class="h3">Messiah's unique approach to hands-on learning</h4>

      <p class="mb-4">
        Learning in the classroom is important but actually applying that knowledge in a hands-on
        way can make all the difference. At Messiah University, the Experiential Learning Initiative
        (ELI) allows Messiah to take this hands-on learning to a new level by giving students the
        opportunity to apply what they have learned to various real world contexts--such as an
        internship/practica, service learning, off-campus program, holding a student leadership
        position, or participating in undergraduate research.
      </p>

      <a href="https://www.messiah.edu/career-prep" class="btn-primary mb-4">Learn more</a>

      <Youtube
        videoId="GjSNNxVuoWA"
        litebox
        preview="https://img.youtube.com/vi/GjSNNxVuoWA/hqdefault.jpg"
      />
    </Fragment>

    <Fragment slot="why-messiah">
      <h3 class="h3">Accounting-specific scholarships</h3>

      <p class="mb-4">
        Because of the accounting program's strong alumni support network, we are thrilled to offer
        over 10 different scholarship opportunities to incoming and current accounting major
        students.
      </p>

      <h4 class="h3">Soft skill integration</h4>

      <p class="mb-4">
        The Association of International Certified Professional Accounts (AICPA) says, “Accountants
        are taking an increasingly visible role within their organizations, working on
        cross-departmental projects ranging from strategic planning to information technology
        initiatives. In addition, they are presenting data to a number of diverse audiences. As a
        result, employers look for accounting professionals who not only possess financial expertise
        but also strong communication skills.”
      </p>

      <p class="mb-4">
        This major offers a distinctive experiential program that incorporates the teaching of
        communication into the upper-level accounting course sequence. Evaluated for accuracy,
        clarity and succinctness in both written and oral forms of communication, you will learn
        soft skills necessary for working with peers and communicating solutions to executives.
      </p>

      <a
        href="https://www.picpa.org/future-cpas/cpa-exam-licensing/work-experience-requirements"
        class="btn-primary mb-4">The 150 hour accounting education requirement</a
      >

      <h4 class="h3">Program accreditation</h4>

      <p class="mb-4">
        Messiah's accounting program has specialized accreditation by the Accreditation Council for
        Business Schools and Programs (ACBSP).
      </p>

      <p class="mb-4">
        ACBSP is the premier accrediting body for colleges and universities that emphasize teaching
        excellence; 900 institutions around the world are accredited by ACBSP. This accreditation
        signifies the department’s commitment to a focus on mission and on continuous quality
        improvement. For students, parents, prospective employers and graduate schools,
        accreditation demonstrates that Messiah has met rigorous standards in curriculum, strategic
        planning, leadership, stakeholder focus and measurement of student learning.
      </p>
    </Fragment>
  </TabNavigation>
</SingleProgram>
