<header
  class="relative bg-[image:var(--bg-banner)] isolate bg-center bg-cover bg-no-repeat after:absolute after:inset-0 after:bg-gradient-to-b after:from-black/60 after:to-transparent -mt-32 before:absolute before:inset-0 before:bg-gradient-to-r before:from-primary-700/60 before:to-transparent"
  style={{
    "--bg-banner": "url(/images/Educators_for_tomorrow_banner_1.jpg)",
  }}
  aria-hidden="true"
>
  <div
    class="mx-auto max-w-6xl px-4 h-[70vh] min-h-[550px] max-h-[800px] flex flex-col justify-center text-center relative z-10 text-white"
  >
    <h1 class="font-title text-8xl font-bold">
      Undergraduate Programs
    </h1>
    <p class="font-title text-3xl">
      Full list of majors, minors, and programs at Messiah University
    </p>

    <nav class="flex gap-2 bg-white p-2 rounded-full w-max mx-auto mt-12">
      <button type="button" class="text-white px-4 py-2 rounded-full bg-primary-800 min-w-24 hover:bg-primary-700">A-Z</button>
      <button type="button" class="text-primary-800 px-4 py-2 rounded-full min-w-24 hover:bg-gray-100">Browse by Interest</button>
    </nav>
  </div>
</header>