---
import Footer from "../components/footer.astro";
import DesktopMenu from "../components/header/desktop-menu.astro";
import MobileMenu from "../components/header/mobile-menu.astro";
import "../styles/base.css";

interface Props {
  title: string;
  description: string;
  transparent?: boolean;
}

const { title, description, transparent = true } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Messiah University" />
    <meta name="description" content={description} />

    <title>
      {title} | Messiah, a private Christian University in PA
    </title>

    <link rel="stylesheet" href="https://use.typekit.net/pix7cvk.css" />
    <!-- Google Tag Manager -->
    <script>
      // @ts-nocheck
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-PPRK8GZC");
    </script>
    <!-- End Google Tag Manager -->

    <!-- Alpine Plugins -->
    <script is:inline defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"
    ></script>
    <script
      is:inline
      defer
      src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
    <!-- End Alpine Plugins -->

    <!-- Fancyapps -->
    <script
      is:inline
      defer
      src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
    <script
      is:inline
      defer
      src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.umd.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"
    />
    <!-- End Fancyapps -->
  </head>
  <body class="font-sans text-gray-700">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-PPRK8GZC"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <a
      href="#content"
      class="btn-tertiary fixed left-1/2 top-0 -translate-x-1/2 z-50 -translate-y-full focus:translate-y-0"
      >Skip to content</a
    >

    <DesktopMenu transparent={transparent} />

    <MobileMenu transparent={transparent} />

    <slot />

    <Footer />
  </body>
</html>
