---
import Footer from "../components/footer.astro";
import Header from "../components/header/header.astro";
import "../styles/base.css";

interface Props {
  title: string;
  description: string;
  transparent?: boolean;
}

const { title, description, transparent = true } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Messiah University" />
    <meta name="description" content={description} />

    <title>
      {title} | Messiah, a private Christian University in PA
    </title>
  </head>
  <body class="font-sans text-gray-700">
    <Header transparent={transparent} />

    <slot />

    <Footer />
  </body>
</html>
