---
import Breadcrumbs from "../components/breadcrumbs.astro";
import BaseLayout from "./base.astro";

interface Props {
  title: string;
  description: string;
  image: string;
  breadcrumbs: {
    name: string;
    href: string;
  }[];
}

const { title, description, image, breadcrumbs } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <div
    class={`h-[40vw] relative min-h-[270px] max-h-[800px] border-b-8 border-tertiary-400 bg-[image:var(--bg-banner)] bg-cover bg-no-repeat after:absolute after:bottom-0 after:left-0 after:right-0 after:top-0 after:bg-gradient-to-b after:from-black/40 after:to-transparent -mt-32`}
    style={{ "--bg-banner": `url(${image})` }}
    aria-hidden="true"
  >
  </div>

  <main class="relative mx-auto -mt-20 lg:-mt-48 max-w-6xl" id="content">
    <h1 class="page-title mb-6 md:mb-1">Web Services at Messiah University</h1>

    <div class="bg-white px-6 py-4">
      <Breadcrumbs links={breadcrumbs} />

      <slot />
    </div>
  </main>
</BaseLayout>
